<div class="content">
    <h2>สรุปท้ายบท</h2>
    <pre>
        ปริมาณที่ใช้ในการการวัด การบันทึก การสำรวจ นิยมแสดงผลเป็นปริมาณตัวเลข ซึ่งแบ่ง
    ออกเป็น 2 แบบคือ แอนะล็อก และ ดิจิทัล ในระบบดิจิทัล ข้อมูลหรือสารสนเทศจะถูกนำเสนอใน
    ด้วยสถานะ 0 และ 1 ซึ่งระบบดิจิทัลออกแบบได้ง่าย สามารถจัดเก็บสารสนเทศได้ง่าย มีความถูกต้อง
    และเที่ยงตรงสูง การบำรุงรักษาตลอดการใช้งานน้อย ได้รับผลกระทบจากสัญญาณรบกวนน้อยมาก
    ในการใช้งานระบบดิจิทัลจะมีการแปลงข้อมูลดิจิทัลและแอนะล็อกกลับไปมา ซึ่งมี 4 ขั้นตอนดังนี้
    ขั้นตอนแรกแปลงตัวแปรเชิงกายภาพเป็นสัญญาณไฟฟ้า จากนั้นแปลงสัญญาณไฟฟ้าเป็นข้อมูลดิจิทัล
    ทำการประมวลผลข้อมูลดิจิทัล และแปลงสารสนเทศดิจิทัลเป็นรูปแบบที่นำไปใช้งาน ระบบดิจิทัลถูก
    ใช้งานอยู่ในวงจรอิเล็กทรอนิกส์ที่ถูกสร้างด้วยทรานซิสเตอร์เป็นองค์ประกอบหลัก สำหรับการ
    ออกแบบและสร้างวงจรอิเล็กทรอนิกส์เพื่อใช้งานระบบดิจิทัลจะใช้ทรานซิสเตอร์ประกอบเป็นวงจร
    เพื่อควบคุมการดำเนินการข้อมูลดิจิทัล โดยมี 3 องค์ประกอบ ดังนี้ โครงสร้างของระบบดิจิทัล การ
    และสังเคราะห์ระบบอิเล็กทรอนิกส์แบบดิจิตอล ตัวควบคุมแบบฝังตัว และไมโครคอนโทรลเลอร์ ใช้
    สถาปัตยกรรมระบบเชิงฮาร์ดแวร์ สามารถทำงานพื้นฐานหรืองานเฉพาะอย่างได้ซึ่งแตกต่างจาก
    คอมพิวเตอร์ส่วนบุคคลซึ่งใช้สถาปัตยกรรมระบบเชิงซอฟท์แวร์ซึ่งต้องมีระบบปฏิบัติการ ทำให้มี
    ความยืดหยุ่นในการติดตั้งซอฟท์แวร์ 
    </pre>
</div>