<div class="content">
    <div>
        <h2>ระบบตัวเลข (Number System)</h2>
        <pre>
            Brian, Holdsworth and Clive, Woods (2002 : 2) ได้กล่าวว่า ระบบตัวเลขที่ใช้กันมาก
        ที่สุด ก็คือ ระบบเลข 10 จ านวน นิยมแทนสัญลักษณ์ด้วย 0 1 2 3 4 5 6 7 8 และ 9 เรียกว่า
        เลขฐานสิบ ซึ่งเป็นระบบที่มีค่าประจ าหลัก (Positional-Value System) นั้นคือ ค่าของสัญลักษณ์
        ในแต่ละหลักขึ้นอยู่กับค่าประจ าหลัก
        จ านวน 352 ประกอบไปด้วย (3 x 100) + (5 x 10) + (2 x 1) จะเห็นว่าค่าของตัวเลข
        (Digit) พิจารณาจากหลักของตัวเลขตัวนั้น
        จะเห็นว่าสามารถหาหลักเกณฑ์ในการเขียนจ านวน N จากตัวเลข d จ านวน n ตัว ในเลข
        ฐาน (R) โดย
        </pre>
        <img src="assets/image/c2/ex2_1.PNG">
        <pre>
            ฐาน (Base หรือ Radix) ของระบบตัวเลขนิยามว่า คือ จ านวนของเลขต่าง ๆ ในระบบตัวเลข
            นั้น เช่น ระบบเลขฐานสิบ คือ ระบบที่มีตัวเลขจ านวนเต็มที่ต่างกัน 10 ตัว
            ระบบดิจิทัลมีการใช้งานเลขฐานแตกต่างกันออกไปตามลักษณะข้อมูล ตัวอย่างของระบบเลข
            ฐาน ได้แก่
            ฐานสอง (Binary Number) ประกอบด้วยเลข 0 และ 1
            ฐานสาม (Teranry Number) ประกอบด้วยเลข 0 1 และ 2
            ฐานห้า (Quinary Number) ประกอบด้วยเลข 0 1 2 3 และ 4
            ฐานแปด (Octal Number) ประกอบด้วยเลข 0 1 2 3 4 5 6 และ 7
            ฐานสิบ (Decimal Number) ประกอบด้วยเลข 0 1 2 3 4 5 6 7 8 และ 9
            ฐานสิบสอง (Duodecimal Number) ประกอบด้วยเลข 0 1 2 3 4 5 6 7 8 9 A และ B
            ฐานสิบหก (Hexadecimal Number) ประกอบด้วยเลข 0 1 2 3 4 5 6 7 8 9 A B C
            D E และ F
            ระบบตัวเลขที่ใช้ในระบบดิจิทัล คือ ฐานสอง ฐานแปด และ ฐานสิบหก
            1. ระบบเลขฐานสิบ (Decimal Number System)
            Brian, Holdsworth and Clive, Woods (2002 : 2-4) ได้กล่าวว่า ระบบเลขฐานสิบ
            ประกอบไปด้วยตัวเลข 10 จ านวน เป็นเลขฐานที่นิยมใช้มากที่สุด ส่วนหนึ่งเป็นเพราะ 10 มีค่าเท่ากับ
            จ านวนนิ้วของเรานั้นเอง ซึ่งค าว่า ดิจิต (Digit) ในภาษาละติน หมายถึง นิ้ว
            จากสมการที่ 1.1 เราสามารเขียนจ านวนใด ๆ บนเลขฐานสิบ ได้เป็น
        </pre>
    </div>
</div>
