<div class="content">
    <div>
        <h2>เลขฐานและการดำเนินการทางคณิตศาสตร์กับเลขฐาน</h2>
        <pre>
            ระบบเลขดิจิทัล ไม่ว่าจะเป็น เลขฐานสอง เลขฐานแปด และเลขฐานสิบหก นั้นมี
        ความสัมพันธ์กันสามารถแปลงไปมาได้เพื่อความเหมาะสมในการใช้งาน หรือเปลี่ยนแปลงตามบริบท
        ของปัญหา โดยระบบเลขฐานสามารถดำเนินการทางคณิตศาสตร์ได้ อาทิ การบวก การลบ การคูณ
        และการหาร ไม่ว่าจะอยู่ในเลขฐานเดียวกันหรือต่างกัน โดยมีจำนวนของฐานที่กำหนดไว้ อาจเรียกว่า
        หนึ่งรอบ และมีกฎเกณฑ์ในการดำเนินการ เช่น การบวกเลขฐานสิบเป็นการเพิ่มค่า หากเกินกว่าหนึ่ง
        รอบ หรือ เกินเลข 9 จะต้องมีตัวทดในหลักถัดไป หรือการลบซึ่งเป็นการลดค่าลง หากน้อยว่าหนึ่ง
        รอบจะต้องมีการยืมตัวทดของหลักถัดไป ทำนองเดียวกับการคูณและการหาร จากที่กล่าวมาข้างต้น
        รูปแบบที่คุ้นเคยกันดี คือ ระบบเลขฐานสิบ ซึ่งสามารถใช้เป็นตันแบบได้ การเข้าใจกระบวนการ
        ดำเนินการการดำเนินการทางคณิตศาสตร์กับเลขฐานนั้น ช่วยให้เข้าใจกระบวนการทำงานของ
        อุปกรณ์ดิจิทัล อีกทั้งช่วยให้การวิเคราะห์และแก้ปัญหาทางดิจิทัลมีความลึกซึ้งยิ่งขึ้น ดังนั้นการศึกษา
        การดำเนินการทางคณิตศาสตร์กับเลขฐานจึงมีความจำเป็นอย่างยิ่ง สำหรับบทนี้ แบ่งเป็น 9 เรื่อง
        ได้แก่ ระบบตัวเลข ความสัมพันธ์ระหว่างเลขฐานสอง ฐานแปด และฐานสิบหก การแปลง
        เลขฐานสองเป็นฐานแปด และฐานสิบหก การแปลงเลขฐานแปดเป็นฐานสิบหก คอมพลีเมนต์ของเลข
        ฐาน การบวกเลขฐานสอง การลบเลขฐานสอง คูณเลขฐานสอง และการหารเลขฐานสอง ดังต่อไปนี้
                        
        </pre>
    </div>
    <div>
        <h2>แผนบริหารการสอนประจำบทที่ 2</h2>
    </div>
    <div>
        <h3>หัวข้อเนื้อหา</h3>
        <pre>
            1. ระบบตัวเลข
            2. ความสัมพันธ์ระหว่างเลขฐานสอง ฐานแปด และฐานสิบหก
            3. การแปลงเลขฐานสองเป็นฐานแปด และฐานสิบหก
            4. การแปลงเลขฐานแปดเป็นฐานสิบหก
            5. คอมพลีเมนต์ของเลขฐาน
            6. การบวกเลขฐานสอง
            7. การลบเลขฐานสอง
            8. การคูณเลขฐานสอง
            9. การหารเลขฐานสอง
        </pre>
    </div>
    <div>
        <h3>วัตถุประสงค์เชิงพฤติกรรม</h3>
        <pre>
            1. อธิบายเกี่ยวกับระบบตัวเลข และความสัมพันธ์ระหว่างเลขฐานได้
            2. สามารถแปลงเลขฐานสอง ฐานแปด และฐานสิบหกได้
            3. สามารถใช้งานคอมพลีเมนต์ของเลขฐานได้
            4. สามารถการบวก ลบ คูณ และหารกับเลขฐานสองได้
        </pre>
    </div>
    <div>
        <h3>วิธีสอนและกิจกรรมการเรียนการสอน</h3>
        <pre>
                1. ใช้การบรรยายในห้องเรียน โดยอาจารย์ผู้สอน หรือจัดการเรียนการสอนในลักษณะการ
            สอนเป็นทีม มีการกำหนดกิจกรรมให้มีการทำงานเป็นกลุ่ม หรือการทำงานที่ต้องประสานงานกับผู้อื่น
            ข้ามหลักสูตร หรือต้องค้นคว้าหาข้อมูลจากการสัมภาษณ์บุคคลอื่น หรือผู้มีประสบการณ์ โดยมีความ
            คาดหวังในผลการเรียนรู้ด้านทักษะความสัมพันธ์ระหว่างตัวบุคคลและความสามารถในการรับผิดชอบ
            มีการแลกเปลี่ยนความคิดเห็นวิเคราะห์ และอภิปรายร่วมกัน แทรกเสริมประสบการณ์หรือความรู้ที่
            ทันสมัย หรือใช้เทคโนโลยีที่ทันสมัยและแปลกใหม่
                2. ให้การฝึกปฏิบัติการแก่นักศึกษา
                3. ให้แบบฝึกหัด
                4. ให้นักศึกษามีการศึกษาค้นคว้าด้วยตนเอง สรุปประเด็นจากการศึกษา
                5. จัดอภิปรายกลุ่ม และนำเสนอหน้าชั้น โดยอธิบายถึงข้อจำกัด เหตุผลในการเลือกใช้
            เครื่องมือหรือทฤษฎีต่างๆ และการอภิปรายกรณีศึกษาต่าง ๆ
        </pre>
    </div>
    <div>
        <h3>สื่อการเรียนการสอน</h3>
        <pre>
            1. เอกสารประกอบการสอน
            2. สื่ออิเล็กทรอนิกส์
            3. ใบงาน / แบบฝึกหัด
        </pre>
    </div>
    <div>
        <h3>การวัดผลและประเมินผล</h3>
        <pre>
            1. การวัดโดยวิธีการสังเกต
                1.1 การแต่งกาย
                1.2 การตรงต่อเวลา
                1.3 การมีส่วนร่วมในชั้นเรียน
                1.4 ความสนใจและความตั้งใจ
            2. การประเมินผล
                2.1 ตรวจรายงาน
                2.2 ตรวจแบบฝึกหัด
                2.3 ตรวจผลงานภาคปฏิบัติ
                2.4 ตรวจผลงานต่าง ๆ ที่ให้ทำ
                2.5 การนำเสนอรายงานในชั้นเรียน
                2.6 ทดสอบโดยใช้ข้อสอบข้อเขียน
        </pre>
    </div>
</div>
