<div class="sidebar">
    <div class="logo">
        <div class="back-logo">
            <img src="../../../assets/image/arrow-back-icon.png" width="35%" routerLink="/page/learning">
        </div>
        <div class="logo-title">
            <img src="../../../assets/image/logo.png" width="18%">
            <h3>Logo</h3>
        </div>
    </div>
    <div class="menu">
        <ul>
            <li>คำนำ</li>
            <li>แบบทดสอบก่อนเรียน</li>
            <!-- <li>บทที่ 1</li> -->
            <div class="lesson">
                <p class="lesson-title">บทที่ 2</p>
                <ul class="lesson-menu">
                    <li>2.1. หน้าแรก</li>
                    <li>2.2. หน้าแรก</li>
                    <li>2.3. หน้าแรก</li>
                    <li>2.4. หน้าแรก</li>
                </ul>
            </div>
            <li>แบบทดสอบหลังเรียน</li>
            <li>ปฎิบัติการ</li>
        </ul>
    </div>
</div>