<div class="sidebar" style="overflow-y: auto">
    <div class="logo">
        <div class="back-logo">
            <img src="../../../assets/image/arrow-back-icon.png" width="35%" routerLink="/page/learning">
        </div>
        <div class="logo-title">
            <img src="../../../assets/image/logo.png" width="18%">
            <h3>Logo</h3>
        </div>
    </div>
    <div class="menu">
        <ul>
            <li routerLink="/chapter2">คำนำ</li>
            <li routerLink="/chapter2/pretest" >แบบทดสอบก่อนเรียน</li>
            <!-- <li>บทที่ 1</li> -->
            <div class="lesson">
                <p class="lesson-title">บทที่ 2 เลขฐานและการดำเนินการทางคณิตศาสตร์กับเลขฐาน</p>
                <ul class="lesson-menu">
                    <li routerLink="/chapter2/number-system">ระบบตัวเลข</li>
                    <li routerLink="/chapter2/relation-of-numbers">ความสัมพันธ์ระหว่างเลขฐานสอง ฐานแปด และฐานสิบหก</li>
                    <li routerLink="/chapter2/number-system-conversion">การแปลงเลขฐานสองเป็นฐานแปด และฐานสิบหก</li>
                    <li routerLink="/chapter2/octalTo-hexadecimal-conversion">การแปลงเลขฐานแปดเป็นฐานสิบหก</li>
                    <li routerLink="/chapter2/complement-of-numbers">คอมพลีเมนต์ของเลขฐาน</li>
                    <li routerLink="/chapter2/binary-addition">การบวกเลขฐานสอง</li>
                    <li routerLink="/chapter2/binary-subtraction">การลบเลขฐานสอง</li>
                    <li routerLink="/chapter2/binary-multiplication">การคูณเลขฐานสอง</li>
                    <li routerLink="/chapter2/binary-division">การหารเลขฐานสอง</li>
                    <li routerLink="/chapter2/summary-end-chapter">สรุปท้ายบท</li>
                </ul>
            </div>
            <li routerLink="">แบบทดสอบหลังเรียน</li>
            <li routerLink="">ปฎิบัติการ</li>
        </ul>
    </div>
</div>