<div class="sidebar" style="overflow-y: auto">
    <div class="logo">
        <div class="back-logo">
            <img src="../../../assets/image/arrow-back-icon.png" width="35%" routerLink="/page/learning">
        </div>
        <div class="logo-title">
            <img src="../../../assets/image/logo.png" width="18%">
             
        </div>
    </div>
    <div class="menu">
        <ul>
            <li routerLink="/chapter2">คำนำ</li>
            <li *ngIf="!score_pretest2" routerLink="/chapter2/pretest" >แบบทดสอบก่อนเรียน</li>
            <ul *ngIf="score_pretest2" class="lesson-menu disabled-c">
                <li style=" display: block; cursor: pointer;">แบบทดสอบก่อนเรียน</li>
            </ul>
            <div class="lesson">
                <p class="lesson-title">บทที่ 2 เลขฐานและการดำเนินการทางคณิตศาสตร์กับเลขฐาน</p>
                <ul class="lesson-menu" *ngIf="score_pretest2">
                    <li routerLink="/chapter2/number-system">ระบบตัวเลข</li>
                    <li routerLink="/chapter2/relation-of-numbers">ความสัมพันธ์ระหว่างเลขฐานสอง ฐานแปด และฐานสิบหก</li>
                    <li routerLink="/chapter2/number-system-conversion">การแปลงเลขฐานสองเป็นฐานแปด และฐานสิบหก</li>
                    <li routerLink="/chapter2/octalTo-hexadecimal-conversion">การแปลงเลขฐานแปดเป็นฐานสิบหก</li>
                    <li routerLink="/chapter2/complement-of-numbers">คอมพลีเมนต์ของเลขฐาน</li>
                    <li routerLink="/chapter2/binary-addition">การบวกเลขฐานสอง</li>
                    <li routerLink="/chapter2/binary-subtraction">การลบเลขฐานสอง</li>
                    <li routerLink="/chapter2/binary-multiplication">การคูณเลขฐานสอง</li>
                    <li routerLink="/chapter2/binary-division">การหารเลขฐานสอง</li>
                    <li routerLink="/chapter2/summary-end-chapter">สรุปท้ายบท</li>
                </ul>
                <ul *ngIf="!score_pretest2" class="lesson-menu disabled-c">
                    <li >ระบบตัวเลข</li>
                    <li >ความสัมพันธ์ระหว่างเลขฐานสอง ฐานแปด และฐานสิบหก</li>
                    <li >การแปลงเลขฐานสองเป็นฐานแปด และฐานสิบหก</li>
                    <li >การแปลงเลขฐานแปดเป็นฐานสิบหก</li>
                    <li >คอมพลีเมนต์ของเลขฐาน</li>
                    <li >การบวกเลขฐานสอง</li>
                    <li >การลบเลขฐานสอง</li>
                    <li >การคูณเลขฐานสอง</li>
                    <li >การหารเลขฐานสอง</li>
                    <li >สรุปท้ายบท</li>
                </ul>
            </div>
            <li *ngIf="score_pretest2" routerLink="/chapter2/posttest">แบบทดสอบหลังเรียน</li>
            <li routerLink="/chapter2/workshop">ปฎิบัติการ</li>
            <li *ngIf="!score_pretest2" class="disable-li" >แบบทดสอบหลังเรียน</li>
            <li *ngIf="!score_pretest2" class="disable-li">ปฎิบัติการ</li>
        </ul>
    </div>
</div>