<div class="content">
    <div class="paper">
        <h2 class="box-head-title">ทฤษฎีของ ดี มอร์แกน (De’morgan Theorem)</h2>
        <p class="abs">
            ธนัท ชัยยุทธ (2540) ได้กล่าวว่า ทฤษฎีของ ดี มอร์แกนเป็นทฤษฎีที่ใช้ประโยชน์ในการ
            แก้ปัญหาของพีชคณิตบูลีน กรณีที่สมการของตัวแปรใด ๆ ติดเครื่องหมาย <ng-katex [equation]="'\\overline{AND}'">
            </ng-katex> และ <ng-katex [equation]="'\\overline{OR}'"></ng-katex> ซึ่ง
            สามารถเปลี่ยนกลับจากเครื่องหมาย • เป็น + และเปลี่ยนสมการจากเครื่องหมาย + เป็น • ได้ ขอให้
            พิจารณา 2 สมการต่อไปนี้

            1. A • B = A + B (สมการเปลี่ยน AND เป็น OR)
            2. A + B = A • B (สมการเปลี่ยน OR เป็น AND)
            หลักการใช้ทฤษฎีของ ดีมอร์แกน เปลี่ยนสมการพีชคณิตบูลีนตัวแปรใด ๆ ต้องกระทำตาม
            ขั้นตอนต่อไปนี้
            1. Complement Function (โดยการใส่เครื่องหมาย NOT ตลอดทั้งฟังก์ชัน)
            2. Change Operator (เปลี่ยนตัวกระทำ AND เป็น OR และ OR เป็น AND)
            3. Complement Variable (ใส่เครื่องหมาย NOT ที่ตัวแปร)
        </p>
        <div class="box-img">

            <img src="assets/image/c4/ex4_11.PNG">
        </div>
        <p class="abs">
            จากตัวอย่างจะเห็นว่าถ้าสมการนั้นมีหลายเทอม ถ้าใช้ดีมอร์แกน ก็ต้องทำกับเครื่องหมาย
            OR และ AND ทุกเครื่องหมาย โดยกำหนดให้แต่ละเทอมที่กระทำการ OR หรือ AND นั้นมี
            ความหมายเหมือนตัวแปรเดียว
        </p>
        <div class="box-img">

            <img src="assets/image/c4/ex4_13.PNG">
        </div>
    </div>
</div>