<div class="content">
    <div class="paper">
        <div>
            <h2 class="box-head-title">เอกซ์คลูซีฟออร์เกต (The Exclusive – OR Gate)</h2>
            <p class="abs">
                Tertulien, Ndjountche (2016 : 52) ได้กล่าวว่า เอกซ์คลูซีฟออร์เกตใช้กันมากในวงจร
                บวกและลบเลขฐานสอง เรียกย่อว่า เอกซ์ออร์เกต (XOR Gate) เป็นการเลือกอย่างใดอย่างหนึ่ง
                หรือไม่เลือกทั้งสองอย่าง เอาต์พุต Y จะเป็น “1” ได้เมื่ออินพุตมีสถานะต่างกันหากอินพุตทั้งสองมี
                สถานะเหมือนกันเอาต์พุต Y จะเป็น “0” สมการพีชคณิตบูลีนของเอกซ์ออร์เกต แสดงใน
                ภาพประกอบ 3.13 คือ <ng-katex [equation]="'Y = A\\oplusB'"></ng-katex> เครื่องหมาย <ng-katex
                    [equation]="'\\oplus'"></ng-katex> คือ เครื่องหมายเอกซ์ออร์แทนสัญลักษณ์ของ
                เอกออร์เกตแสดงภาพประกอบ 3.13
            </p>
            <div class="box-img">

                <img src="assets/image/c3/3_13.PNG">
            </div>
            <p class="abs">
                ภาพประกอบ 3.13 วงจรเอกซ์คลูซีฟออร์เกตที่ใช้สวิตซ์
                ที่มา : Tertulien, Ndjountche (2016 : 50)
            </p>
            <div class="box-img">

                <img src="assets/image/c3/3_14.PNG">
            </div>
            <p class="abs">
                ภาพประกอบ 3.14 สัญลักษณ์และพีชคณิตบูลีนของเอกซ์ออร์เกต
                ที่มา : Ata, Elahi (2018 : 32)
            </p>
            <p class="abs">
                เมื่อป้อนลอจิกอินพุตที่ A ไม่เท่ากับ B (เช่น A =“1” และ B = “0” หรือ A = “0” และ
                B = “1”) จะทำให้ลอจิกเอาต์พุตจของเอกซ์ออร์เกต มีค่าเป็น “1” มีค่าเป็น “1” และเมื่อป้อนลอจิก
                อินพุตที่ A เท่ากับ B (เช่น A = B = “0” หรือ A = B = “1”) เอกซ์ออร์เกตจะให้ลอจิกเอาต์พุตเป็น
                “ 0” ดังตาราง 3.6
            </p>
            <p class="abs">
                ตาราง 3.6 ตารางความจริงของเอกซ์ออร์เกตเทียบกับออร์เกต 2 อินพุต
            </p>
            <div class="box-img">

                <img src="assets/image/c3/t3_6.PNG">
            </div>
            <p class="abs">
                ที่มา : Tertulien, Ndjountche (2016 : 52)
            </p>
        </div>
    </div>
</div>