<div class="content" style="height: 100vh;">
    <div class="paper">
        <div class="box-head-title">
            <h2>แบบทดสอบก่อนเรียน</h2>
        </div>
        <form [formGroup]="myForm" class="form_question">

            <div class="examination">
                <div class="question">
                    <p>1. ข้อใดคือสัญลักของ EX-NOR Gate</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c3_q1_1" value="1" formControlName="c3_q1">
                        <label for="c3_q1_1" ><img src="../../assets/image/data3/1.png"> </label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q1_2" value="2" formControlName="c3_q1">
                        <label for="c3_q1_2" ><img src="../../assets/image/data3/2.png"></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q1_3" value="3" formControlName="c3_q1">
                        <label for="c3_q1_3" ><img src="../../assets/image/data3/3.png"></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q1_4" value="4" formControlName="c3_q1">
                        <label for="c3_q1_4" ><img src="../../assets/image/data3/4.png"></label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>2. ข้อใดคือสัญลักของ NOT Gate</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c3_q2_1" value="1" formControlName="c3_q2">
                        <label for="c3_q2_1"><img src="../../assets/image/data3/1.png"></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q2_2" value="2" formControlName="c3_q2">
                        <label for="c3_q2_2"><img src="../../assets/image/data3/2.png"></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q2_3" value="3" formControlName="c3_q2">
                        <label for="c3_q2_3"><img src="../../assets/image/data3/3.png"></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q2_4" value="4" formControlName="c3_q2">
                        <label for="c3_q2_4"><img src="../../assets/image/data3/4.png"></label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>3. ข้อใดคือสัญลักของ EX-NOR Gate ได้จาก Gate ต่อไปนี้</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c3_q3_1" value="1" formControlName="c3_q3">
                        <label for="c3_q3_1">NOR+NOT</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q3_2" value="2" formControlName="c3_q3">
                        <label for="c3_q3_2">OR+NOT</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q3_3" value="3" formControlName="c3_q3">
                        <label for="c3_q3_3">EX-OR+NOT</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q3_4" value="4" formControlName="c3_q3">
                        <label for="c3_q3_4">EX-NOR+NOT</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>4. ข้อใดต่อไปนี้เป็นตารางความจริงของ AND Gate</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c3_q4_1" value="1" formControlName="c3_q4">
                        <label for="c3_q4_1"><img src="../../assets/image/data3/1.jpg"></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q4_2" value="2" formControlName="c3_q4">
                        <label for="c3_q4_2"><img src="../../assets/image/data3/2.jpg"></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q4_3" value="3" formControlName="c3_q4">
                        <label for="c3_q4_3"><img src="../../assets/image/data3/3.jpg"></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q4_4" value="4" formControlName="c3_q4">
                        <label for="c3_q4_4"><img src="../../assets/image/data3/4.jpg"></label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>5. ข้อใดคือสมการ AND Gate</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c3_q5_1" value="1" formControlName="c3_q5">
                        <label for="c3_q5_1">Y=A+B</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q5_2" value="2" formControlName="c3_q5">
                        <label for="c3_q5_2">Y=A.B</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q5_3" value="3" formControlName="c3_q5">
                        <label for="c3_q5_3">Y=Ȳ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q5_4" value="4" formControlName="c3_q5">
                        <label for="c3_q5_4">Y=A.B+C</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>6. ข้อใดคือสมการ OR Gate</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c3_q6_1" value="1" formControlName="c3_q6">
                        <label for="c3_q6_1">Y=A+B</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q6_2" value="2" formControlName="c3_q6">
                        <label for="c3_q6_2">Y=A.B</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q6_3" value="3" formControlName="c3_q6">
                        <label for="c3_q6_3">Y=Ȳ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q6_4" value="4" formControlName="c3_q6">
                        <label for="c3_q6_4">Y=A.B+C</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>7. ข้อใดคือสมการ NOT Gate</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c3_q7_1" value="1" formControlName="c3_q7">
                        <label for="c3_q7_1">Y=A+B</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q7_2" value="2" formControlName="c3_q7">
                        <label for="c3_q7_2">Y=A.B</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q7_3" value="3" formControlName="c3_q7">
                        <label for="c3_q7_3">Y=Ȳ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q7_4" value="4" formControlName="c3_q7">
                        <label for="c3_q7_4">Y=A.B+C</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>8. ข้อใดคือสัญลักของ NAND Gate</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c3_q8_1" value="1" formControlName="c3_q8">
                        <label for="c3_q8_1"><img src="../../assets/image/data3/1.png"></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q8_2" value="2" formControlName="c3_q8">
                        <label for="c3_q8_2"><img src="../../assets/image/data3/2.png"></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q8_3" value="3" formControlName="c3_q8">
                        <label for="c3_q8_3"><img src="../../assets/image/data3/3.png"></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q8_4" value="4" formControlName="c3_q8">
                        <label for="c3_q8_4"><img src="../../assets/image/data3/4.png"></label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>9. ข้อใดคือสัญลักของ NOR Gate</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c3_q9_1" value="1" formControlName="c3_q9">
                        <label for="c3_q9_1"><img src="../../assets/image/data3/1.png"></label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q9_2" value="2" formControlName="c3_q9">
                        <label for="c3_q9_2"><img src="../../assets/image/data3/2.png"></label>>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q9_3" value="3" formControlName="c3_q9">
                        <label for="c3_q9_3"><img src="../../assets/image/data3/3.png"></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q9_4" value="4" formControlName="c3_q9">
                        <label for="c3_q9_4"><img src="../../assets/image/data3/4.png"></label>>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>10. ข้อใดต่อไปนี้เป็นตารางความจริงของ EX-NOR Gate</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c3_q10_1" value="1" formControlName="c3_q10">
                        <label for="c3_q10_1"><img src="../../assets/image/data3/1.jpg"></label>>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q10_2" value="2" formControlName="c3_q10">
                        <label for="c3_q10_2"><img src="../../assets/image/data3/2.jpg"></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q10_3" value="3" formControlName="c3_q10">
                        <label for="c3_q10_3"><img src="../../assets/image/data3/3.jpg"></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q10_4" value="4" formControlName="c3_q10">
                        <label for="c3_q10_4"><img src="../../assets/image/data3/4.jpg"></label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>11. นี่คือตารางความจริงใด?</p>
                    <img src="../../assets/image/data3/11.png">
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c3_q11_1" value="1" formControlName="c3_q11">
                        <label for="c3_q11_1">NAND</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q11_2" value="2" formControlName="c3_q11">
                        <label for="c3_q11_2">AND</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q11_3" value="3" formControlName="c3_q11">
                        <label for="c3_q11_3">OR</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q11_4" value="4" formControlName="c3_q11">
                        <label for="c3_q11_4">NOR</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>12. ระบบลอจิกลบหมายถึงอะไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c3_q12_1" value="1" formControlName="c3_q12">
                        <label for="c3_q12_1">ระบบลอจิกที่สัญญาณลอจิกสูง</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q12_2" value="2" formControlName="c3_q12">
                        <label for="c3_q12_2">ระบบลอจิกที่สัญญาณลอจิกต่ำ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q12_3" value="3" formControlName="c3_q12">
                        <label for="c3_q12_3">ระบบลอจิกที่สัญญาณลอจิกปานกลาง</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q12_4" value="4" formControlName="c3_q12">
                        <label for="c3_q12_4">ระบบลอจิกที่สัญญาณลอจิกคงที่</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>13. AND Gate แทนเครื่องหมายทางคณิตศาสตร์คืออะไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c3_q13_1" value="1" formControlName="c3_q13">
                        <label for="c3_q13_1">บวก</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q13_2" value="2" formControlName="c3_q13">
                        <label for="c3_q13_2">ลบ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q13_3" value="3" formControlName="c3_q13">
                        <label for="c3_q13_3">คูณ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q13_4" value="4" formControlName="c3_q13">
                        <label for="c3_q13_4">หาร</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>14. OR NOT แทนเครื่องหมายทางคณิตศาสตร์คืออะไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c3_q14_1" value="1" formControlName="c3_q14">
                        <label for="c3_q14_1">บวก</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q14_2" value="2" formControlName="c3_q14">
                        <label for="c3_q14_2">ลบ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q14_3" value="3" formControlName="c3_q14">
                        <label for="c3_q14_3">คูณ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q14_4" value="4" formControlName="c3_q14">
                        <label for="c3_q14_4">หาร</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>15. NOT แทนเครื่องหมายทางคณิตศาสตร์คืออะไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c3_q15_1" value="1" formControlName="c3_q15">
                        <label for="c3_q15_1">บวก</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q15_2" value="2" formControlName="c3_q15">
                        <label for="c3_q15_2">ลบ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q15_3" value="3" formControlName="c3_q15">
                        <label for="c3_q15_3">คูณ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q15_4" value="4" formControlName="c3_q15">
                        <label for="c3_q15_4">หาร</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>16. นี่คือตารางความจริงใด?</p>
                    <img src="../../assets/image/data3/12.png">
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c3_q16_1" value="1" formControlName="c3_q16">
                        <label for="c3_q16_1">NAND</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q16_2" value="2" formControlName="c3_q16">
                        <label for="c3_q16_2">AND</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q16_3" value="3" formControlName="c3_q16">
                        <label for="c3_q16_3">OR</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q16_4" value="4" formControlName="c3_q16">
                        <label for="c3_q16_4">NOT</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>17. logic gate ใดที่แสดงด้วยสัญลักษณ์นี้</p>
                    <img src="../../assets/image/data3/13.png">
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c3_q17_1" value="1" formControlName="c3_q17">
                        <label id="c3_q17_1">OR</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q17_2" value="2" formControlName="c3_q17">
                        <label id="c3_q17_2">XNOR</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q17_3" value="3" formControlName="c3_q17">
                        <label id="c3_q17_3">XOR</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q17_4" value="4" formControlName="c3_q17">
                        <label id="c3_q17_4">NAND</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>18. logic gate ใดที่แสดงด้วยสัญลักษณ์นี้</p>
                    <img src="../../assets/image/data3/14.png">
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c3_q18_1" value="1" formControlName="c3_q18">
                        <label id="c3_q18_1">OR</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q18_2" value="2" formControlName="c3_q18">
                        <label id="c3_q18_2">XNOR</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q18_3" value="3" formControlName="c3_q18">
                        <label id="c3_q18_3">XOR</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q18_4" value="4" formControlName="c3_q18">
                        <label id="c3_q18_4">NAND</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>19. ระบบสัญญาณลอจิกแบ่งได้เป็นกี่ระบบ</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c3_q19_1" value="1" formControlName="c3_q19">
                        <label for="c3_q19_1">1 ระบบ</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q19_2" value="2" formControlName="c3_q19">
                        <label for="c3_q19_2">2 ระบบ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q19_3" value="3" formControlName="c3_q19">
                        <label for="c3_q19_3">3 ระบบ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q19_4" value="4" formControlName="c3_q19">
                        <label for="c3_q19_4">4 ระบบ</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>20. ระบบลอจิกบวกหมายถึงอะไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c3_q20_1" value="1" formControlName="c3_q20">
                        <label for="c3_q20_1">ระบบลอจิกที่สัญญาณลอจิกสูง</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q20_2" value="2" formControlName="c3_q20">
                        <label for="c3_q20_2">ระบบลอจิกที่สัญญาณลอจิกต่ำ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q20_3" value="3" formControlName="c3_q20">
                        <label for="c3_q20_3">ระบบลอจิกที่สัญญาณลอจิกปานกลาง</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c3_q20_4" value="4" formControlName="c3_q20">
                        <label for="c3_q20_4">ระบบลอจิกที่สัญญาณลอจิกคงที่</label>
                    </div>
                </div>
            </div>
            <div class="btn-send-question">
                <button [disabled]="!myForm.valid" class="btn btn-primary">Send</button>
            </div>
        </form>
    </div>
</div>