<div class="content">
    <h2>กฎของพีชคณิตบูลีน (Boolean Algebra Law’s)</h2>
    <div>
        <pre>
            Enoch, O. Hwang. (2005 : 35) ได้กล่าวว่า ในปี ค.ศ. 1854 จอร์ช บลู (George Boole)
        ได้พัฒนาตรรกศาสตร์เชิงคณิตศาสตร์ (Mathematical Logic) หรือที่เรียกในปัจจุบันว่า พีชคณิต
        </pre>
        <img src="assets/image/c4/4_1.PNG">
        <pre>
            ภาพประกอบ 4.1 กฎของพีชคณิตบูลีน
            ที่มา : Enoch, O. Hwang. (2005 : 35)
        </pre>
        <pre>
            ต่อมาในปี ค.ศ. 1938 คล็อด แชนนอน (Claude Elwood Shannon) วิศวกรไฟฟ้าและ
        นักคณิตศาสตร์ ได้แสดงให้เห็นว่าสวิตซ์สามารถอธิบายกฎของพีชคณิตบูลีนได้เป็นอย่างดี โดย
        สมาชิกของพีชคณิต ซึ่งประกอบด้วย 0 และ 1 กำหนดให้ AND (•) , OR (+) และ NOT (′) หรือ (-)
        เป็นตัวดำเนินการ ตัวแปร เป็น ตัวแปรเชิงตรรกะ (Boolean Variable) สามารถมีค่า 0 หรือ 1 กฎ
        ของพีชคณิตบูลีนมาจากการกระทำตามตัวกระทำของตัวแปรใด ๆ หรือค่าคงที่ใด ๆ กับตัวแปร ดัง
        ภาพประกอบ 4.1
            จากภาพประกอบ 4.1 (a) เป็นการนิยามตัวแปรและตัวดำเนินการพีชคณิต (b) เป็นการ
        ดำเนินการกับตัวแปรเดี่ยว และ (c) เป็นการดำเนินการกับตัวแปร 2 ตัว
            การนำเอากฎของพีชคณิตบูลีนไปใช้ในสมการบูลีนจะสามารถจัดรูปแบบของสมการได้ง่าย
        ขึ้น การพิสูจน์และสมการมีขนาดสั้นลง ดังตัวอย่าง
        </pre>
        <img src="assets/image/c4/ex4_1.PNG">
        <img src="assets/image/c4/ex4_2.PNG">
    </div>
</div>
