<div class="content">
    <h2>สรุปท้ายบท</h2>
    <div>
        <pre>
            ในปี ค.ศ. 1854 จอร์ช บลู ได้พัฒนาพีชคณิต ต่อมาในปี ค.ศ. 1938 คล็อด แชนนอน วิศวกร
        ไฟฟ้าและนักคณิตศาสตร์ ได้แสดงให้เห็นว่าสวิตซ์สามารถอธิบายกฎของพีชคณิตบูลีนได้เป็นอย่างดี
        โดยสมาชิกของพีชคณิต ประกอบด้วย 0 และ 1 กำหนดให้ "และ" "หรือ" และ "นิเสธ" เป็นตัว
        ดำเนินการ สมการพีชคณิตบูลีนสามารถถอดจากตารางค่าความจริง หรือตารางผังเวลาได้ พีชคณิต
        บูลีนช่วยในการแก้ไขปัญหาทางวงจรดิจิตอลอิเล็กทรอนิกส์ โดยต่อมามีการกำหนดการเขียนสมการ
        ตรรกะในรูปมาตรฐาน คือ ผลบวกของผลคูณ และ ผลคูณของผลบวก เพื่อให้สามารถนำไปเปลี่ยนรูป
        ได้ง่าย สำหรับสมการที่ติดเครื่องหมายนิเสธของและ/หรือ จำเป็นต้องใช้ทฤษฎีของ ดี มอร์แกน ใน
        การแก้ช่วยปัญหาหรือเปลี่ยนรูป พีชคณิตบูลีนช่วยลดรูปของสมการให้สั้นลง และการขยายเทอม
        ผลบวกของผลคูณในบางครั้งยังสามารถลดรูปสมการพีชคณิตลอจิกให้สั้นลงได้ด้วย ทั้งนี้เพื่อลด
        จำนวนอุปกรณ์ในการต่อวงจร แผ่นวงจรพิมพ์มีขนาดที่เล็กลงและทำให้ประหยัดค่าใช้จ่าย ใช้พลังงาน
        น้อยลง ลดความร้อน ลดการบำรุงรักษา ดังนั้นการลดรูปสมการพีชคณิตบูลีนช่วยให้การออกแบบ
        วงจรลอจิกมีประสิทธิภาพสูงขึ้น
        </pre>
    </div>
</div>
