<div class="content">
    <h2>การแปลงเลขฐานสองเป็นฐานแปด และฐานสิบหก (Number System Conversion)</h2>
    <div>
        <pre>
            การเปลี่ยนเลขฐานสองเป็นเลขฐานแปด ทำได้ดังนี้(John, Crisp, 2000 : 35)
        1. แบ่งกลุ่มของเลขฐานสองออกเป็นกลุ่ม ๆ ละ 3 ตัว โดยเริ่มจากหลักแรกทั้งหน้าและหลัง
        จุดทศนิยม ในกรณีที่เป็นจำนวนเต็มเริ่มจากหลักต่ำสุดของเลข หากเป็นหลังทศนิยมให้เริ่มจากหลัก
        แรกหลังจุดทศนิยม
        2. แทนค่าเลขฐานสองแต่ละกลุ่มด้วยเลขฐานแปดตามตาราง 2.4

        </pre>
        <pre>
            ตาราง 2.5 การแทนค่าเลขฐานสองแต่ละกลุ่มด้วยเลขฐานแปด 
        </pre>
        <img src="assets/image/c2/t2_5.PNG">
        <pre>
            ที่มา : John, Crisp. (2000 : 35) 
        </pre>
        <img src="assets/image/c2/ex2__11.PNG">
        <pre>
            จากตัวอย่าง 2.11 และ 2.12 จะเห็นว่าเลขฐานแปดนั้นแทนเลขฐานสองได้ทำให้
        ประหยัดเวลาในการเขียนและอ่านมาก ขณะเดียวกันยังสามารถป้องกันความผิดพลาดในการส่ง
        สัญญาณที่เป็นรหัสได้อีกด้วย เช่น ถ้าหากเราต้องการ ส่งรหัสทางโทรศัพท์จากสถานที่แห่งหนึ่งไปยัง
        อีกแห่งหนึ่งด้วยรหัส 011 101 111 หากใช้เลขฐานสอง ผู้ส่งจะต้องพูดถึง 9 คำคือ
        ศูนย์-หนึ่ง-หนึ่ง-หนึ่ง-ศูนย์-หนึ่ง-หนึ่ง-หนึ่ง-หนึ่ง
        แต่ถ้าใช้เลขฐานแปดคือ 357 ผู้ส่งจะพูดเพียง 3 คำเท่านั้น คือ สาม-ห้า-เจ็ด
        การเปลี่ยนเลขฐานสองเป็นเลขฐานสิบหก ทำได้โดยการแบ่งเลขฐานสองออกเป็นกลุ่ม ๆ ละ
        4 ตัว แล้วเปลี่ยนเลขฐานสองแต่ละกลุ่มนั้นเป็นเลขฐานสิบหกดังตาราง 2.4 
        </pre>
        <img src="assets/image/c2/ex2__13.PNG">
        <div>
</div>
