<div class="content">
    <h2>ออร์เกต (The OR Gate)</h2>
    <div>
        <pre>
            Brian, Holdsworth and Clive, Woods. (2002 : 32) ได้กล่าวว่า ออร์เกต เป็นเกตที่ให้
        สัญญาณเอาต์พุตเป็น 0 เมื่อสัญญาณอินพุตทุกตัวเป็น 0 และจะให้สัญญาณเอาต์พุตเป็น 1 เมื่อ
        สัญญาณอินพุตตัวใดตัวหนึ่งเป็น 1 ซึ่งเปรียบเสมือนกันบวกกันของอินพุต
        วงจรพื้นฐานของออร์เกตที่ทำงานด้วยสวิตซ์แสดงในภาพประกอบ 3.9 โดยอินพุตของวงจร
        ประกอบไปด้วยสวิตซ์2 ตัวต่อขนานกัน (สวิตซ์A และสวิตซ์ B) และสวิตซ์ทั้งสองนี้จะควบคุมการติด
        สว่างของหลอดไฟ โดยที่หลอดไฟ จะติดสว่างเมื่อสวิตซ์ตัวใดตัวหนึ่งหรือทั้งหมดปิด แต่ถ้าสวิตซ์ทั้ง 2
        ตัวเปิด แล้วหลอดไฟ จะดับ
        </pre>
        <img src="assets/image/c3/3_9.PNG">
        <pre>
            ภาพประกอบ 3.9 วงจรออร์เกตที่ใช้สวิตซ์
            ที่มา : Dale, R. Patrick (2008 : 34)            
        </pre>
        <pre>
            การทำงานในวงจรภาพประกอบ 3.9 แสดงให้เห็นในตาราง 3.4 จะเห็นว่าเอาต์พุต Y จะเป็น
            “1” ได้เมื่ออินพุตที่ A และ B ตัวใดตัวหนึ่งเป็น “1” หรืออินพุตทั้งสองเป็น “1” สัญลักษณ์ของ
            ออเกต 2 อินพุต โดยสมการพีชคณิตบูลีนของออร์เกต 2 อินพุตเขียนได้ว่า A + B = X (A ออร์ B
            เท่ากับ X) สัญลักษณ์ของเครื่องหมายออร์คือ (+)
        </pre>
        <pre>
            ตาราง 3.4 ตารางความจริงของออร์เกต 2 อินพุต   
        </pre>
        <img src="assets/image/c3/t3_.4PNG">
        <pre>
            ที่มา : Brian, Holdsworth and Clive, Woods. (2002 : 35)  
        </pre>
        <img src="assets/image/c3/3_10.PNG">
        <pre>
            ภาพประกอบ 3.10 สัญลักษณ์และสมการพีชคณิตบูลีนของออร์เกต
            ที่มา : Ronald, J. Tocci, Neal, S.Widmer and Gregory, L. Moss (2007 : 59) 
        </pre>
    </div>
</div>
