<div class="content" style="height: 100vh;">
    <div class="paper">
        <div>
            <h2 class="box-label-title">ข้อดีของระบบดิจิทัล (Advantages of Digital System)</h2>
            <p class="abs">
                Ata, Elahi. (2018 : 1-2) ได้กล่าวว่า ระบบดิจิทัลมีข้อได้เปรียบกว่าระบบแอนะล็อก ดังนี้
                1. ระบบดิจิทัลออกแบบได้ง่าย วงจรดิจิทัลไม่สนใจค่าแท้จริงของความต่างศักย์ไฟฟ้า และ
            กระแสไฟฟ้า มีเพียงค่าที่อยู่ในช่วงที่วงจรจะเปลี่ยนสถานะ High และ Low ดังนั้นการออกแบบวงจร
            ดิจิทัลจะมีเพียง 2 สถานะเท่านั้น
                2. สามารถจัดเก็บสารสนเทศได้ง่าย ข้อมูลดิจิทัลไม่จำเป็นต้องใช้อุปกรณ์เฉพาะทางในการ
            อ่าน และเขียน เหมือนข้อมูลแอนะล็อก ทำให้สามารถใช้กับอุปกรณ์ต่างชนิดได้ อีกทั้งเทคนิคในการ
            จัดเก็บข้อมูลทำให้สามรถบีบอัดข้อมูลหลายพันล้านบิตลงในหน่วยความจำขนาดเล็กได้
                3. ความถูกต้องและเที่ยงตรง การบำรุงรักษาตลอดการใช้งาน อุปกรณ์แอนะล็อกเมื่อใช้งาน
            ไปจะเริ่มเสื่อมลง เช่น วงจรภาคจ่ายไฟแบบหม้อแปลง ในระยะ 2 ปีแรก จะสามารถจ่ายไฟฟ้าได้
            อย่างเที่ยงตรง แต่หลังจากนั้นจะลดทอนกำลังจ่ายลง แต่หากเป็นภาคจ่ายไฟแบบดิจิทัล จะคงที่
            ตลอด 10 ปี หรืออาจถึง 30 ปี
                4. สามารถสร้างชุดคำสั่งตัวดำเนินการ ระบบแอนะล็อกและดิจิทัลสามารถสร้างชุดคำสั่งได้
            ทั้ง 2 ระบบ แต่ระบบแอนะล็อกจะมีความซับซ้อน และจำกัดมากกว่า
                5. วงจรดิจิทัลมีผลกระทบจากสัญญาณรบกวนน้อยมาก วงจรดิจิทัลมีเพียงสถานะ High
            และ Low ดังนั้นค่าความต่างศักย์ไฟฟ้าที่เปลี่ยนแปลงจากเล็กน้อยนั้น จึงแทบไม่มีผลกระทบ
                6. สามารถแปลงวงจรดิจิทัลเป็นวงจรรวม (Integrated Circuit : IC) ได้ง่าย วงจรแอนะล็อก
            สามารถแปลงเป็นวงจรรวมได้เช่นกัน แต่มีความซับซ้อนสูงมากมากกว่า และลดค่าใช้จ่ายได้น้อย
            เนื่องจากต้องใช้อุปกรณ์ที่มีค่าค่อนข้างจ าเพาะในการผลิต เช่น ตัวเก็บประจุ ทรานซิสเตอร์
            หม้อแปลง เป็นต้น         
            </p>
        </div>
    </div>
</div>