<div class="content">
    <div class="paper">
        <h2 class="box-label-title">สัญญาณดิจิทัล (Digital Signal)</h2>
        <p class="abs">
            Peter, J. Ashenden. (2008 : 12) ได้กล่าว่า ในระบบดิจิทัล ข้อมูลหรือสารสนเทศจะถูก
        นำเสนอในรูปของความต่างศักย์ไฟฟ้า หรือ กระแสไฟฟ้า ทั้งการนำเข้า (Input) และนำออก
        (Output) ทั่วไปค่าที่ใช้งานจะอยู่ระหว่าง 0 V ถึง 5V ดังภาพประกอบ 1.7      
        </p>
        <div class="box-img">
            <img src="assets/image/c1/1_7.PNG">
        </div>
        <div class="box-label-img">
            <p>ภาพประกอบ 1.7 ความต่างศักย์ไฟฟ้าที่ใช้งาน</p>
            <p>ที่มา : Peter, J. Ashenden. (2008 : 12)</p>                 
        </div>

        <p class="abs">
            จากภาพประกอบ 1.3 พบว่าช่วงที่สถานะปิด หรือ 0 มีค่าความต่างศักย์อยู่ที่ 0.0 - 0.8 V
        เนื่องจากบ่อศักย์(Potential Barrier) ของสารกึ่งตัวนำ (Semi-Conductor) มีค่า 0.6 - 0.7 V
        (ขึ้นอยู่กับชนิดของสารกึ่งตัวน า เช่น Ge อยู่ในช่วง 0.7-1.1 V) หากต้องการเปลี่ยนสถานะจะต้องใช้
        พลังงานที่มากกว่านี้จึงให้เป็นสถานะปิด หรือ 0 และช่วง 0.8 ถึง 2.0 V เป็นช่วงที่ไม่มีการใช้งานเป็น
        ช่องว่าง (Band Gap) เพื่อป้องกันกระแสไฟฟ้ารั่วไหล (อิเล็กตรอนกระโดดข้ามบ่อศักย์) ซึ่งอาจทำให้
        เกิดการเปลี่ยนสถานะ ในการใช้งานหากใช้งานระหว่าง 0.0 - 1.5 จะเห็นว่าวงจรจะต้องมีความไวใน
        การรับค่ามาก ดังนั้นวงจรดิจิทัลจะใช้ความต่างศักย์ไฟฟ้าระหว่าง 2.0 - 5.0 V เป็นสถานะเปิด หรือ
        1 ทำให้เห็นว่าลักษณะเฉพาะของระบบดิจิทัลมีความออกแบบให้มีความถูกต้องมากกว่าระบบแอนะล็
        อกที่ใช้ค่าความต่างศักย์ไฟฟ้าโดยตรง และได้รับผลกระทบจากอุณหภูมิ และสัญญาณรบกวน น้อย
        กว่าระบบแอนะล็อก
            Brian, Holdsworth and Clive, Woods. (2002 : 163-164) ได้กล่าวว่า การส่งสัญญาณ
        ดิจิทัลในอุดมคตินั้น สัญญาณ (Pulse) จะมีลักษณะเป็นสี่เหลี่ยม โดยระยะเวลาตั้งแต่สัญญาณมี
        สถานะเปิดจนถึงสถานะปิด เรียกว่าเป็น คาบสัญญาณ (Periodic Time) ความกว้าง (ระยะเวลา)
        ของสัญญาณ (Pulse Width) ขณะที่มีสถานะเปิด ต่อ คาบสัญญาณ อธิบายโดยร้อยละ ดัง
        ภาพประกอบ 1.8
        </p>
        
        <div class="box-img">
            <img src="assets/image/c1/1_8.PNG">
        </div>

        <div class="box-label-img">
            <p>ภาพประกอบ 1.8 สัญญาณดิจิทัล</p>
            <p>ที่มา : Brian, Holdsworth and Clive, Woods. (2002 : 164)</p>             
        </div>
        
        <p class="abs">
            จากภาพประกอบที่ 1.8 อัตราส่วนระหว่างความกว้างสัญญาณขณะที่มีสถานะเปิด ต่อ ความ
        คาบสัญญาณ คิดเป็นครึ่งหนึ่งของความกว้างทั้งหมด นั้นคือ ร้อยละ 50 ของวัฎจักรหน้าที่ (50%
        Duty Cycle) ซึ่งการควบคุมความกว้างของสัญญาณทำให้เราสามารถอ่านและเขียนข้อมูลแบบ
        แอนะล็อกด้วยสัญญาณดิจิทัลได้ โดยสร้างคลื่นสี่เหลี่ยมสลับกันระหว่างสถานะเปิด กับสถานะปิด
        เรียกเทคนิคนี้ว่า Pulse Width Modulation หรือ PWM ดังภาพประกอบ 1.9
        </p>
        <div class="box-img">
            <img src="assets/image/c1/1_9.PNG">
        </div>
        <div class="box-label-img">
            <p>ภาพประกอบ 1.9 สัญญาณ PWM ที่ความถี่เดียวกันแต่วัฎจักรหน้าที่ต่างกัน (ก) ร้อยละ 25 (ข) ร้อยละ 50 (ค) ร้อยละ 75 </p>
            <p>ที่มา : Tahir, M. and Kashif, Javed. (2017 : 410)</p>                  
        </div>
        <p class="abs">
            การสั่งการด้วยสัญญาณดิจิทัล โดยตรงไม่สามารถที่จะควบคุมปริมาณได้เช่น ควบคุม
        ความเร็วของมอเตอร์ ความสว่างของหลอดไฟ หรือสิ่งอื่น ๆ ที่ต้องควบคุมด้วยสัญญาณแอนะล็อก
        อย่างไรก็ตามสัญญาณ PWM ต้องใช้ 1 ช่องสัญญาณ หรือ พอร์ต (Port) ต่อการส่งข้อมูลไปยัง
        อุปกรณ์หนึ่งตัว (1 ต่อ 1) หากต้องการส่งข้อมูลจำนวนมากอาจทำให้ช่องสัญญาณไม่เพียงพอ จึงต้อง
        ใช้เทคนิคอื่นในการส่งสัญญาณดิจิทัล เช่น Pulse Position Modulation (PPM) หรือ Time
        Division Multiplexing (TDM) เป็นต้น (Tahir, M. and Kashif, Javed, 2017 : 410)
        </p>
    </div>
</div>