<div class="content" style="height: 100vh;">
    <div class="paper">
        <div class="box-head-title">
            <h2>แบบทดสอบก่อนเรียน</h2>
        </div>
        <form [formGroup]="myForm" class="form_question" (ngSubmit)="sendQuestion()">

            <div class="examination">
                <div class="question">
                    <p>1. ระบบเลขฐานใดที่ใช้ในชีวิตประจำวันของมนุษย์</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c2_q1_1" value="1" formControlName="c2_q1">
                        <label for="c2_q1_1">เลขฐานสอง</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q1_2" value="2" formControlName="c2_q1">
                        <label for="c2_q1_2">เลขฐานแปด</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q1_3" value="3" formControlName="c2_q1">
                        <label for="c2_q1_3">เลขฐานสิบ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q1_4" value="4" formControlName="c2_q1">
                        <label for="c2_q1_4">เลขฐานสิบหก</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>2. หลักการทำงานของอุปกรณ์ใดเปรียบเทียบได้กับการทำงานของระบบเลขฐานสอง</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c2_q2_1" value="1" formControlName="c2_q2">
                        <label for="c2_q2_1">การขี่จักรยาน</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q2_2" value="2" formControlName="c2_q2">
                        <label for="c2_q2_2">การปิด-เปิดสวิตซ์ไฟ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q2_3" value="3" formControlName="c2_q2">
                        <label for="c2_q2_3">การแกว่งของลูกตุ้มนาฬิกา</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q2_4" value="4" formControlName="c2_q2">
                        <label for="c2_q2_4">การหมุนของเข็มนาฬิกา</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>3. เลขฐานสองจะมีค่าลอจิกเป็นเท่าไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c2_q3_1"  value="1" formControlName="c2_q3">
                        <label for="c2_q3_1">0,1</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q3_2" value="2" formControlName="c2_q3">
                        <label for="c2_q3_2">0,1,2</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q3_3" value="3" formControlName="c2_q3">
                        <label for="c2_q3_3">0,1,2,3</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q3_4" value="4" formControlName="c2_q3">
                        <label for="c2_q3_4">1,2</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>4. ข้อใดไม่ใช่สัญลักษณ์ของเลขฐานสอง</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c2_q4_1" value="1" formControlName="c2_q4">
                        <label for="c2_q4_1" >0</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q4_2" value="2" formControlName="c2_q4">
                        <label for="c2_q4_2" >1</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q4_3" value="3" formControlName="c2_q4">
                        <label for="c2_q4_3" >2</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q4_4" value="4" formControlName="c2_q4">
                        <label for="c2_q4_4" >0 และ 1</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>5. ข้อใดเป็นระบบเลขฐานสอง</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c2_q5_1" value="1" formControlName="c2_q5">
                        <label for="c2_q5_1">1234AB</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q5_2" value="2" formControlName="c2_q5">
                        <label for="c2_q5_2">0x1150</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q5_3" value="3" formControlName="c2_q5">
                        <label for="c2_q5_3">101 0110</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q5_4" value="4" formControlName="c2_q5">
                        <label for="c2_q5_4">1,245</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>6. ข้อใดเป็นระบบเลขฐานสิบหก</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c2_q6_1" value="1" formControlName="c2_q6">
                        <label for="c2_q6_1">1234AB</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q6_2" value="2" formControlName="c2_q6">
                        <label for="c2_q6_2">0X1150</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q6_3" value="3" formControlName="c2_q6">
                        <label for="c2_q6_3">101 0110</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q6_4" value="4" formControlName="c2_q6">
                        <label for="c2_q6_4">1,245</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>7. ข้อใดเป็นระบบเลขฐานแปด</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c2_q7_1" value="1" formControlName="c2_q7">
                        <label for="c2_q7_1">1234AB</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q7_2" value="2" formControlName="c2_q7">
                        <label for="c2_q7_2">0X1150</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q7_3" value="3" formControlName="c2_q7">
                        <label for="c2_q7_3">101 0110</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q7_4" value="4" formControlName="c2_q7">
                        <label for="c2_q7_4">1,245</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>8. ข้อใดเป็นระบบเลขฐานสิบ</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c2_q8_1" value="1" formControlName="c2_q8">
                        <label for="c2_q8_1">1234AB</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q8_2" value="2" formControlName="c2_q8">
                        <label for="c2_q8_2">0X1150</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q8_3" value="3" formControlName="c2_q8">
                        <label for="c2_q8_3">101 0110</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q8_4" value="4" formControlName="c2_q8">
                        <label for="c2_q8_4">1,245</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <ng-katex [equation]="'9.\\hspace{0.2em}เลขยกกำลังค่า\\hspace{0.2em}(8x10_3)+(9x10_2)+(0x10_1)+(3x10_0)\\hspace{0.2em}มีค่าตรงกับข้อใด'"></ng-katex>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c2_q9_1" value="1" formControlName="c2_q9">
                        <label for="c2_q9_1">9803</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q9_2" value="2" formControlName="c2_q9">
                        <label for="c2_q9_2">8913</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q9_3" value="3" formControlName="c2_q9">
                        <label for="c2_q9_3">8930</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q9_4" value="4" formControlName="c2_q9">
                        <label for="c2_q9_4">8903</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>10. A ในฐานสิบหกมีค่าเท่ากับเท่าใด</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c2_q10_1" value="1" formControlName="c2_q10">
                        <label for="c2_q10_1">10</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q10_2" value="2" formControlName="c2_q10">
                        <label for="c2_q10_2">11</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q10_3" value="3" formControlName="c2_q10">
                        <label for="c2_q10_3">12</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q10_4" value="4" formControlName="c2_q10">
                        <label for="c2_q10_4">13</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>11. ข้อใดคือสัญลักษณ์สูงสุดของระบบเลขฐานสิบหก</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c2_q11_1" value="1" formControlName="c2_q11">
                        <label for="c2_q11_1">A</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q11_2" value="2" formControlName="c2_q11">
                        <label for="c2_q11_2">0</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q11_3" value="3" formControlName="c2_q11">
                        <label for="c2_q11_3">F</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q11_4" value="4" formControlName="c2_q11">
                        <label for="c2_q11_4">16</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <ng-katex [equation]="'12.\\hspace{0.2em}ตัวเลขดังต่อไปนี้\\hspace{0.2em}44_8\\hspace{0.2em}อ่านว่าอย่างไร'"></ng-katex>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c2_q12_1" value="1" formControlName="c2_q12">
                        <label for="c2_q12_1">สี่-สี่-แปด</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q12_2" value="2" formControlName="c2_q12">
                        <label for="c2_q12_2">สี่-สี่-ฐานแปด</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q12_3" value="3" formControlName="c2_q12">
                        <label for="c2_q12_3">สี่-สิบ-สี่-แปด</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q12_4" value="4" formControlName="c2_q12">
                        <label for="c2_q12_4">สี่-สิบ-สี่-ฐานแปด</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>13. ข้อใดคือหลักการแบ่งกลุ่มเพื่อการแปลงค่าเลขฐานสองให้เป็นฐานสิบหก</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c2_q13_1" value="1" formControlName="c2_q13">
                        <label for="c2_q13_1">แบ่งกลุ่มละสี่หลักจากด้านขวาไปด้านซ้าย</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q13_2" value="2" formControlName="c2_q13">
                        <label for="c2_q13_2">แบ่งกลุ่มละสี่หลักจากด้านซ้ายไปด้านขวา</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q13_3" value="3" formControlName="c2_q13">
                        <label for="c2_q13_3">แบ่งกลุ่มละสองหลักจากด้านขวาไปด้านซ้าย</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q13_4" value="4" formControlName="c2_q13">
                        <label for="c2_q13_4">แบ่งกลุ่มละสองหลักจากด้านซ้ายไปด้านขวา</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>14. ข้อใดเขียนถูกต้อง</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c2_q14_1" value="1" formControlName="c2_q14">
                        <label for="c2_q14_1"><ng-katex [equation]="'125_2'"></ng-katex></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q14_2" value="2" formControlName="c2_q14">
                        <label for="c2_q14_2"><ng-katex [equation]="'10810_2'"></ng-katex></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q14_3" value="3" formControlName="c2_q14">
                        <label for="c2_q14_3"><ng-katex [equation]="'150'"></ng-katex></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q14_4" value="4" formControlName="c2_q14">
                        <label for="c2_q14_4"><ng-katex [equation]="'101013_2'"></ng-katex></label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>15. อักษร A อยู่ในระบบฐานอะไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c2_q15_1" value="1" formControlName="c2_q15">
                        <label for="c2_q15_1">ฐานสอง</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q15_2" value="2" formControlName="c2_q15">
                        <label for="c2_q15_2">ฐานแปด</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q15_3" value="3" formControlName="c2_q15">
                        <label for="c2_q15_3">ฐานสิบ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q15_4" value="4" formControlName="c2_q15">
                        <label for="c2_q15_4">ฐานสิบหก</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>16. จงแปลงเลขฐานสองคือ 11011 เป็นฐานสิบได้ค่าเท่าไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c2_q16_1" value="1" formControlName="c2_q16">
                        <label for="c2_q16_1">27</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q16_2" value="2" formControlName="c2_q16">
                        <label for="c2_q16_2">26</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q16_3" value="3" formControlName="c2_q16">
                        <label for="c2_q16_3">25</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q16_4" value="4" formControlName="c2_q16">
                        <label for="c2_q16_4">24</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>17. จงเปลี่ยนเลข 1213 เลขฐานแปดให้เป็นเลขฐานสิบว่ามีค่าเท่าไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c2_q17_1" value="1" formControlName="c2_q17">
                        <label for="c2_q17_1">432</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q17_2" value="2" formControlName="c2_q17">
                        <label for="c2_q17_2">651</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q17_3" value="3" formControlName="c2_q17">
                        <label for="c2_q17_3">728</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q17_4" value="4" formControlName="c2_q17">
                        <label for="c2_q17_4">891</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>18. จงเปลี่ยนเลขฐานสอง 11101 ให้เป็นเลขฐานแปดว่ามีค่าเท่าไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c2_q18_1" value="1" formControlName="c2_q18">
                        <label for="c2_q18_1"><ng-katex [equation]="'35_8'"></ng-katex></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q18_2" value="2" formControlName="c2_q18">
                        <label for="c2_q18_2"><ng-katex [equation]="'36_8'"></ng-katex></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q18_3" value="3" formControlName="c2_q18">
                       <label for="c2_q18_3"><ng-katex [equation]="'150'"></ng-katex></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q18_4" value="4" formControlName="c2_q18">
                       <label for="c2_q18_4"><ng-katex [equation]="'38_8'"></ng-katex></label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>19. จงเปลี่ยนเลขฐานสอง 10111011 ให้เป็นเลขฐานสิบหกว่ามีค่าเท่าไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c2_q19_1" value="1" formControlName="c2_q19">
                        <label for="c2_q19_1"><ng-katex [equation]="'AA_{16}'"></ng-katex></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q19_2" value="2" formControlName="c2_q19">
                        <label for="c2_q19_2"><ng-katex [equation]="'BB_{16}'"></ng-katex></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q19_3" value="3" formControlName="c2_q19">
                        <label for="c2_q19_3"><ng-katex [equation]="'CC_{16}'"></ng-katex></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q19_4" value="4" formControlName="c2_q19">
                        <label for="c2_q19_4"><ng-katex [equation]="'DD_{16}'"></ng-katex></label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>20. จงบวกเลขฐานสอง 1101 + 1001 มีค่าเท่าไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c2_q20_1" value="1" formControlName="c2_q20">
                        <label for="c2_q20_1">10110</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q20_2" value="2" formControlName="c2_q20">
                        <label for="c2_q20_2">10111</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q20_3" value="3" formControlName="c2_q20">
                        <label for="c2_q20_3">11100</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c2_q20_4" value="4" formControlName="c2_q20">
                        <label for="c2_q20_4">11011</label>
                    </div>
                </div>
            </div>
            <div class="btn-send-question">
                <button [disabled]="!myForm.valid" class="btn btn-primary">Send</button>
            </div>
        </form>
    </div>
</div>