<div class="content" style="height: 100vh;">
    <div class="paper">
        <div class="box-head-title">
            <h2>แบบทดสอบก่อนเรียน</h2>
        </div>
        <form [formGroup]="myForm" class="form_question">

            <div class="examination">
                <div class="question">
                    <p>1. ระบบเลขฐานใดที่ใช้ในชีวิตประจำวันของมนุษย์</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c2_q1">
                        <span>เลขฐานสอง</span> 
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c2_q1">
                        <label>เลขฐานแปด</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c2_q1">
                        <label>เลขฐานสิบ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c2_q1">
                        <label>เลขฐานสิบหก</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>2. หลักการทำงานของอุปกรณ์ใดเปรียบเทียบได้กับการทำงานของระบบเลขฐานสอง</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c2_q2">
                        <span>การขี่จักรยาน</span> 
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c2_q2">
                        <label>การปิด-เปิดสวิตซ์ไฟ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c2_q2">
                        <label>การแกว่งของลูกตุ้มนาฬิกา</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c2_q2">
                        <label>การหมุนของเข็มนาฬิกา</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>3. เลขฐานสองจะมีค่าลอจิกเป็นเท่าไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c2_q3">
                        <span>0,1</span> 
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c2_q3">
                        <label>0,1,2</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c2_q3">
                        <label>0,1,2,3</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c2_q3">
                        <label>1,2</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>4. ข้อใดไม่ใช่สัญลักษณ์ของเลขฐานสอง</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c2_q4">
                        <span>0</span> 
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c2_q4">
                        <label>1</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c2_q4">
                        <label>2</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c2_q4">
                        <label>0 และ 1</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>5. ข้อใดเป็นระบบเลขฐานสอง</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c2_q5">
                        <span>1234AB</span> 
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c2_q5">
                        <label>0x1150</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c2_q5">
                        <label>101 0110</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c2_q5">
                        <label>1,245</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>6. ข้อใดเป็นระบบเลขฐานสิบหก</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c2_q6">
                        <span>1234AB</span> 
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c2_q6">
                        <label>0X1150</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c2_q6">
                        <label>101 0110</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c2_q6">
                        <label>1,245</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>7. ข้อใดเป็นระบบเลขฐานแปด</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c2_q7">
                        <span>1234AB</span> 
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c2_q7">
                        <label>0X1150</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c2_q7">
                        <label>101 0110</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c2_q7">
                        <label>1,245</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>8. ข้อใดเป็นระบบเลขฐานสิบ</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c2_q8">
                        <span>1234AB</span> 
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c2_q8">
                        <label>0X1150</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c2_q8">
                        <label>101 0110</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c2_q8">
                        <label>1,245</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <ng-katex [equation]="'9.\\hspace{0.2em}เลขยกกำลังค่า\\hspace{0.2em}(8x10_3)+(9x10_2)+(0x10_1)+(3x10_0)\\hspace{0.2em}มีค่าตรงกับข้อใด'"></ng-katex>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c2_q9">
                        <span>9803</span> 
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c2_q9">
                        <label>8913</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c2_q9">
                        <label>8930</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c2_q9">
                        <label>8903</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>10. A ในฐานสิบหกมีค่าเท่ากับเท่าใด</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c2_q10">
                        <span>10</span> 
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c2_q10">
                        <label>11</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c2_q10">
                        <label>12</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c2_q10">
                        <label>13</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>11. ข้อใดคือสัญลักษณ์สูงสุดของระบบเลขฐานสิบหก</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c2_q11">
                        <span>A</span> 
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c2_q11">
                        <label>0</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c2_q11">
                        <label>F</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c2_q11">
                        <label>16</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <ng-katex [equation]="'12.\\hspace{0.2em}ตัวเลขดังต่อไปนี้\\hspace{0.2em}44_8\\hspace{0.2em}อ่านว่าอย่างไร'"></ng-katex>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c2_q12">
                        <span>สี่-สี่-แปด</span> 
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c2_q12">
                        <label>สี่-สี่-ฐานแปด</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c2_q12">
                        <label>สี่-สิบ-สี่-แปด</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c2_q12">
                        <label>สี่-สิบ-สี่-ฐานแปด</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>13. ข้อใดคือหลักการแบ่งกลุ่มเพื่อการแปลงค่าเลขฐานสองให้เป็นฐานสิบหก</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c2_q13">
                        <span>แบ่งกลุ่มละสี่หลักจากด้านขวาไปด้านซ้าย</span> 
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c2_q13">
                        <label>แบ่งกลุ่มละสี่หลักจากด้านซ้ายไปด้านขวา</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c2_q13">
                        <label>แบ่งกลุ่มละสองหลักจากด้านขวาไปด้านซ้าย</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c2_q13">
                        <label>แบ่งกลุ่มละสองหลักจากด้านซ้ายไปด้านขวา</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>14. ข้อใดเขียนถูกต้อง</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c2_q14">
                        <ng-katex [equation]="'125_2'"></ng-katex>
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c2_q14">
                        <ng-katex [equation]="'10810_2'"></ng-katex>
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c2_q14">
                        <ng-katex [equation]="'150'"></ng-katex>
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c2_q14">
                        <ng-katex [equation]="'101013_2'"></ng-katex>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>15. อักษร A อยู่ในระบบฐานอะไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c2_q15">
                        <span>ฐานสอง</span> 
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c2_q15">
                        <label>ฐานแปด</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c2_q15">
                        <label>ฐานสิบ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c2_q15">
                        <label>ฐานสิบหก</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>16. จงแปลงเลขฐานสองคือ 11011 เป็นฐานสิบได้ค่าเท่าไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c2_q16">
                        <span>27</span> 
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c2_q16">
                        <label>26</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c2_q16">
                        <label>25</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c2_q16">
                        <label>24</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>17. จงเปลี่ยนเลข 1213 เลขฐานแปดให้เป็นเลขฐานสิบว่ามีค่าเท่าไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c2_q17">
                        <span>432</span> 
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c2_q17">
                        <label>651</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c2_q17">
                        <label>728</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c2_q17">
                        <label>891</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>18. จงเปลี่ยนเลขฐานสอง 11101 ให้เป็นเลขฐานแปดว่ามีค่าเท่าไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c2_q14">
                        <ng-katex [equation]="'35_8'"></ng-katex>
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c2_q14">
                        <ng-katex [equation]="'36_8'"></ng-katex>
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c2_q14">
                        <ng-katex [equation]="'150'"></ng-katex>
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c2_q14">
                        <ng-katex [equation]="'38_8'"></ng-katex>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>19. จงเปลี่ยนเลขฐานสอง 10111011 ให้เป็นเลขฐานสิบหกว่ามีค่าเท่าไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c2_q14">
                        <ng-katex [equation]="'AA_{16}'"></ng-katex>
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c2_q14">
                        <ng-katex [equation]="'BB_{16}'"></ng-katex>
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c2_q14">
                        <ng-katex [equation]="'CC_{16}'"></ng-katex>
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c2_q14">
                        <ng-katex [equation]="'DD_{16}'"></ng-katex>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>20. จงบวกเลขฐานสอง 1101 + 1001 มีค่าเท่าไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c2_q1">
                        <span>10110</span> 
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c2_q1">
                        <label>10111</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c2_q1">
                        <label>11100</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c2_q1">
                        <label>11011</label>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
</div>