<div class="sidebar" style="overflow-y: auto">
    <div class="logo">
        <div class="back-logo">
            <img src="../../../assets/image/arrow-back-icon.png" width="35%" routerLink="/page/learning">
        </div>
        <div class="logo-title">
            <img src="../../../assets/image/logo.png" width="18%">
            <h3>Logo</h3>
        </div>
    </div>
    <div class="menu">
        <ul>
            <li routerLink="/chapter4">คำนำ</li>
            <li routerLink="/chapter4/pretest" >แบบทดสอบก่อนเรียน</li>
            <!-- <li>บทที่ 1</li> -->
            <div class="lesson">
                <p class="lesson-title">บทที่ 4 พีชคณิตบูลีน</p>
                <ul class="lesson-menu">
                    <li routerLink="/chapter4/boolean-algebra-law">กฎของพีชคณิตบูลีน</li>
                    <li routerLink="/chapter4/standard-boolean-forms">การเขียนสมการตรรกะในรูปมาตรฐาน</li>
                    <li routerLink="/chapter4/converting-truth-tables-into-boolean-expressions">การเขียนสมการตรรกะจากตารางความจริง</li>
                    <li routerLink="/chapter4/simplifying-boolean-expressions">การลดรูปสมการพีชคณิตบูลีน</li>
                    <li routerLink="/chapter4/de-morgan-theorem">ทฤษฎีของ ดี มอร์แกน</li>
                    <li routerLink="/chapter4/sum-of-products-expressions">การขยายเทอมผลบวกของผลคูณ</li>
                    <li routerLink="/chapter4/summary-end-chapter">สรุปท้ายบท</li>
                </ul>
            </div>
            <li routerLink="">แบบทดสอบหลังเรียน</li>
            <li routerLink="">ปฎิบัติการ</li>
        </ul>
    </div>
</div>