<div class="content">
    <h2>สรุปท้ายบท</h2>
    <div>
        <pre>
            เลขฐานสองเป็นเลขฐานเข้ากันได้กับระบบดิจิทัล โดยทั่วไปเรานิยมใช้เลขฐานสิบ จึงมีความ
        จำเป็นต้องแปลงเป็นเลขฐานสองเพื่อให้คอมพิวเตอร์สามารถประมวลผลได้ง่าย แต่ด้วยความข้อจำกัด
        หลายอย่างทำให้การใช้งานเลขฐานสองโดยตรงเป็นเรื่องยาก ในระบบดิจิทัลจึงมีการใช้งานเลขฐาน
        แปดและฐานสิบหก เพื่อแทนเลขฐานสองทำให้จำนวนบิตสั้นลง โดยแบ่งกลุ่มของเลขฐานสอง
        ออกเป็นกลุ่ม ๆ ละ n ตัว เมื่อ <ng-katex [equation]="'2^n'"></ng-katex> มีค่าเท่ากับเลขฐานนั้น โดยเริ่มจากหลักแรกทั้งหน้าและหลังจุด
        ทศนิยม ในกรณีที่เป็นจำนวนเต็มเริ่มจากหลักต่ำสุดของเลข หากเป็นหลังทศนิยมให้เริ่มจากหลักแรก
        หลังจุดทศนิยม ระบบเลขฐานจะมีอยู่ 2 คอมพลีเมนต์คือ r’s Complement และ r-1’s
        Complement สามารถแก้ปัญหาในการลบได้ การบวกเลข การคูณ และการหารเลขฐานใด ๆ
        สามารถใช้หลักการเดียวกับระบบเลขฐานสิบ ซึ่งถ้าหากเป็นทศนิยมไม่รู้จบ จะต้องมีการกำหนด
        จำนวนหลักหลังจุดทศนิยม เช่นเดียวกับระบบเลขฐานสิบ
        </pre>
    </div>
</div>
