<div class="courses">
  <div>
    <div class="item-course">
      <img
        src="../../../assets/image/c1.jpg"
        width="100%"
        height="100%"
      />
      <div class="course-title">
        <h3>บทที่ 1</h3>
        <p>Lorem ipsum dolor sit</p>
      </div>
    </div>

    <div class="item-course">
      <img
        src="../../../assets/image/c2.jpg"
        width="100%"
        height="100%"
      />
      <div class="course-title">
        <h3>บทที่ 2</h3>
        <p>Lorem ipsum dolor sit</p>
      </div>
    </div>

    <div class="item-course">
      <img
        src="../../../assets/image/c3.png"
        width="100%"
        height="100%"
      />
      <div class="course-title">
        <h3>บทที่ 3</h3>
        <p>Lorem ipsum dolor sit</p>
      </div>
    </div>

    <div class="item-course">
      <img
        src="../../../assets/image/c4.png"
        width="100%"
        height="100%"
      />
      <div class="course-title">
        <h3>บทที่ 4</h3>
        <p>Lorem ipsum dolor sit</p>
      </div>
    </div>
  </div>
</div>
