<div class="content">
    <h2>แนนด์เกต (The NAND Gate)</h2>
    <div>
        <pre>
            Jean-Pierre, Deschamps, Elena, Valderrama and Lluís, Terés (2017 : 16) ได้กล่าว
        ว่า แนนด์เกต เป็นลอจิกที่มีโครงสร้างร่วมกันระหว่างอินเวอร์เกต และแอนด์เกต วงจรแอนต์เกตที่ใช้
        สวิตซ์แสดงในภาพประกอบ 3.7 และสัญลักษณ์ของแนนด์เกต ดังภาพประกอบ 3.8
        </pre>
        <img src="assets/image/c3/3_7.PNG">
        <pre>
            ภาพประกอบ 3.7 วงจรแอนต์เกตที่ใช้สวิตซ์
            ที่มา : Dale, R. Patrick (2008 : 36)            
        </pre>
        <pre>
            วงจรพื้นฐานโดยใช้สวิตซ์แสดงการทำงานเป็นแอนด์เกต แสดงในภาพประกอบ 3.7 โดย
        อินพุตของวงจรประกอบไปด้วยสวิตซ์ 2 ตัว คือ สวิตซ์A และสวิตซ์B อินพุตทั้งสองทำหน้าที่ควบคุม
        หลอดไฟดับ ซึ่งมีวิธีเดียว คือ สวิตซ์ A และ B อยู่ในสถานะ “ปิด” เท่านั้น หลอดไฟจึงจะติดสว่าง            
        </pre>
        <img src="assets/image/c3/3_8.PNG">
        <pre>
            ภาพประกอบ 3.8 สัญลักษณ์ของแนนด์เกต
            ที่มา : Ronald, J. Tocci, Neal, S.Widmer and Gregory, L. Moss (2007 : 75)                        
        </pre>
        <pre>
            แนนด์เกต 2 อินพุต ดังภาพประกอบ 3.8 (a) ประกอบไปด้วยแอนด์เกต 2 อินพุต 1 ตัว ดัง
        ภาพประกอบ (b ) ด้านเอาต์พุตต่อเข้ากับอินเวอร์เตอร์เกตตัวหนึ่ง ดังนั้นสมการพีชคณิตบูลีน
        ทางด้านเอาต์พุตของแนนด์เกตคือ <ng-katex [equation]="'X = \\overline{A•B}'"></ng-katex> หรือ NAND = NOT • AND หรือ NAND = <ng-katex [equation]="'\\overline{ANB}'"></ng-katex>                      
        </pre>
        <pre>
            ตาราง 3.3 ตารางความจริงของแอนด์เกตและแนนด์เกต
        </pre>
        <img src="assets/image/c3/t3_3.PNG">
        <pre>
            ที่มา : Jean-Pierre, Deschamps, Elena, Valderrama and Lluís, Terés. (2017 : 18)
        </pre>
        <pre>
            ตารางความจริงของแนนด์เกต 2 อินพุต แสดงในตาราง 3.3 โดยแสดงให้เห็นเอาต์พุตของ
        วงจร คือเอาต์พุต A AND B และเอาต์พุต A NAND B
        เมื่ออินพุตทั้งหมดเป็น “1” แล้วเอาต์พุตของ A NAND B ซึ่งเป็นการกลับสภาวะลอจิก
        เอาต์พุตของ A AND B ดังนั้นลอจิกเอาต์พุตของแนนด์เกตจะมีค่าเป็น “0”
        </pre>
    </div>
</div>
