<div class="content" style="overflow: hidden;">
    <div class="detail">
        <h1 class="label-title">   ระบบดิจิทัล</h1>
        <p class="label-detail">
          เว็ปช่วยสอนรายวิชา ระบบดิจิทัล ได้เรียบเรียงขึ้น เนื้อหาทาจาก เอกสารประกอบการสอน รายวิชาดิจิทัล
อย่างเป็นระบบ ครอบคลุมเนื้อหาสาระรายวิชา และจัดทำขึ้นเพื่อใช้ประกอบการเรียนการสอน
นักศึกษา หลักสูตรวิทยาศาสตรบัณฑิต สาขาวิชาเทคโนโลยีสารสนเทศ ในระดับปริญญาตรี โดย
เว็ปช่วยสอนนี้มีขอบเขตมุ่งเน้นให้นักศึกษามีความรู้ ความเข้าใจ ตลอดจน
ประยุกต์ใช้ความรู้ทางทฤษฏี และวิธีปฏิบัติ พร้อมทั้งยกตัวอย่างประกอบเพื่อให้เข้าใจยิ่งขึ้น ได้แบ่ง
เนื้อหาออกเป็น 4 บท ได้แก่ ระบบเลขฐาน การดำเนินการทางคณิตศาสตร์กับเลขฐาน ลอจิเกต 
พีชคณิตบูลีน ตามลำดับ
        </p>
        <div class="action">
            <button routerLink="learning">
                เข้าสู้บทเรียน
            </button>
        </div>
    </div>
    <div class="item-electronic">
        <img src="../../../assets//image/electronic.png" alt="electronic" width="830px">
    </div>
</div>