<div class="content" style="overflow: hidden;">
    <div class="detail">
        <h1 class="label-title">Electronic Learning</h1>
        <p class="label-detail">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis maiores libero in accusamus molestiae similique sed, iste quisquam, veritatis accusantium quibusdam molestias placeat deleniti velit officia eius itaque quidem. Tempore!Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis maiores libero in accusamus molestiae similique sed, iste quisquam, veritatis accusantium quibusdam molestias placeat deleniti velit officia eius itaque quidem. Tempore! itaque quidem. Tempore!Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis maiores libero in accusamus molestiae similique sed, iste quisquam, veritatis accusantium quibusdam molestias placeat deleniti velit officia eius itaque quidem. Tempore!
        </p>
        <div class="action">
            <button routerLink="learning">
                Learnning
            </button>
        </div>
    </div>
    <div class="item-electronic">
        <img src="../../../assets//image/electronic.png" alt="electronic" width="750">
    </div>
</div>