<div class="content">
    <div class="paper">
    <div>
        <h2 class="box-head-title">ลอจิกเกต</h2>
        <p class="abs">
            พีชคณิตบูลีนนั้นคล้ายกับพีชคณิตทั่วไปตรงที่ประกอบด้วยสมการที่แสดงความสัมพันธ์ของ
        ค่าคงที่และตัวแปร แต่ค่าคงที่ของพีชคณิตบูลีนคือค่าในเลขฐาน 2 ดังนั้นกฎและสูตรต่าง ๆ ของ
        พีชคณิตบูลีนจึงแตกต่างกัน ตัวกระทำในพีชคณิตบูลีนมี 3 ตัว คือ แอนด์ (AND) ออร์ (OR) นอต
        (NOT) มีรูปแบบมาตรฐานที่ใช้ทั่วไป เพื่อให้ง่ายแก่การนำไปเปลี่ยนรูป สมการพีชคณิตบูลีนสามารถ
        ถอดจากตารางค่าความจริง หรือตารางผังเวลาได้ พีชคณิตบูลีนใช้ในการแก้ไขปัญหาทางวงจรดิจิตอล
        อิเล็กทรอนิกส์ เช่น การออกแบบวงจรดิจิตอลตามเงื่อนไขหรือฟังก์ชันที่กำหนดโดยลักษณะของงานที่
        แตกต่างกัน การเปลี่ยนรูปแบบของวงจร และการลดต้นทุนการผลิตวงจร ดังนั้นการศึกษาพีชคณิต
        บูลีนจึงมีความจำเป็นอย่างยิ่ง สำหรับบทนี้ แบ่งเป็น 6 เรื่องได้แก่ กฎของพีชคณิตบูลีน การเขียน
        สมการตรรกะในรูปมาตรฐาน เขียนสมการตรรกะจากตารางความจริง การลดรูปสมการพีชคณิตบูลีน
        ทฤษฎีของ ดี มอร์แกน และการขยายเทอมผลบวกของผลคูณ              
        </p>
    </div>
    <div>
        <h2 class="box-head-title">แผนบริหารการสอนประจำบทที่ 4</h2>
    </div>
    <div>
        <h3 class="box-label-title">หัวข้อเนื้อหา</h3>
        <pre>
            1. กฎของพีชคณิตบูลีน
            2. การเขียนสมการตรรกะในรูปมาตรฐาน
            3. การเขียนสมการตรรกะจากตารางความจริง
            4. การลดรูปสมการพีชคณิตบูลีน
            5. ทฤษฎีของ ดี มอร์แกน
            6. การขยายเทอมผลบวกของผลคูณ                     
        </pre>
    </div>
    <div>
        <h3 class="box-label-title">วัตถุประสงค์เชิงพฤติกรรม</h3>
        <pre>
            1. อธิบายทฤษฏีพีชคณิตบูลีนได้
            2. สามารถเขียนสมการตรรกะในแบบมาตรฐาน
            3. สามารถเขียนเขียนสมการตรรกะจากตารางความจริง
            4. สามารถการลดรูปสมการโดยใช้พีชคณิตบูลีน
            5. สามารถใช้ทฤษฎีของ ดี มอร์แกน ในการแก้ปัญหา
            6. สามารถขยายเทอมผลบวกของผลคูณ          
        </pre>
    </div>
    <div>
        <h3 class="box-label-title">วิธีสอนและกิจกรรมการเรียนการสอน</h3>
        <pre>
                1. ใช้การบรรยายในห้องเรียน โดยอาจารย์ผู้สอน หรือจัดการเรียนการสอนในลักษณะการ
            สอนเป็นทีม มีการกำหนดกิจกรรมให้มีการทำงานเป็นกลุ่ม หรือการทำงานที่ต้องประสานงานกับผู้อื่น
            ข้ามหลักสูตร หรือต้องค้นคว้าหาข้อมูลจากการสัมภาษณ์บุคคลอื่น หรือผู้มีประสบการณ์ โดยมีความ
            คาดหวังในผลการเรียนรู้ด้านทักษะความสัมพันธ์ระหว่างตัวบุคคลและความสามารถในการรับผิดชอบ
            มีการแลกเปลี่ยนความคิดเห็นวิเคราะห์ และอภิปรายร่วมกัน แทรกเสริมประสบการณ์หรือความรู้ที่
            ทันสมัย หรือใช้เทคโนโลยีที่ทันสมัยและแปลกใหม่
                2. ให้การฝึกปฏิบัติการแก่นักศึกษา
                3. ให้แบบฝึกหัด
                4. ให้นักศึกษามีการศึกษาค้นคว้าด้วยตนเอง สรุปประเด็นจากการศึกษา
                5. จัดอภิปรายกลุ่ม และนำเสนอหน้าชั้น โดยอธิบายถึงข้อจำกัด เหตุผลในการเลือกใช้
            เครื่องมือหรือทฤษฎีต่างๆ และการอภิปรายกรณีศึกษาต่าง ๆ
        </pre>
    </div>
    <div>
        <h3 class="box-label-title">สื่อการเรียนการสอน</h3>
        <pre>
            1. เอกสารประกอบการสอน
            2. สื่ออิเล็กทรอนิกส์
            3. ใบงาน / แบบฝึกหัด
        </pre>
    </div>
    <div>
        <h3 class="box-label-title">การวัดผลและประเมินผล</h3>
        <pre>
            1. การวัดโดยวิธีการสังเกต
                1.1 การแต่งกาย
                1.2 การตรงต่อเวลา
                1.3 การมีส่วนร่วมในชั้นเรียน
                1.4 ความสนใจและความตั้งใจ
            2. การประเมินผล
                2.1 ตรวจรายงาน
                2.2 ตรวจแบบฝึกหัด
                2.3 ตรวจผลงานภาคปฏิบัติ
                2.4 ตรวจผลงานต่าง ๆ ที่ให้ทำ
                2.5 การนำเสนอรายงานในชั้นเรียน
                2.6 ทดสอบโดยใช้ข้อสอบข้อเขียน
        </pre>
    </div>
</div>
</div>