<div class="content">
    <div>
        <h2>ระบบตัวเลข (Number System)</h2>
        <pre>
            Brian, Holdsworth and Clive, Woods (2002 : 2) ได้กล่าวว่า ระบบตัวเลขที่ใช้กันมาก
        ที่สุด ก็คือ ระบบเลข 10 จำนวน นิยมแทนสัญลักษณ์ด้วย 0 1 2 3 4 5 6 7 8 และ 9 เรียกว่า
        เลขฐานสิบ ซึ่งเป็นระบบที่มีค่าประจำหลัก (Positional-Value System) นั้นคือ ค่าของสัญลักษณ์
        ในแต่ละหลักขึ้นอยู่กับค่าประจำหลัก
        จำนวน 352 ประกอบไปด้วย (3 x 100) + (5 x 10) + (2 x 1) จะเห็นว่าค่าของตัวเลข
        (Digit) พิจารณาจากหลักของตัวเลขตัวนั้น
        จะเห็นว่าสามารถหาหลักเกณฑ์ในการเขียนจำนวน N จากตัวเลข d จำนวน n ตัว ในเลข
        ฐาน (R) โดย
        </pre>
        <img src="assets/image/c2/ex2_1.PNG">
        <pre>
            ฐาน (Base หรือ Radix) ของระบบตัวเลขนิยามว่า คือ จำนวนของเลขต่าง ๆ ในระบบตัวเลข
        นั้น เช่น ระบบเลขฐานสิบ คือ ระบบที่มีตัวเลขจำนวนเต็มที่ต่างกัน 10 ตัว
            ระบบดิจิทัลมีการใช้งานเลขฐานแตกต่างกันออกไปตามลักษณะข้อมูล ตัวอย่างของระบบเลข
        ฐาน ได้แก่
        ฐานสอง (Binary Number) ประกอบด้วยเลข 0 และ 1
        ฐานสาม (Teranry Number) ประกอบด้วยเลข 0 1 และ 2
        ฐานห้า (Quinary Number) ประกอบด้วยเลข 0 1 2 3 และ 4
        ฐานแปด (Octal Number) ประกอบด้วยเลข 0 1 2 3 4 5 6 และ 7
        ฐานสิบ (Decimal Number) ประกอบด้วยเลข 0 1 2 3 4 5 6 7 8 และ 9
        ฐานสิบสอง (Duodecimal Number) ประกอบด้วยเลข 0 1 2 3 4 5 6 7 8 9 A และ B
        ฐานสิบหก (Hexadecimal Number) ประกอบด้วยเลข 0 1 2 3 4 5 6 7 8 9 A B C
        D E และ F
        ระบบตัวเลขที่ใช้ในระบบดิจิทัล คือ ฐานสอง ฐานแปด และ ฐานสิบหก
            1. ระบบเลขฐานสิบ (Decimal Number System)
            Brian, Holdsworth and Clive, Woods (2002 : 2-4) ได้กล่าวว่า ระบบเลขฐานสิบ
        ประกอบไปด้วยตัวเลข 10 จำนวน เป็นเลขฐานที่นิยมใช้มากที่สุด ส่วนหนึ่งเป็นเพราะ 10 มีค่าเท่ากับ
        จำนวนนิ้วของเรานั้นเอง ซึ่งคำว่า ดิจิต (Digit) ในภาษาละติน หมายถึง นิ้ว
            จากสมการที่ 1.1 เราสามารเขียนจำนวนใด ๆ บนเลขฐานสิบ ได้เป็น
        </pre>
        <img src="assets/image/c2/ex2_2.PNG">
        <pre>
            การเขียนสมการข้างต้นสามารถขยายไปสู่จำนวนเศษส่วน (Fractional Number) ในระบบ
        เลขฐานสิบได้ โดยแทนจำนวนเศษส่วนที่อยู่ทางขวาของจุดทศนิยม (Decimal Point) ซึ่งแบ่งจำนวน
        ตัวเลขจำนวนเต็ม และเศษส่วน สำหรับฐานอื่นจะเรียกจุดนี้ว่า จุดฐาน (Radix Point) ซึ่งมีเลข m ตัว
        อยู่หลังจุดทศนิยม ได้เป็น
        </pre>
        <img src="assets/image/c2/ex2_3.PNG">
        <pre>
            เมื่อรวมสมการที่ 2.2 และ 2.3 จะได้นิพจน์ทั่วไป สำหรับจำนวนเต็ม และจำนวนเศษส่วน
        เรียกว่า จำนวนผสม (Mix Number) ซึ่งมีเลขอยู่ (m+n) ตัว นั้นคือ
        </pre>
        <img src="assets/image/c2/ex2_4.PNG">
        <pre>
            2. ระบบเลขฐานสอง (Binary Number System)
            Rafiquzzaman, M. (2014 : 23-24) ได้กล่าวว่าการใช้งานระบบเลขฐานสิบแม้ว่าเป็นเรื่อง
        ง่ายสำหรับมนุษย์ แต่การนำมาใช้งานบนอุปกรณ์อิเล็กทรอนิกส์ที่มีเพียงสถานะ เปิด (On) และ ปิด
        (Off) หรือ นำกระแส (Conducting ; I) และ ไม่นำกระแส (Non-Conducting : O) นั้นเป็นเรื่องที่
        ค่อนข้างเป็นไปได้ยากมาก เพราะการนำระบบเลขฐานสิบมาใช้งานจะต้องออกแบบระดับของความ
        ต่างศักย์ไฟฟ้าถึง 10 ระดับ ด้วยเหตุนี้ระบบเลขฐานสองจึงเหมาะสมกับการใช้กับเครื่องจักรโดย
        ธรรมชาติของมัน
        โดยหลักพื้นฐานของระบบเลขฐานสอง ยังคงเหมือนกับเลขฐานสิบ นั้นคือ
        </pre>
        <img src="assets/image/c2/ex2__2.PNG">
        <pre>
            เพื่อให้ง่ายแก่การนับ นิยมตัวเลขฐานสองทีละ 4 หลัก หรือ 4 บิต (Bit มาจากคำว่า Binary
        Digit) จุดฐาน จะเรียกว่า Binary Point ตัวเลขที่มีค่านันสำคัญมากสุด เรียกว่า Most Significant Bit
        หรือ MSB และตัวเลขที่มีค่านัยสำคัญน้อยสุด เรียกว่า Least Significant Bit หรือ LSB จากตัวอย่าง
        ที่ 3 ค่า MSB คือ <ng-katex [equation]="'2^3'"></ng-katex> และค่า LSB คือ <ng-katex [equation]="'2^{-3}'"></ng-katex>
        </pre>
        <pre>
            4. ระบบเลขฐานแปด (Octal Number System)
            ระบบเลขฐานสิบมีความสำคัญเป็นอย่างมากในการใช้นงานทั่วไป เช่นเดียวกับเลขฐานสองที่
        วงจรดิจิทัลสามารถประมวลผลได้โดยตรง แต่ยังไม่เหมาะสมกับการใช้งานเอกสาร หรือจุดประสงค์
        อื่น อาทิ กลุ่มของสวิตซ์ แผงไฟ การปรับระดับ ที่ใช้จำนวนบิตที่ค่อนข้างมาก การใช้งานระบบเลข
        ฐานแปด และระบบเลขฐานสิบหก จึงมีความสะดวก และแสดงผลได้สั้นกว่า ด้วยเหตุผลข้างต้นจึงทำ
        สร้างระบบเลขฐานที่เป็นกำลังของ 2 เช่น ระบบเลขฐานแปด <ng-katex [equation]="'(2^3)'"></ng-katex> ระบบเลขฐานสิบหก <ng-katex [equation]="'(2^4)'"></ng-katex> และยัง
        ใช้หลักการเดียวกับเลขฐานอื่น
            เลขฐานแปดใช้ในดิจิทัลคอมพิวเตอร์ ไมโครคอมพิวเตอร์ รวมไปถึงไมโครคอนโทรเลอร์ เช่น
        Intel 8008, Motorola 6800, RCA 1802 , Microchip PIC, Atmel AVR เป็นต้น
        จากสมการที่ 2.1 เราสามารถเขียนจำนวนใด ๆ บนเลขฐานสิบ ได้เป็น
        </pre>
        <img src="assets/image/c2/ex2_5.PNG">
        <pre>
            การเขียนสมการข้างต้นสามารถขยายไปสู่จำนวนเศษส่วนได้เช่นกัน จุดฐาน จะเรียกว่า
        Octal point
        </pre>
        <pre>
            3. ระบบเลขฐานสิบหก (Hexadecimal Number System)
        Jean-Pierre, Deschamps, Elena, Valderrama and Lluís, Terés (2017 : 229) ได้
        กล่าวว่า ระบบเลขฐานสิบหกเป็นที่นิยมใช้เนื่องจากมีรูปแบบที่กระชับ สามารถใช้แทนระบบ
        เลขฐานสองซึ่งมีจำนวนคำสั่งยาวมาก ๆ เช่น การเข้ารหัส (Encode) หรือ คำสั่งควบคุมเครื่อง
        (Control Code)
        ตัวอย่างเช่น กำหนด 1111 1111 เป็นคำสั่งควบคุมเครื่องพิมพ์ในรูปเลขฐานสอง คือ ผู้
        ควบคุมเครื่องทำการเข้ารหัสคำสั่งควบคุมเครื่องไว้ในรหัสบาร์โค้ด (Barcode) ในรูปของเลขฐานสิบ
        หก บาร์โค้ดอ่านค่าได้ FF ในปัจจุบันเลขฐานสิบหกใช้ในการอ้างอิงที่อยู่ (Address) ของระบบบัส
        (Bus System) และชุดคำสั่ง (Instruction Set) ในไมโครคอมพิวเตอร์ระบบควบคุมต่าง ๆ
        ไมโครคอนโทรเลอร์ความเร็วสูงไมโครโปรเซสเซอร์ (Microprocessor) เช่น Motorola 68000, HP
        3000, CP1600, Intel MCS-96 เป็นต้น
        จากสมการที่ 2.1 เราสามารถเขียนจำนวนใด ๆ บนเลขฐานสิบ ได้เป็น
        </pre>
        <img src="assets/image/c2/ex2_6.PNG">
        <pre>
            การเขียนสมการข้างต้นสามารถขยายไปสู่จำนวนเศษส่วนได้เช่นกัน จุดฐาน เรียกว่า
        Hexadecimal point
            เพื่อป้องกันการสับสน จะให้ตัวห้อยท้ายจำนวนเลขด้วยเลขฐาน เช่น <ng-katex [equation]="'412_{10}'"></ng-katex> เป็นตัวเลขใน
        ระบบเลขฐานสิบ 4128
        เป็นตัวเลขในระบบเลขฐานแปด และ <ng-katex [equation]="'412_{16}'"></ng-katex> เป็นตัวเลขในระบบเลขฐานสิบ
        หก ซึ่งจำนวนทั้งสามมีค่าไม่เท่ากัน
            ในการใช้งานบางระบบบจะมีค่าสูงมาก ซึ่งต้องใช้เลขยกกำลังในการแสดงค่าดังกล่าว โดยใน
        ระบบเลขฐานสิบใช้สัญกรณ์กำลัง แทนด้วย “e” ค่า 5.35e6 หมายถึง 5.35 x <ng-katex [equation]="'10^{6}'"></ng-katex> ระบบเลขฐานสิบ
        หกสามารถเขียนสัญกรณ์กำลังได้เช่นเดียวกับฐานสิบ โดยเลขฐานสิบหกแทนสัญกรณ์กำลัง ด้วย “p”
        ค่า A8DEp42 หมายถึง A8DE16 × <ng-katex [equation]="'2^{42}'"></ng-katex>
            ตัวอย่างค่าของเลขฐานสิบ ฐานสอง ฐานแปด และฐานสิบหก แสดงได้ดังตารางที่ 2.1
        </pre>
        <pre>
            ตาราง 2.1 ตัวอย่างค่าของเลขฐานสิบ ฐานสอง ฐานแปด และฐานสิบหก
        </pre>
        <img src="assets/image/c2/t2_1.PNG">
        <pre>
            ที่มา : Jean-Pierre, Deschamps, Elena, Valderrama and Lluís, Terés (2017 : 229)
        </pre>
    </div>
    <h2>การเปลี่ยนเลขฐาน (Number System Conversion)</h2>
    <div>
        <pre>
            1. การเปลี่ยนเลขฐานสองและเลขฐานสิบ
        Ata, Elahi (2018 : 7-8) ได้กล่าวว่า การเปลี่ยนเลขฐานสิบให้เป็นเลขฐานอื่นหรือเปลี่ยนเลข
        ฐานอื่นให้เป็นเลขฐานสิบนั้นมีความจำเป็นมาก เพราะปกติมนุษย์คุ้นเคยกับเลขฐานสิบมากกว่าเลข
        ฐานอื่น แต่ถ้าจะมองกันในแง่ประมวลผลด้วยเครื่องจักรอิเล็กทรอนิกส์แล้ว เลขฐานสองเป็นเลขที่
        เหมาะสมมากกว่าดังนั้นก็ต้องศึกษาวิธีการเปลี่ยนฐานเลขซึ่งจะได้กล่าวถึงดังต่อไปนี้
        การเปลี่ยนเลขฐานสิบให้เป็นเลขฐานสอง การเปลี่ยนระบบเลขฐานสิบให้เป็นเลขฐานสองนั้น
        โดยทั่วไปทำ ได้ 2 วิธีคือ
        วิธีที่ 1 ใช้กฎ  <ng-katex [equation]="'a_1x2^{n-1}+a_2x2^{n-2}+a_3x2^{n-3}+...+a_nx2^{n-n}'"></ng-katex> มีขั้นตอนดังนี้
            1. ใช้ 2 ยกกำลังค่าสูงสุดแล้วค่าไม่เกินเลขฐานสิบ จำนวนที่ต้องการเปลี่ยนเป็นฐาน
        สองนั้น ๆ แล้วเอาเลขที่ได้จากการใช้ 2 ยกกำลังไปลบออกจากเลขฐานสิบตัวตั้งที่ต้องการเปลี่ยน
            2. ใช้ 2 ยกกำลังค่าสูงสุดที่ไม่เกินเลขฐานสิบ ผลลัพธ์ได้จากการตั้งลบในข้อ 1. แล้ว
        เอาเลขที่ได้จากการใช้ 2 ยกกำลังไปลบออกเหมือบกับข้อ 1. ทำซ้ำจนกระทั่งหมดเลขฐานสิบซึ่งเป็น
        ตัวตั้งแล้วนำเอาสัมประสิทธิ์ของเลขยกกำลังมาเขียนเป็นเลขฐานสอง
            3. ในการเขียนเลขฐานสองให้ถือสัมประสิทธิ์หรือเศษจากการลบครั้งแรกเป็นหลัก
        สูงสุดของเลขฐานสอง และเรียงลำดับไปเรื่อย ๆ ถ้าหากหลักใดไม่มีสัมประสิทธิ์หรือเศษ ให้คิดค่าฐาน
        สองเป็น 0
        </pre>
        <img src="assets/image/c2/ex2__3.PNG">
        <pre>
            จำนวนหลักของเลขฐานสองหาได้โดยสังเกตจากการใช้สองยกกำลังสูงสุด (ซึ่งปกติหลักแรก
        จะต้องเป็น 2 ยกกำลังสูงสุดลบด้วย 1) ดังนั้นจำนวนหลักของเลขฐานสองคือ กำลังของฐาน 2
        หลักสูตรสูงที่สุดบวกด้วย 1 ในตัวอย่างที่ 2.3 คือ <ng-katex [equation]="'2^4'"></ng-katex>
        เป็นค่าที่ได้จากการใช้ 2 ยกกำลังสูงสุด ดังนั้น
        จำนวนหลักของเลขฐานสอง คือ 4 + 1 = 5 หรือ n = 5 นั่นเอง ซึ่งถ้าเขียนตามกฎที่กล่าวมาแล้วจะ
        ได้ว่า
        </pre>
        <img src="assets/image/c2/ex2__3_.PNG">
        <pre>
            ดังนั้น <ng-katex [equation]="'2_{10}=11001_2'"></ng-katex>
            อ่านว่า หนึ่ง - หนึ่ง - ศูนย์ - ศูนย์ - หนึ่ง ฐานสอง
        </pre>
        <img src="assets/image/c2/ex2__4.PNG">
        <pre>
            วิธีที่ 2 การหารด้วย 2 มีขั้นตอนดังนี้
            1. นำเอา 2 ไปหารจำนวนเลขฐานสิบซึ่งเป็นตัวตั้งไปเรื่อยๆ หากครั้งใดหารลงตัวจะ
        ได้สัมประสิทธิ์ของฐานเป็น 0 และถ้าหารแล้วเหลือเศษ 1 จะได้สัมประสิทธิ์ของฐานเป็น 1
            2. เมื่อหารไปถึงครั้งหลังสุดจะเหลือเศษ 1 เสมอ จากนั้นให้นำเอาค่าเศษของผลหาร
        แต่ละครั้งมาเขียนเป็นเลขฐานสอง โดยให้ค่าเศษของการหารเลขฐานสิบครั้งสุดท้ายเป็นหลักแรกหรือ
        หลักสูงสุดของเลขฐานสองจำนวนนั้น ๆ
        </pre>
        <img src="assets/image/c2/ex2__5.PNG">
        <pre>
            2. การเปลี่ยนเลขทศนิยมฐานสิบให้เป็นเลขฐานสอง
        Tertulien, Ndjountche (2016 : 13-15) ได้กล่าวว่า การเปลี่ยนเลขหลังจุดทศนิยมจาก
        เลขฐานสิบเป็นเลขฐานสองทำได้ 2 มีวิธีคล้ายกับการเปลี่ยนเลขจำนวนเต็ม กล่าวคือ เขียนสัมประ
        สิทธ์ไว้หน้าหลักนั้น แต่มีความความแตกต่างที่เลขยกกำลังจะมีค่าเป็นลบ ตามค่าน้ำหนักของแต่ละ
        หลัก ดังนี้
        วิธีที่ 1 โดยใช้กฎ <ng-katex [equation]="'a_1x2^{-1}+a_2x2^{-2}+a3x2{-3}+...+a_nx2^{-2}'"></ng-katex>
        </pre>
        <img src="assets/image/c2/ex2__6.PNG">
        <pre>
            วิธีที่ 2 ทำได้โดยวิธีเดียวกันกับการเปลี่ยนเลขจำนวนเต็มให้เป็นเลขฐานสองตามที่กล่าว
        มาแล้ว เพียงแต่เปลี่ยนวิธีจากการใช้ 2 หารมาเป็น 2 คูณแทน โดยการคูณตัวตั้งไปเรื่อยๆ ถ้าได้
        เท่ากับ 1 หรือเกิน 1 ให้ถือว่าสัมประสิทธิ์ของฐานสองหรือเลขฐานสองหลักนั้นเป็น 1 และถ้าผลคูณ
        ได้ต่ำกว่า 1 ให้ถือว่าสัมประสิทธิ์ของฐานสองหรือเลขฐานสองนั้นเป็น 0 แต่ถ้าหากในการคูณ
        เลขฐานสิบด้วย 2 ครั้งใดเกิน 1 การตั้งคูณครั้งต่อไปให้นำเฉพาะเศษ เป็นตัวตั้งแล้วใช้ 2 คูณอีก
        ทำซ้ำ ๆ กันเช่นนี้เรื่อยไปจนกระทั่งครั้งสุดท้ายได้เลขจำนวนเต็มคือ 1 (ยกเว้นในกรณีที่เลขคูณแล้วไม่
        ลงตัวให้คูณไปเรื่อย ๆ แล้วกำหนดหลักทศนิยมที่ไม่รู้จบนี้ว่าต้องการกี่หลัก) ส่วนการเขียน
        เลขฐานสองให้ถือเอาสัมประสิทธิ์จากการเอา 2 คูณเลขฐานสิบตัวแรกหลังจุดทศนิยมของเลขฐานสอง
        จำนวนนั้น และเรียงลำดับไปเรื่อย ๆ
        </pre>
        <img src="assets/image/c2/ex2__7.PNG">
        <pre>
            หากต้องการเขียนตัวเลขจำนวนเต็มและทศนิยม ของเลขฐานสองจึงสามารถเขียนโดยใช้
        เครื่องหมายจุด (.) เป็นตัวคั่นระหว่างทั้งสองจำนวน เช่น 1.01 , 10.101, 110.001101 เป็นต้น
        การเปลี่ยนเลขฐานสองให้เป็นฐานสิบ ใช้วิธีการเดียวกันกับการเขียนเลขฐานสิบให้อยู่ในรูป
        ของสิบยกกำลัง โดยการละฐานไว้ แล้วนำเอาเฉพาะสัมประสิทธิ์มาเขียนเช่นกัน ดังนั้นถ้าต้องการ
        เปลี่ยนเลขจากฐานสองให้เป็นฐานสิบ
        จากกฎ  <ng-katex [equation]="'N = d_{n-1}R^{n-1}+...+d_2R^2+d_1R^1+d_0R^0'"></ng-katex>
        จะได้  <ng-katex [equation]="'N_10 = a_1x2^{n-1}+a_2x2^{n-2}+a_3x2^{n-3}+...+a_nx2^{n-n}'"></ng-katex>
        </pre>
        <img src="assets/image/c2/ex2__8.PNG">
        
    </div>
    <h2>3. การเปลี่ยนเลขฐานใด ๆ</h2>
    <div>
        <pre>
            โดยหลักการเปลี่ยนเลขฐานเดียวกันสามารถนำไปประยุกต์กับระบบเลขฐานอื่นเพื่อเปลี่ยน
        เลขฐานได้ ดังตัวอย่าง
        </pre>
        <img src="assets/image/c2/ex2__9.PNG">
    </div>
    
</div>
