<div class="content">
    <div class="paper">
        <h2 class="box-head-title">การเขียนสมการตรรกะในรูปมาตรฐาน (Standard Boolean Forms) </h2>
        <p class="abs">
            Guy, Even and Moti, Medina. (2012 : 124-129) ได้กล่าวว่า รูปแบบการเขียนสมการ
            ตรรกะสามารถเขียนได้ 2 ลักษณะ ดังนี้
            1. ผลบวกของผลคูณ (Sum of Products Expression : SOP) สมการแบบผลบวกของ
            ผลคูณ หมายถึง พีชคณิตลอจิกที่ประกอบด้วยเทอมของผลคูณจ านวนหลาย ๆ เทอมน ามาบวก (OR)
            กัน โดยก าหนดสถานะลอจิก “1” เท่ากับตัวแปร (Variable) และ “0” เท่ากับส่วนกลับของตัวแปร
            (Invert Variable) อาจเรียกว่า Disjunctive Normal Form (DNF) หรือ Minterm ดังรูปแบบ
        </p>
        <p class="abs">
            Y = A . B + C . D
            นิยมเขียนเป็น
            Y = AB + CD
        </p>
        <p class="abs">
            2. ผลคูณของผลบวก (Product of Sum Expression : POS) สมการแบบผลคูณของ
            ผลบวก หมายถึง พีชคณิตลอจิกที่ประกอบด้วยเทอมของผลบวกจ านวนหลาย ๆ เทอมน ามาคูณ
            (AND) กัน โดยก าหนดสถานะลอจิก “1” เท่ากับส่วนกลับของตัวแปร และ “0” เท่ากับตัวแปร อาจ
            เรียกว่า Conjunctive Normal Form (CNF) หรือ Maxterm ดังรูปแบบ
        </p>
        <p class="abs">
            Y = (A + B) . (C + D)
            นิยมเขียนเป็น
            Y = (A + B)(C + D)
        </p>
        <div class="box-img">

            <img src="assets/image/c4/ex4_6.PNG">
        </div>
    </div>
</div>