<div class="content">
    <div>
        <h2>ข้อจำกัดของระบบดิจิทัล (Disadvantages of Digital System)</h2>
        <pre>
            Brian, Holdsworth and Clive, Woods. (2002 : 295-300) ได้กล่าวว่า ระบบดิจิทัลมี
        ข้อจำกัดเล็กน้อย แต่ก็มีปัญหาใหญ่อยู่ 2 ประการ คือ ทุกสิ่งที่อยู่บนโลกล้วนเป็นแอนะล็อก และ
        กระบวนการประมวลผลข้อมูลดิจิทัลใช้เวลาค่อนข้างมาก เมื่อนำระบบดิจิทัลเข้ามาทำงาน หรือ
        ควบคุม จะต้องทำการแปลงข้อมูลกลับเป็นแอนะล็อก ซึ่งแน่นอนว่ามีเทคนิค หรือกระบวนการ
        มากมายในการแปลงข้อมูล แต่ก็ยังมีข้อจำกัดเกี่ยวกับความละเอียดของข้อมูลที่ถูกจัดเก็บ หากจัดเก็บ
        ด้วยความละเอียดที่สูง จำเป็นต้องใช้พื้นที่ในการจัดเก็บขนาดใหญ่ และยังส่งผลให้การประมวลผลช้า
        ลง หากจัดเก็บข้อมูลที่ความละเอียดต่ำไปก็อาจไม่เหมาะสมในการใช้งาน ดังนั้นข้อมูลของระบบ
        ดิจิทัลหนึ่ง จึงอาจไม่สามารถนำไปใช้งานร่วมกับระบบอื่นได้ แม้ว่าระบบจะมีความคล้ายคลึงกัน
        ดังนั้นการใช้งานระบบดิจิทัลที่เป็นมาตรฐานเดียวกันจึงเป็นเรื่องที่เป็นไปค่อนข้างยาก จึงมี
        ความพยายามในการจัดทำมาตรฐานเพื่อให้ระบบดิจิทัลสามารถใช้งานข้อมูลร่วมกัน ได้ เช่น ข้อมูล
        รูปภาพ JPG, PNG, BMP, TIFF ข้อมูลเสียง MP3, OGG, WAV, FLAG หรือ ระบบการสื่อสารโดย
        อุปกรณ์อิเล็กทรอนิกส์ซึ่งใช้ Open Systems Interconnection Model (OSI Model) เพื่อให้
        อุปกรณ์สื่อสารที่มีความแตกต่างกันสามารถใช้งานร่วมกันได้ทั่วโลก เป็นต้น       
        </pre>
    </div>
</div>