<div class="content">
    <h2>การประยุกต์ใช้งานระบบดิจิทัล (Application of Digital System)</h2>
    <pre>
        Rafiquzzaman, M. (2014 : 22-23) ได้กล่าวว่า อิเล็กทรอนิกส์มีความสำคัญเป็นอย่างมาก
    ในการพัฒนาระบบดิจิทัล ในปี ค.ศ. 1971 บริษัทอินเทล (Intel Corp.) ได้ผลิต ชิป 4004 ซึ่งเป็น
    ไมโครโปรเซสเซอร์ (Microprocessor) ตัวแรกที่มีความสามารถในการคำนวน และถูกนำมาสร้าง
    เป็นเครี่องคิดเลข ต่อมาไม่นานบริษัทอินเทลได้ทำการเปิดตัวไมโครโปรเซสเซอร์ขนาด 8 บิต ที่
    สามารถทำงานทั่วไปได้ (General-Purpose Microprocessor) อย่าง Intel 8008 และบริษัทอื่นก็ได้
    เปิดตัวเช่นกัน เช่น IMP-16 เป็นไมโครโปรเซสเซอร์ที่สามารถทำงานทั่วไปบนสถาปัตยกรรม 16 บิต
    ถือเป็นยุคแรกเริ่มของไมโครโปรเซสเซอร์ในปี ค.ศ. 1980 เป็นยุคที่ 4 ของไมโครโปรเซสเซอร์ซึ่ง
    ไมโครโปรเซสเซอร์ในยุคนี้เป็นแบบ 32 บิต มีความสามารถสูงมากและมีขนาดเล็กมาก อาจเรียกได้ว่า
    เป็น ซูปเปร์มินิคอมพิวเตอร์ (Superminicomputer) หมายถึง มินิคอมพิวเตอร์ หรือ เครื่องแม่ข่าย
    (Server) ที่มีประสิทธิภาพสูง และได้เกิดสถาปัตยกรรมชุดคำสั่งแบบ RISC และ CISC สำหรับ
    อุปกรณ์อิเล็กทรอนิกส์ที่ต้องการความสามารถในการประมวลผลที่ต่างกันและการใช้พลังงานต่างกัน
    ได้มีการนำเอาส่วนประกอบต่าง ๆ ที่จำเป็นในการใช้งานระบบมารวมกันอยู่บนชิปเพียงตัวเดียว เช่น
    ส่วนการประมวลผลภาพจากกล้อง ส่วนการประมวลผลด้านเสียง ส่วนติดต่อกับหน่วยความจำ
    ภายนอก ส่วนติดต่อเครือข่ายไร้สาย เป็นต้น เรียกว่า ไมโครคอมพิวเตอร์แบบชิปเดี่ยว (Single-Chip
    Microcomputer) ดังภาพประกอบ 1.12
    </pre>
    <img src="assets/image/c1/1_12.PNG">
    <pre>
        ภาพประกอบ 1.12 ไมโครคอมพิวเตอร์แบบชิปเดี่ยว
        ที่มา : Wai-Kai, Chen. (2003 : 43)                       
    </pre>
    <pre>
        Intel 8048, Intel 8051, PIC16C51, STC15W408AS เป็น ไมโครคอมพิวเตอร์แบบชิป
    เดี่ยวที่นำมาใช้ในงานควบคุมอุปกรณ์และเครื่องจักรในระดับพื้นฐานจนถึงระดับอุตสาหกรรม โดยอยู่
    ในรูปของไมโครคอนโทรลเลอร์ (Microcontroller) เนื่องจากพัฒนาได้ง่าย มีส่วนติดต่อกับอุปกรณ์
    ภายนอก มีขนาดเล็ก ความเร็วสูงเพียงพอกับการใช้งาน และราคาถูก ดังภาพประกอบ 1.13
    </pre>
    <img src="assets/image/c1/1_13.PNG">
    <pre>
        ภาพประกอบ 1.13 ไมโครคอนโทรลเลอร์ARDUINO UNO REV3
        ที่มา : Arduino. Retrieved from https://www.arduino.cc/                  
    </pre>
    <pre>
        ตัวอย่างการใช้งานไมโครคอนโทรลเลอร์PIC18F ในการควบคุมอุณหภูมิในเตาหลอมโลหะ
    ให้คงที่ ซึ่งมีการรับค่าอุณหภูทิจากเทอร์โมคัปเปิล (Thermocouple) ในรูปแบบสัญญาณแอนะล็อก
    จากนั้นไมโครคอนโทรลเลอร์ทำการแปลงเป็นข้อมูลดิจิทัล แล้วทำการเปรียบเทียบค่ากับเงื่อนไขที่ตั้ง
    ไว้ หากอุณหภูมิสูงกว่าที่กำหนดจะทำการส่งสัญญาญดิจิทัลออกผ่านอุปกรณ์ซึ่งเปลี่ยนเป็นสัญญาณ
    แอนะล็อกเพื่อสั่งให้ปิดวาล์วเชื้อเพลิงเพื่อไม่ให้อุณภูมิสูงขึ้น และเมื่ออุณภูมิต่ำกว่าที่กำหนดจะส่ง
    สัญญาณเพื่อเปิดปิดวาล์วเชื้อเพลิงเพื่อให้อุณภูมิสูงขึ้น ดังภาพประกอบ 1.14
    </pre>
    <img src="assets/image/c1/1_14.PNG">
    <pre>
        ภาพประกอบ 1.14 ผังการควบคุมอุณหภูมิในเตาหลอมโลหะ
        ที่มา : Rafiquzzaman, M. (2014 : 22)                
    </pre>
    <pre>
        สำหรับไมโครคอนโทรเลอร์ที่ทำหน้าที่ควบคุมจำเพาะอย่าง (Special Purpose) เช่น
    เครื่องพิมพ์ เครื่องโทรสาร เครื่องโทรศัพท์ คีย์บอร์ด เป็นต้น อาจมีการเพิ่มเติมแผงวงจร หรือลดทอน
    บางส่วนจากไมโครคอนโทรเลอร์แบบทั่วไป โดยมีวงจรหรือชุดคำสั่งที่ทำหน้าที่ในการควบคุมการ
   ทำงาน เรียกว่า ตัวควบคุมแบบฝังตัว (Embedded Controller) ดังภาพประกอบ 1.15             
    </pre>
    <img src="assets/image/c1/1_15.PNG">
    <pre>
        ภาพประกอบ 1.15 โครงสร้างตัวควบคุมแบบฝังตัว
        ที่มา : Tahir, M. and Kashif, Javed. (2017 : 20)               
    </pre>
    <pre>
        Tahir, M. and Kashif, Javed. (2017 : 19-22) ได้กล่าวว่า ตัวควบคุมแบบฝังตัว เป็นการ
    นำแนวคิดจากดิจิทัลคอมพิวเตอร์มาปรับใช้งานบนไมโครคอนโทรลเลอร์ ซึ่งผู้พัฒนาสามารถเขียน
    ชุดคำสั่งเพื่อสั่งงาน หรือควบคุมอุปกรณ์เก็บไว้ใน Read Only Memory หรือ ROM ซึ่งเป็น
    หน่วยความจำสำรอง และยังช่วยให้ไมโครคอนโทรลเลอร์รองรับภาษาในการเขียนชุดคำสั่งได้
    หลากหลายขึ้น ดังภาพประกอบ 1.16   
    </pre>
    <img src="assets/image/c1/1_16.PNG">
    <pre>
        ภาพประกอบ 1.16 ผังการออกแบบตัวควบคุมแบบฝังตัว
        ที่มา : Tahir, M. and Kashif, Javed. (2017 : 21)              
    </pre>
    <pre>
        การใช้งานตัวควบคุมแบบฝังตัว และไมโครคอนโทรลเลอร์จัดเป็นสถาปัตยกรรมระบบเชิง
    ฮาร์ดแวร์ (Hardware System Architecture) ซึ่งมีความแตกต่างจากคอมพิวเตอร์ส่วนบุคคล
    (Personal Computer : PC) ค่อนข้างมาก ไม่ว่าจะเป็นสถาปัตยกรรมของหน่วยประมวลผล ส่วน
    จัดการหน่วยความจำ ส่วนติดต่อกับอุปกรณ์ต่อพ่วง อุปกรณ์ประกอบไม่สามารถปรับเปลี่ยนได้ เช่น
    หน่วยประมวลผล หน่วยความจำ เป็นต้น Tahir, M. and Kashif, Javed. (2017 : 40-41) ได้กล่าว
    ว่า คอมพิวเตอร์ส่วนบุคคลใช้สถาปัตยกรรมระบบเชิงซอฟท์แวร์ (Software System Architecture)
    ในการพัฒนาเนื่องจากมีความยืดหยุ่นในการใช้งานชุดคำสั่งมากกว่า นั้นคือ ผู้ใช้งานสามารถติดตั้ง
    ซอฟต์แวร์หรือต่อพ่วงอุปกรณ์ได้อย่างอิสระ สถาปัตยกรรมระบบเชิงซอฟท์แวร์จะต้องมี
    ระบบปฏิบัติการ (Operating System) เพื่อเป็นตัวกลางในการเชื่อมระหว่างผู้ใช้งานและฮาร์ดแวร์
    โดยระบบปฏิบัติการมีหน้าที่การจัดสรรทรัพยากรในเครื่องคอมพิวเตอร์ เพื่อให้บริการซอฟต์แวร์
    ประยุกต์ (Application) เช่น การส่งข้อมูลภาพไปแสดงผลที่จอภาพ การส่งข้อมูลไปเก็บหรืออ่าน
    จากฮาร์ดดิสก์ การรับส่งข้อมูลในระบบเครือข่าย การส่งสัญญานเสียงไปออกลำโพง หรือจัดสรรพื้นที่
    ในหน่วยความจำ ตามที่ซอฟต์แวร์ประยุกต์ร้องขอ รวมทั้งทำหน้าที่จัดสรรเวลาการใช้หน่วย
    ประมวลผลกลาง ในกรณีที่อนุญาตให้ซอฟต์แวร์ประยุกต์หลายตัวทำงานพร้อมกัน ระบบปฏิบัติการ
    ช่วยให้ตัวซอฟต์แวร์ประยุกต์ไม่ต้องจัดการเรื่องเหล่านั้นเอง เพียงเรียกใช้บริการจากระบบปฏิบัติการ
   ทำให้พัฒนาซอฟต์แวร์ประยุกต์ได้ง่ายขึ้น ดังภาพประกอบ 1.17             
    </pre>
    <img src="assets/image/c1/1_17.PNG">
    <pre>
        ภาพประกอบ 1.17 สถาปัตยกรรมระบบเชิงซอฟท์แวร์
        ที่มา : Tahir, M. and Kashif, Javed. (2017 : 40)            
    </pre>
    <pre>
        จะเห็นได้ว่าระบบดิจิทัลมีการนำไปใช้งานอย่างกว้างขวางและสามารถพบได้ใน
    ชีวิตประจำวันไม่ว่าจะเป็น เครื่องคอมพิวเตอร์ โทรศัพท์มือถือ เครื่องซักผ้า เมาส์ คีย์บอร์ด นาฬิกา
    ดิจิทัล เป็นต้น ดังนั้นการศึกษาระบบดิจิทัลจะช่วยให้เข้าใจการทำงานและการใช้งานของอุปกรณ์
    ดิจิทัล นำไปสู่ออกแบบและปรับปรุงการทำงานระบบดิจิทัลได้ดียิ่งขึ้น           
    </pre>
</div>