<div class="content">
    <div class="paper">
        <h2 class="box-label-title">กระบวนการแปลงข้อมูลแอนะล็อกเป็นดิจิทัล (Analog To Digital Conversion)</h2>
        <p class="abs">
            Thomas, L. Floyd. (2014 : 15-19) ได้กล่าวว่า ในการใช้งานระบบดิจิทัลจะมีการแปลง
        ข้อมูลดิจิทัลและแอนะล็อกกลับไปมา ซึ่งมี4 ขั้นตอนดังนี้
            1. แปลงตัวแปรเชิงกายภาพเป็นสัญญาณไฟฟ้า (แอนะล็อก) เช่น เสียงถูกแปลงเป็น
        สัญญาณไฟฟ้าด้วยไมโครโฟน ซึ่งเป็นอุปกรณ์ในการแปลงเสียงเป็นสัญญาไฟฟ้าผ่านแผ่นไดอะแฟรม
        เมื่อแผ่นไดอะแฟรมสั่นไหวท าให้เกิดกระแสไฟฟ้า และเหนี่ยวน าให้เกิดความต่างศักย์ไฟฟ้าที่
        เปลี่ยนแปลงตามความถี่ และแอมพลิจูดของคลื่นเสียง ดังภาพประกอบ 1.2         
        </p>
        <div class="box-img">
            <img src="assets/image/c1/1_2.PNG">
        </div>
        <div class="box-label-img">
            <p>ภาพประกอบ 1.2 สัญญาณไฟฟ้าจากไมโครโฟน</p>
            <p>ที่มา : ดัดแปลงจาก Thomas, L. Floyd. (2014 : 17)</p>                   
        </div>
        <p class="abs">
            จากนั้นสัญญาณไฟฟ้าจะผ่านไปยัง Analog-to-Digital Converter หรือ ADC เพื่อแปลง
        เป็นข้อมูลดิจิทัล ซึ่งในการแปลงสัญญาณเสียงนิยมใช้เทคนิค PCM เมื่อข้อมูลดิจิทัลเข้าสู่ระบบแล้วจะ
        นำไปประมวลผล หรือจัดเก็บต่อไป ดังภาพประกอบ 1.3
        </p>
        <div class="box-img">
            <img src="assets/image/c1/1_3.PNG">
        </div>
        <div class="box-label-img">
            <p>ภาพประกอบ 1.3 ผังการแปลงสัญญาณแอนะล็อกเป็นข้อมูลดิจิทัลแบบ PCM</p>
            <p>ที่มา : Thomas, L. Floyd. (2014 : 758)</p>
        </div>
        <p class="abs">
            2. แปลงสัญญาณไฟฟ้า เป็น ข้อมูลดิจิทัล เช่น การแปลงเสียงเป็นข้อมูลดิจิทัลโดย
        กระบวนการกล้ำรหัสของพัลส์(Pulse Code Modulation : PCM) โดยการเปรียบเทียบความสูง
        (Amplitude) ของสัญญาณไฟฟ้ากับระดับที่กำหนด เช่น กำหนดความละเอียดข้อมูลดิจิทัลที่ 3 บิต
        ความสูงของสัญญาณไฟฟ้าเมื่อเทียบกับระดับที่ตั้งไว้ทางซ้ายสุด จะได้ 100 ในรอบการทำงานถัดไป
        จะได้ 101 เป็นเช่นนี้ไปเรื่อย ๆ ดังภาพประกอบ 1.4
        </p>
        <div class="box-img">
            <img src="assets/image/c1/1_4.PNG">
        </div>
        <div class="box-label-img">
            <p>ภาพประกอบ 1.4 การแปลงสัญญาณแอนะล็อกเป็นข้อมูลดิจิทัล</p>
            <p>ที่มา : Thomas, L. Floyd. (2014 : 758)</p> 
        </div>

        <p class="abs">
            4. แปลงสารสนเทศดิจิทัล เป็น รูปแบบที่นำไปใช้งาน (แอนะล็อก) เช่น แปลงอ่านไฟล์
            mp3 ข้อมูลจะถูกเรียกออกมาจากสื่อ ไปส่วนประมวลผล แล้วผ่าน Digital-to-Analog Converter
            หรือ DAC กลับออกมาเป็นความต่างศักย์ไฟฟ้า (สัญญาณแอนะล็อก) เพื่อขับลำโพง ดังภาพประกอบ
            1.5
        </p>
        <div class="box-img">
            <img src="assets/image/c1/1_5.PNG">
        </div>

        <div class="box-label-img">
            <p>ภาพประกอบ 1.5 การแปลงข้อมูลดิจิทัลเป็นสัญญาณแอนะล็อก</p>
            <p>ที่มา : Thomas, L. Floyd. (2014 : 18)</p>                        
        </div>

        <p class="abs">
            โดยสรุปแล้วระบบดิจิทัลจะกระบวนการน าข้อมูลที่เป็นแอนะล็อกเข้า จากนั้นทำการแปลง
        เป็นข้อมูลดิจิทัล ด้วย ADC และทำการเข้ารหัสแบบต่าง ๆ อาทิ PAM, PWM, PPM หรือ PCM ตาม
        การใช้งาน แล้วนำไปรวม (Modulation) กับสัญญาณพาหะ (Carrier Signal) เพื่อทำการส่งข้อมูล
        ออกไปยังช่องทางการสื่อสาร ในการรับข้อมูลจะต้องมีการแยก (Demodulation) สัญญาณพาหะ
        ออกก่อน จากนั้นทำการตรวจสอบว่าข้อมูลมีการเข้ารหัสแบบใด แล้วจึงทำการถอดรหัส ในขั้นตอนนี้
        สามารถใช้งานข้อมูลดิจิทัล หรือหากต้องการใช้งานข้อมูลแอนะล็อกให้แปลงข้อมูลกลับด้วย DAC ดัง
        ภาพประกอบ 1.6 (Thomas, L. Floyd ,2014 : 759)
        </p>

        <div class="box-img">
            <img src="assets/image/c1/1_6.PNG">
        </div>

        <div class="box-label-img">
            <p>ภาพประกอบ 1.6 การส่งข้อมูลในระบบดิจิทัลโดยทั่วไป</p>
            <p>ที่มา : Thomas, L. Floyd. (2014 : 759)</p>                      
        </div>

    </div>
</div>