<div class="content">
    <div class="paper">
        <div class="box-head-title">
            <h2>แบบทดสอบก่อนเรียน</h2>
        </div>
        <form [formGroup]="myForm" class="form_question" (ngSubmit)="sendQuestion()">

            <div class="examination">
                <div class="question">
                    <p>1. สัญญาณดิจิตอลมีข้อดีคืออะไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c1_q1_1" value="1" formControlName="c1_q1">
                        <label for="c1_q1_1">ทนต่อสัญญาณรบกวน</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q1_2" value="2" formControlName="c1_q1">
                        <label for="c1_q1_2">มีความยืดหยุ่นสูง</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q1_3" value="3" formControlName="c1_q1">
                        <label for="c1_q1_3">การทำงานที่แม่นยำ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q1_4" value="4" formControlName="c1_q1">
                        <label for="c1_q1_4">ถูกทุกข้อ</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>2. ค่าบูลีน 0 และ 1 จะไม่แสดงค่าแรงดันที่แท้จริง แต่จะแสดงสภาวะของตัวแปรเป็นช่วงของแรงดันหรือเราเรียกว่าอะไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c1_q2_1" value="1" formControlName="c1_q2">
                        <label for="c1_q2_1">ระดับบูลีน</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q2_2" value="2" formControlName="c1_q2">
                        <label for="c1_q2_2">ระดับพีชคณิตบูลีน</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q2_3" value="3" formControlName="c1_q2">
                        <label for="c1_q2_3">ระดับลอจิก</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q2_4" value="4" formControlName="c1_q2">
                        <label for="c1_q2_4">ระดับลอจิกบูลีน</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>3. พีชคณิตบูลีน เหมาะที่ใช้คำนวณใด</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c1_q3_1" value="1" formControlName="c1_q3">
                        <label for="c1_q3_1">อนาล็อก</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q3_2" value="2" formControlName="c1_q3">
                        <label for="c1_q3_2">ดิจิตอล</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q3_3" value="3" formControlName="c1_q3">
                        <label for="c1_q3_3">ดิจิตอล และอนาล็อก</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q3_4" value="4" formControlName="c1_q3">
                        <label for="c1_q3_4">ไม่มีข้อถูก</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>4. วงจรเปลี่ยนสัญญาณดิจิตอลเป็นอะนาลอกเรียกย่อๆว่าอย่างไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c1_q4_1" value="1" formControlName="c1_q4">
                        <label for="c1_q4_1">ดีเอซี</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q4_2" value="2" formControlName="c1_q4">
                        <label for="c1_q4_2">เอดีซ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q4_3" value="3" formControlName="c1_q4">
                        <label for="c1_q4_3">ซีดีเอ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q4_4" value="4" formControlName="c1_q4">
                        <label for="c1_q4_4">ดีซีเอ</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>5. วงจรเปลี่ยนสัญญาณอะนาลอกเป็นดิจิตอลเรียกย่อๆว่าอย่างไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c1_q5_1" value="1" formControlName="c1_q5">
                        <label for="c1_q5_1">ดีเอซี</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q5_2" value="2" formControlName="c1_q5">
                        <label for="c1_q5_2">เอดีซ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q5_3" value="3" formControlName="c1_q5">
                        <label for="c1_q5_3">ซีดีเอ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q5_4" value="4" formControlName="c1_q5">
                        <label for="c1_q5_4">ดีซีเอ</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>6. สัญญาณอนาลอกที่ใช้กันในระบบสื่อสารทั่วไปได้แก่อะไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c1_q6_1" value="1" formControlName="c1_q6">
                        <label for="c1_q6_1">สัญญาณโทรศัพท์</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q6_2" value="2" formControlName="c1_q6">
                        <label for="c1_q6_2">สัญญาณวิทยุกระจายเสียง</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q6_3" value="3" formControlName="c1_q6">
                        <label for="c1_q6_3">สัญญาณโทรทัศน์</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q6_4" value="4" formControlName="c1_q6">
                        <label for="c1_q6_4">ถูกทุกข้อ</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>7. การมอดูเลตกับสัญญาณ Pulse Code Modulation : PCM ต้องเปลี่ยนสัญญาณพัลส์ให้อยู่ในรูปความถี่แบบใด</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c1_q7_1" value="1" formControlName="c1_q7">
                        <label for="c1_q7_1">โทรศัพท์</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q7_2" value="2" formControlName="c1_q7">
                        <label for="c1_q7_2">โทรทัศน์</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q7_3" value="3" formControlName="c1_q7">
                        <label for="c1_q7_3">เครื่องเสียง</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q7_4" value="4" formControlName="c1_q7">
                        <label for="c1_q7_4">วิทยุ</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>8. ปัญหาที่สำคัญของสัญญาณอะนาลอกคืออะไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c1_q8_1" value="1" formControlName="c1_q8">
                        <label for="c1_q8_1">สัญญาณลด</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q8_2" value="2" formControlName="c1_q8">
                        <label for="c1_q8_2">สัญญาณเพิ่ม</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q8_3" value="3" formControlName="c1_q8">
                        <label for="c1_q8_3">สัญญาณรบกวน</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q8_4" value="4" formControlName="c1_q8">
                        <label for="c1_q8_4">สัญญาณคงที่</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>9. ข้อดีของสัญญาณแบบดิจิตอลคืออะไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c1_q9_1" value="1" formControlName="c1_q9">
                        <label for="c1_q9_1">ง่ายต่อการบำรุงรักษา</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q9_2" value="2" formControlName="c1_q9">
                        <label for="c1_q9_2">เพิ่มเติมและปรับปรุงง่าย</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q9_3" value="3" formControlName="c1_q9">
                        <label for="c1_q9_3">มีความเร็วในการรับ-ส่งสูง</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q9_4" value="4" formControlName="c1_q9">
                        <label for="c1_q9_4">ถูกทุกข้อ</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>10. รูปแบบการส่งข้อมูลมีแก่รูปแบบ</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c1_q10_1" value="1" formControlName="c1_q10">
                        <label for="c1_q10_1">1 แบบ</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q10_2" value="2" formControlName="c1_q10">
                        <label for="c1_q10_2">2 แบบ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q10_3" value="3" formControlName="c1_q10">
                        <label for="c1_q10_3">3 แบบ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q10_4" value="4" formControlName="c1_q10">
                        <label for="c1_q10_4">4 แบบ</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>11. ข้อใดกล่าวถึงสัญญาณอนาล็อก (Analog Signal) ได้ถูกต้อง</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c1_q11_1" value="1" formControlName="c1_q11">
                        <label for="c1_q11_1">สัญญาณข้อมูลแบบต่อเนื่อง</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q11_2" value="2" formControlName="c1_q11">
                        <label for="c1_q11_2">สัญญาณข้อมูลแบบไม่ต่อเนื่อง</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q11_3" value="3" formControlName="c1_q11">
                        <label for="c1_q11_3">สัญญาณไฟฟ้า</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q11_4" value="4" formControlName="c1_q11">
                        <label for="c1_q11_4">สัญญาณแบบขั้นบันได</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>12. กระบวนการแปลงสัญญาณอนาล็อกให้เป็นสัญญาณดิจิตอลเรียกว่าอะไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c1_q12_1" value="1" formControlName="c1_q12">
                        <label for="c1_q12_1">โคเด็ก</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q12_2" value="2" formControlName="c1_q12">
                        <label for="c1_q12_2">ดีโค้ดเดอร์</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q12_3" value="3" formControlName="c1_q12">
                        <label for="c1_q12_3">โค้ดเดอร์</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q12_4" value="4" formControlName="c1_q12">
                        <label for="c1_q12_4">บาร์โค้ด</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>13. ความแตกต่างของสัญญาณอนาล็อกและดิจิตอล</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c1_q13_1" value="1" formControlName="c1_q13">
                        <label for="c1_q13_1">สัญญาณอนาล็อกคือสัญญาณข้อมูลแบบต่อเนื่องส่วนสัญญาณดิจิตอลคือสัญญาณที่เกี่ยวข้องกับข้อมูลแบบไม่ต่อเนื่อง</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q13_2" value="2" formControlName="c1_q13">
                        <label for="c1_q13_2">สัญญาณอนาล็อกคือสัญญาณข้อมูลแบบไม่ต่อเนื่องส่วนสัญญาณดิจิตอลคือสัญญาณที่เกี่ยวข้องกับข้อมูลแบบต่อเนื่อง</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q13_3" value="3" formControlName="c1_q13">
                        <label for="c1_q13_3">สัญญาณอนาลอกกับสัญญาณดิจิตอลคือสัญญาณข้อมูลแบบต่อเนื่อง</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q13_4" value="4" formControlName="c1_q13">
                        <label for="c1_q13_4">สัญญาณอนาลอกกับสัญญาณดิจิตอลคือสัญญาณข้อมูลแบบไม่ต่อเนื่อง</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>14. สัญญาณแบบต่อเนื่อง มีลักษณะเป็นอย่างไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c1_q14_1" value="1" formControlName="c1_q14">
                        <label for="c1_q14_1">คลื่นวิทยุ</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q14_2" value="2" formControlName="c1_q14">
                        <label for="c1_q14_2">คลื่นแม่เหล็กไฟฟ้า</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q14_3" value="3" formControlName="c1_q14">
                        <label for="c1_q14_3">คลื่นกล</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q14_4" value="4" formControlName="c1_q14">
                        <label for="c1_q14_4">คลื่นไซน์</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>15. สัญญาณดิจิทัล(Digital Signal)ลักษณะป็นอย่างไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c1_q15_1" value="1" formControlName="c1_q15">
                        <label for="c1_q15_1">คลื่นวิทยุ</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q15_2" value="2" formControlName="c1_q15">
                        <label for="c1_q15_2">กราฟสี่เหลี่ยม</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q15_3" value="3" formControlName="c1_q15">
                        <label for="c1_q15_3">เส้นฟันปลา</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q15_4" value="4" formControlName="c1_q15">
                        <label for="c1_q15_4">เส้นตรง</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>16. สถานะแรงดันของสัญญาณดิจิตอลมีค่าเท่าไหร่</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c1_q16_1" value="1" formControlName="c1_q16">
                        <label for="c1_q16_1">0 กับ 1</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q16_2" value="2" formControlName="c1_q16">
                        <label for="c1_q16_2">1 กับ 2</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q16_3" value="3" formControlName="c1_q16">
                        <label for="c1_q16_3">2 กับ 3</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q16_4" value="4" formControlName="c1_q16">
                        <label for="c1_q16_4">3 กับ 4</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>17. ตัวอย่างของสัญญาณอนาล็อก</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c1_q17_1" value="1" formControlName="c1_q17">
                        <label for="c1_q17_1">แรงดันน้ำ</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q17_2" value="2" formControlName="c1_q17">
                        <label for="c1_q17_2">เสียงพูด</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q17_3" value="3" formControlName="c1_q17">
                        <label for="c1_q17_3">เสียงดนตรี</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q17_4" value="4" formControlName="c1_q17">
                        <label for="c1_q17_4">ถูกทุกข้อ</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>18. สัญญาณอนาล็อกมีหน่วยเป็นอะไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c1_q18_1" value="1" formControlName="c1_q18">
                        <label for="c1_q18_1">เซนติเมตร</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q18_2" value="2" formControlName="c1_q18">
                        <label for="c1_q18_2">วา</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q18_3" value="3" formControlName="c1_q18">
                        <label for="c1_q18_3">บิตต่อวินาที</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q18_4" value="4" formControlName="c1_q18">
                        <label for="c1_q18_4">เฮิร์ต</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>19. ข้อดีของสัญญาณอนาล็อก</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c1_q19_1" value="1" formControlName="c1_q19">
                        <label for="c1_q19_1">ราคาถูก</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q19_2" value="2" formControlName="c1_q19">
                        <label for="c1_q19_2">ไม่ต้องพึ่งพลังงานงานจากภายนอก</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q19_3" value="3" formControlName="c1_q19">
                        <label for="c1_q19_3">ไม่มีระบบอิเล็คทรอนิกส์</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q19_4" value="4" formControlName="c1_q19">
                        <label for="c1_q19_4">ถูกทุกข้อ</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>20. สัญญาณดิจิทัลมีหน่วยเป็นอะไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c1_q20_1" value="1" formControlName="c1_q20">
                        <label for="c1_q20_1">เซนติเมตร</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q20_2" value="2" formControlName="c1_q20">
                        <label for="c1_q20_2">วา</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q20_3" value="3" formControlName="c1_q20">
                        <label for="c1_q20_3">บิตต่อวินาที</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c1_q20_4" value="4" formControlName="c1_q20">
                        <label for="c1_q20_4">เฮิร์ต</label>
                    </div>
                </div>
            </div>
            
            <div class="btn-send-question">
                <button [disabled]="!myForm.valid" class="btn btn-primary">Send</button>
            </div>
        </form>
    </div>

</div>