<div class="content">
    <p>pretest</p>
    <form>
        
        <div class="examination">
            <div class="question">

            </div>
            <div class="answer">
                <div class="choose">
                    <input type="radio">
                    <label>1</label>
                </div>
                <div class="choose">

                </div>
                <div class="choose">

                </div>
                <div class="choose">

                </div>
            </div>
        </div>

    </form>
</div>