h3, h1, p {
    margin: 0;
}
.logo {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 220px;
    padding-left: 10px;
    background-color: rgba(0,0,0,0.7);
    height: 100%;
}

.header-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: rgba(0,0,0,0.3);
    /* padding: 0px 20px; */
    display: flex;
    align-items: center;
    color: white;
    z-index: 999;
}
.logo {
    cursor: pointer;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 220px;
    padding-left: 10px;
    background-color: rgba(0,0,0,0.7);
    height: 100%;
}

.menu {
    display: flex;
    margin-right: 20px;
    background-color: rgba(0,0,0,0);
}
.menu > .item-menu {
    padding: 0 20px;
    transition: 0.3s;
    height: 100%;
    cursor: pointer;
}
.menu > .item-menu:hover {
    background-color: #27AE60;
    font-size: 25px;
}