<div class="content">
    <div class="paper">
        <div>
            <h2 class="box-head-title">วงจรรวมลอจิก (Logic Integrated Circuits)</h2>
            <p class="abs">
                David, Money Harris and Sarah, L. Harris (2007 : 25-26) ได้กล่าวว่า ลอจิกเกตถูก
                สร้างในวงจรรวม (Integrated Circuit : IC) ที่นิยมใช้กันมี 2 ประเภท คือ วงจรรวมชนิดทีทีแอล
                (TTL) มีโครงสร้างภายในประกอบไปด้วยทรายซิสเตอร์ ตัวต้านทานและไดโอด และวงจรรวมชนิด
                ซีมอส (CMOS) มีโครงสร้างภายในประกอบไปด้วย มอสเฟตและอิกเฟต (IGFETs) ลักษณะภายนอก
                ของวงจรรวมทั้งชนิดทีทีแอลและซีมอส บรรจุในตัวถังพลาสติกเรียกว่า DIP (Dual In line Package)
                ดังแสดงในภาพประกอบ 3.19 (a), (b) มีทั้งชนิด 14 ขาและ 16 ขา หรือมากกว่ากว่านั้น ขาที่ 1
                (Pin 1) จะอยู่ใกล้กับตำแหน่งจุด (Dot) หรือช่อง (Notch) ทางด้านซ้าย
            </p>
            <div class="box-img">

                <img src="assets/image/c3/3_19.PNG">
            </div>
            <p class="abs">
                ภาพประกอบ 3.19 วงจรรวม
                ที่มา : Bohdan, Borowik et al. (2013 : 54-55)
            </p>
            <p class="abs">
                ตัวอย่างของวงจรรวมที่ใช้งานในปัจจุบัน อาทิ 7404 เป็น นอตเกตจำนวน 6 ตัว 7408 เป็น
                แอนด์เกต 4 ตัว โดยชิปตระกูล 74XX นั้นบรรจุใน DIP แบบ 14 ขา โดยตำแหน่งขาที่ 7 เป็นกราวน์
                (Ground) หรือ GND และตำแหน่งขา 14 เป็น แรงดันขาเข้าในวงจรไฟฟ้า (Voltage Drain Drain)
                หรือ VDD ซึ่งใช้งานอยู่ 3.3 V ถึง 5.0 V ขาที่ใช้งานลอจิกจะเป็นขา 1-6 และ 8-13 ดังภาพประกอบ
                3.20
            </p>
            <div class="box-img">

                <img src="assets/image/c3/3_20.PNG">
            </div>
            <p class="abs">
                ภาพประกอบ 3.20 ตัวอย่างวงจรรวมตระกูล 74XX
                ที่มา : David, Money Harris and Sarah, L. Harris (2007 : 517)
            </p>
        </div>
    </div>
</div>