<div class="content">
    <div class="paper">
        <h2 class="box-label-title">การบวกเลขฐานสอง (Binary Addition)</h2>
        <div>
            <p class="abs">
                Tertulien, Ndjountche (2016 : 16-17) ได้กล่าวว่า การบวกเลขฐานสองทำวิธีเดียวกันกับ
            การบวกเลขฐานสิบ แต่กฎเกณฑ์การบวกนั้นง่ายกว่าการบวกเลขฐานสิบ ซึ่งจะใช้กฎดังนี้
            </p>
            <pre>
                1) 0 + 0 = 0
                2) 1 + 0 = 0 + 1 = 1
                3) 1 + 1 = 0 ทด 1 ไปยังหลักที่สูงกว่า
                4) 1+1 + 1 = 1 ทด 1 ไปยังหลักที่สูงกว่า
            </pre>
            <p class="abs">
                การทดเลขทำคล้ายกับเลขฐานสิบ ต่างกันที่เลขฐานสองจะมีตัวทดเพียงตัวเดียวคือ 1 ซึ่งจะดูได้จากตัวอย่างต่อไปนี้
            </p>
            <div class="box-img">
                <img src="assets/image/c2/ex2__19.PNG">
            </div>
            <p class="abs">
                สำหรับเลขฐานใด ๆ ให้ใช้หลักการเดียวกัน เช่น การบวกเลขฐาน 8 ให้บวกเหมือนกับการ
            บวกเลขฐาน 10 ถ้าผลบวกเกิน 7 ได้ผลบวกแล้วลบด้วย 8 (ค่าฐาน) ผลของการลบคือ ค่าในตำแหน่ง
            นั้นแล้วทด 1 ไปตำแหน่งที่สูงกว่า แต่ถ้าผลบวกไม่เกิน 8 ค่านั้นคือคำตอบ (Stephen, Brown and
            Zvonko, Vranesic, 2013 : 135)
            </p>
            <div class="box-img">
                <img src="assets/image/c2/ex2__21.PNG">
            </div>
        </div>
    </div>
</div>
