<div class="content" style="height: 100vh;">
    <div class="paper">
        <div class="box-head-title">
            <h2>แบบทดสอบก่อนเรียน</h2>
        </div>
        <form [formGroup]="myForm" class="form_question">

            <div class="examination">
                <div class="question">
                    <p>1. ข้อใดคือสมการ AND Gate</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c3_q1">
                        <span>Y=A+B</span> 
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c3_q1">
                        <label>Y=A.B</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c3_q1">
                        <label>Y=Ȳ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c3_q1">
                        <label>Y=A.B+C</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>2. ข้อใดคือสมการ OR Gate</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c3_q2">
                        <span>Y=A+B</span> 
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c3_q2">
                        <label>Y=A.B</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c3_q2">
                        <label>Y=Ȳ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c3_q2">
                        <label>Y=A.B+C</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>3. ข้อใดคือสมการ NOT Gate</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c3_q3">
                        <span>Y=A+B</span> 
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c3_q3">
                        <label>Y=A.B</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c3_q3">
                        <label>Y=Ȳ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c3_q3">
                        <label>Y=A.B+C</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>4. ข้อใดคือสัญลักของ NAND Gate</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c3_q4">
                        <img src="../../assets/image/data3/1.png">
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c3_q4">
                        <img src="../../assets/image/data3/2.png">
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c3_q4">
                        <img src="../../assets/image/data3/3.png">
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c3_q4">
                        <img src="../../assets/image/data3/4.png">
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>5. ข้อใดคือสัญลักของ NOR Gate</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c3_q5">
                        <img src="../../assets/image/data3/1.png"> 
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c3_q5">
                        <img src="../../assets/image/data3/2.png">
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c3_q5">
                        <img src="../../assets/image/data3/3.png">
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c3_q5">
                        <img src="../../assets/image/data3/4.png">
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>6. ข้อใดคือสัญลักของ EX-NOR Gate</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c3_q6">
                        <img src="../../assets/image/data3/1.png"> 
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c3_q6">
                        <img src="../../assets/image/data3/2.png">
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c3_q6">
                        <img src="../../assets/image/data3/3.png">
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c3_q6">
                        <img src="../../assets/image/data3/4.png">
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>7. ข้อใดคือสัญลักของ NOT Gate</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c3_q7">
                        <img src="../../assets/image/data3/1.png">
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c3_q7">
                        <img src="../../assets/image/data3/2.png">
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c3_q7">
                        <img src="../../assets/image/data3/3.png">
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c3_q7">
                        <img src="../../assets/image/data3/4.png">
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>8. ข้อใดคือสัญลักของ EX-NOR Gate ได้จาก Gate ต่อไปนี้</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c3_q8">
                        <span>NOR+NOT</span> 
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c3_q8">
                        <label>OR+NOT</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c3_q8">
                        <label>EX-OR+NOT</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c3_q8">
                        <label>EX-NOR+NOT</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>9. ข้อใดต่อไปนี้เป็นตารางความจริงของ AND Gate</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c3_q9">
                        <img src="../../assets/image/data3/1.jpg">
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c3_q9">
                        <img src="../../assets/image/data3/2.jpg">
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c3_q9">
                        <img src="../../assets/image/data3/3.jpg">
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c3_q9">
                        <img src="../../assets/image/data3/4.jpg">
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>10. ข้อใดต่อไปนี้เป็นตารางความจริงของ EX-NOR Gate</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c3_q10">
                        <img src="../../assets/image/data3/1.jpg">
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c3_q10">
                        <img src="../../assets/image/data3/2.jpg">
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c3_q10">
                        <img src="../../assets/image/data3/3.jpg">
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c3_q10">
                        <img src="../../assets/image/data3/4.jpg">
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>11. นี่คือตารางความจริงใด?</p>
                    <img src="../../assets/image/data3/11.png">
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c3_q11">
                        <span>NAND</span> 
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c3_q11">
                        <label>AND</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c3_q11">
                        <label>OR</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c3_q11">
                        <label>NOR</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>12. นี่คือตารางความจริงใด?</p>
                    <img src="../../assets/image/data3/12.png">
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c3_q12">
                        <span>NAND</span> 
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c3_q12">
                        <label>AND</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c3_q12">
                        <label>OR</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c3_q12">
                        <label>NOT</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>13. logic gate ใดที่แสดงด้วยสัญลักษณ์นี้</p>
                    <img src="../../assets/image/data3/13.png">
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c3_q13">
                        <span>OR</span> 
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c3_q13">
                        <label>XNOR</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c3_q13">
                        <label>XOR</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c3_q13">
                        <label>NAND</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>14. logic gate ใดที่แสดงด้วยสัญลักษณ์นี้</p>
                    <img src="../../assets/image/data3/14.png">
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c3_q14">
                        <span>OR</span> 
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c3_q14">
                        <label>XNOR</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c3_q14">
                        <label>XOR</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c3_q14">
                        <label>NAND</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>15. ระบบสัญญาณลอจิกแบ่งได้เป็นกี่ระบบ</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c3_q15">
                        <span>1 ระบบ</span> 
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c3_q15">
                        <label>2 ระบบ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c3_q15">
                        <label>3 ระบบ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c3_q15">
                        <label>4 ระบบ</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>16. ระบบลอจิกบวกหมายถึงอะไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c3_q16">
                        <span>ระบบลอจิกที่สัญญาณลอจิกสูง</span> 
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c3_q16">
                        <label>ระบบลอจิกที่สัญญาณลอจิกต่ำ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c3_q16">
                        <label>ระบบลอจิกที่สัญญาณลอจิกปานกลาง</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c3_q16">
                        <label>ระบบลอจิกที่สัญญาณลอจิกคงที่</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>17. ระบบลอจิกลบหมายถึงอะไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c3_q17">
                        <span>ระบบลอจิกที่สัญญาณลอจิกสูง</span> 
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c3_q17">
                        <label>ระบบลอจิกที่สัญญาณลอจิกต่ำ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c3_q17">
                        <label>ระบบลอจิกที่สัญญาณลอจิกปานกลาง</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c3_q17">
                        <label>ระบบลอจิกที่สัญญาณลอจิกคงที่</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>18. AND Gate แทนเครื่องหมายทางคณิตศาสตร์คืออะไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c3_q18">
                        <span>บวก</span> 
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c3_q18">
                        <label>ลบ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c3_q18">
                        <label>คูณ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c3_q18">
                        <label>หาร</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>19. จงเปลี่ยนเลขฐานสอง 10111011 ให้เป็นเลขฐานสิบหกว่ามีค่าเท่าไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c3_q19">
                        <span>บวก</span> 
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c3_q19">
                        <label>ลบ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c3_q19">
                        <label>คูณ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c3_q19">
                        <label>หาร</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>20. OR NOT แทนเครื่องหมายทางคณิตศาสตร์คืออะไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" value="1" formControlName="c3_q20">
                        <span>บวก</span> 
                    </div>
                    <div class="choose">
                        <input type="radio" value="2" formControlName="c3_q20">
                        <label>ลบ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="3" formControlName="c3_q20">
                        <label>คูณ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" value="4" formControlName="c3_q20">
                        <label>หาร</label>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
</div>