.container-course {
    position: relative;
    height: 100vh;
    background: url('../../assets/image/background/bg_course.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content {
    z-index: 99;
    margin-left: 300px;
    padding: 10px;
}