<div class="content">

    <div class="paper">
        <div>
            <h2 class="box-head-title">แอนด์เกต (The AND Gate)</h2>
            <p class="abs">
                Bohdan, Borowik et al. (2013 : 52) ได้กล่าวว่า แอนด์เกต เป็นลอจิก ที่ให้สัญญาณขา
                ออกเป็น 1 เมื่อสัญญาณขาเข้าทุกตัวเป็น 1 และจะให้สัญญาณขาออกเป็น 0 เมื่อสัญญาณขาเข้าตัวใด
                ตัวหนึ่งเป็น 0
                วงจรพื้นฐานโดยใช้สวิตซ์แสดงการทำงานเป็นแอนด์เกตแสดงในภาพประกอบ 3.5 โดย
                อินพุตของวงจรประกอบไปด้วยสวิตซ์2 ตัว คือ สวิตซ์A และสวิตซ์B การควบคุมอินพุตทั้งสอง
                เพื่อให้หลอดไฟ (Lamp) ติดสว่างได้ มีวิธีเดียว คือ ควบคุมสวิตซ์A และ B ให้ปิด (Closed) เท่านั้น
            </p>
            <div class="box-img">

                <img src="assets/image/c3/3_5.PNG">
            </div>
            <p class="abs">
                ภาพประกอบ 3.5 วงจรแอนต์เกตที่ใช้สวิตซ์
                ที่มา : Dale, R. Patrick (2008 : 33)
            </p>
            <p class="abs">
                เมื่อพิจารณาในภาพประกอบ 3.5 คือ สัญลักษณ์ของแอนด์เกตที่มีโครงสร้างภายใน
                ประกอบด้วยทรานซิสเตอร์ สวิตซ์และไดโอดบรรจุรวมกันในวงจรรวม โดยอินพุตทั้งสองของแอนด์
                เกต คือ A และ B สำหรับเอาต์พุตของแอนด์เกตคือ Y เมื่อต่อแอนด์เกตใช้ในงานปฏิบัติจะต้องต่อ
                อินพุต A และ B เข้ากับลอจิกสวิตซ์เพื่อป้อนสัญญาณลอจิก “0” และ “1” (Low และ High) และ
                การทำงานของที่เอาต์พุต X
            </p>
            <div class="box-img">

                <img src="assets/image/c3/3_6.PNG">
            </div>
            <p class="abs">
                ภาพประกอบ 3.6 สัญลักษณ์ของแอนด์เกต
                ที่มา : Ronald, J. Tocci, Neal, S.Widmer and Gregory, L. Moss (2007 : 63)
            </p>
            <p class="abs">
                จากภาพประกอบ 3.6 เมื่อคุณปฏิบัติการโดยการป้อนสัญญาณลอจิก โดยใช้สวิตซ์ลอจิก A
                และ B การแสดงผลสภาวะลอจิกที่ไดโอดเปล่งแสงจะขึ้นอยู่กับระดับแรงดันลอจิกที่ป้อนเข้าไป ซึ่ง
                เป็นไปตามตารางความจริง (Truth Table)
            </p>
            <p class="abs">
                ตาราง 3.2 ตารางความจริงของแอนด์เกต 2 อินพุต
            </p>
            <div class="box-img">

                <img src="assets/image/c3/t3_2.PNG">
            </div>
            <p class="abs">
                ที่มา : Bohdan, Borowik et al. (2013 : 53)
            </p>
            <p class="abs">
                เมื่อพิจารณาภาพประกอบ 3.6 อาจกล่าวได้ว่า อินพุต A แอนด์กับอินพุต B มีค่าเท่ากับ
                เอาต์พุต Y หรือถ้าเขียนในรูปสมการพีชคณิตบูลีน ได้ว่า A.B = X (A แอนด์ B เท่ากับ X)
            </p>
        </div>
    </div>
</div>