<div class="content">
    <div class="paper">
        <div>
            <h2 class="box-head-title">เอกซ์คลูซีฟนอร์เกต (The Exclusive – NOR Gate)</h2>
            <p class="abs">
                Stephen, Brown and Zvonko, Vranesic (2013 : 128) ได้กล่าวว่า เอกซ์คลูซีฟนอร์เกต
                หรือ เอกซ์นอร์เกต (XNOR) เป็นการรวมกันระหว่างเอกซ์ออร์เกต (XOR) กับ นอตเกต (NOT) ดังนั้น
                สัญลักษณ์ของเอกซ์นอร์เกต จึงมีเครื่องหมายนอตอยู่ด้านเอาต์พุต
            </p>
            <div class="box-img">

                <img src="assets/image/c3/3_15.PNG">
            </div>
            <p class="abs">
                ภาพประกอบ 3.15 วงจรเอกซ์คลูซีฟนอร์เกตที่ใช้สวิตซ์
                ที่มา : ดัดแปลงจาก Tertulien, Ndjountche (2016 : 50)
            </p>
            <p class="abs">
                วงจรพื้นฐานของเอกซ์นอร์เกตที่ทำงานด้วยสวิตซ์แสดงในภาพประกอบ 3.15 โดยอินพุต
                ของวงจรประกอบไปด้วยสวิตซ์แบบ 3 ทาง 2 ตัวต่ออนุกรมกัน โดยที่หลอดไฟจะดับเมื่อสวิตซ์ทั้งหมด
                “ปิด” หรือ “เปิด” แต่ถ้าสวิตซ์ตัวมีสถานะต่างกัน แล้วหลอดไฟจะติด สัญลักษณ์เอกซ์นอร์เกตแสดง
                ในภาพประกอบ 3.16
            </p>
            <div class="box-img">

                <img src="assets/image/c3/3_16.PNG">
            </div>
            <p class="abs">
                ภาพประกอบ 3.16 สัญลักษณ์เอกซ์นอร์เกต
                ที่มา : Ata, Elahi (2018 : 32)
            </p>
            <p class="abs">
                สมการพีชคณิตบูลีนของเอกซ์นอร์เกต คือ <ng-katex [equation]="'Y = \\overline{A\\oplusB}'"></ng-katex>
                นั่นคือเอกซ์นอร์เท่ากับ NOT •
                (XOR) ตารางความจริงสำหรับแสดงการทำงานของเอกซ์นอร์เกต เมื่อเปรียบเทียบการทำงานจะเห็น
                ว่าเอาต์พุตของเอกซ์นอร์เกตจะเป็นตรงกันข้ามกับเอาต์พุตของเอกซ์ออร์เกต ดังตาราง 3.7
            </p>
            <p class="abs">
                ตาราง 3.7 ตารางความจริงของเอกซ์ออร์เกตเทียบกับเอกซ์นอร์เกต ขนาด 2 อินพุต
            </p>
            <div class="box-img">

                <img src="assets/image/c3/t3_7.PNG">
            </div>
            <p class="abs">
                ที่มา : Stephen, Brown and Zvonko, Vranesic (2013 : 129)
            </p>
        </div>
    </div>
</div>