<div class="content">
    <h2>เกตที่มีมากกว่าสองอินพุต (Gate With More Than 2 Inputs)</h2>
    <div>
        <pre>
            Arijit, Saha and Nilotpal, Manna (2007 : 69) ได้กล่าวว่า ปัจจุบันการออกแบบ
        วงจรลอจิก โดยการเลือกใช้เกตขนาด 2 อินพุตเป็นไปได้ยากมากเพราะวงจรเหล่านั้นต้องการจำนวน
        อินพุตที่มากกว่าสอง ดังนั้นจึงมีการดัดแปลงลอจิกเกตชนิด 2 อินพุต ให้สามารถทำงานเป็นเกตชนิดที่
        มีอินพุตมากกว่า เช่น 3 หรือ 4 อินพุต
        </pre>
        <img src="assets/image/c3/3_17.PNG">
        <pre>
            ภาพประกอบ 3.17 การสร้างแนนด์เกตขนาด 3 อินฟุต
            ที่มา : Arijit, Saha and Nilotpal, Manna (2007 : 69)            
        </pre>
        <pre>
            ภาพประกอบ 3.17 แสดงแอนด์เกต 3 อินพุต และสมการพีชคณิตบูลีนของแอนด์เกต 3
        อินพุต คือ F = ABC ตารางความจริงของแอนด์เกต 3 อินพุตมี 8 บรรทัด ตาราง 3.8 จะเห็นว่า
        เอาต์พุต F จะมีสภาวะลอจิกเป็น “1” เมื่ออินพุตทั้งหมดเป็น “1” เท่านั้น
            ตารางความจริงแสดงการทำงานของแอนด์เกต 3 อินพุต จะมีทั้งสิ้น 8 บรรทัด <ng-katex [equation]="'(2^3=8)'"></ng-katex>
        ทางด้านขวามือของตารางความจริง คือ เอาต์พุต (Y)
        </pre>
        <pre>
            ตาราง 3.8 ตารางความจริงของออร์เกต 4 อินพุต           
        </pre>
        <img src="assets/image/c3/t3_8.PNG">
        <pre>
            ที่มา : Arijit, Saha and Nilotpal, Manna (2007 : 72)         
        </pre>
        <pre>
            เมื่อต้องการสร้างเกต n อินพุต ในทำนองเดียวกันเมื่อต้องการสร้างออร์เกต n อินพุต จาก
        ออร์เกต 2 อินพุต จำนวน n ตัว สำหรับสมการพีชคณิตบูลีนของออร์เกต n อินพุต คือ
        <ng-katex [equation]="'Y=x_1+x_2+x_3+...+x_n'"></ng-katex> ดังแสดงในภาพประกอบ 3.18
        </pre>
        <img src="assets/image/c3/3_18.PNG">
        <pre>
            ภาพประกอบ 3.18 การสร้างออร์เกตขนาด n อินฟุต
            ที่มา : Stephen, Brown and Zvonko, Vranesic (2013 : 28)                  
        </pre>
    </div>
</div>
