<div class="sidebar">
    <div class="logo">
        <div class="back-logo">
            <img src="../../../assets/image/arrow-back-icon.png" width="35%" routerLink="/page/learning">
        </div>
        <div class="logo-title">
            <img src="../../../assets/image/logo.png" width="18%">
            <h3>Logo</h3>
        </div>
    </div>
    <div class="menu">
        <ul>
            <li routerLink="/chapter1">คำนำ</li>
            <li routerLink="/chapter1/pretest" >แบบทดสอบก่อนเรียน</li>
            <!-- <li>บทที่ 1</li> -->
            <div class="lesson">
                <p class="lesson-title">บทที่ 1 ความรู้พื้นฐานด้านระบบดิจิทัล</p>
                <ul class="lesson-menu">
                    <li routerLink="/chapter1/analog-and-digital">ข้อมูลแอนะล็อกและดิจิทัล</li>
                    <li routerLink="/chapter1/the-advantages-of-digital">ข้อดีของระบบดิจิทัล</li>
                    <li routerLink="/chapter1/digital-limitations">ข้อจำกัดของระบบดิจิทัล</li>
                    <li routerLink="/chapter1/the-process-of-converting-analog-data-to-digital">กระบวนการแปลงข้อมูลแอนะล็อกเป็นดิจิทัล</li>
                    <li routerLink="/chapter1/digital-signal">สัญญาณดิจิทัล</li>
                    <li routerLink="/chapter1/electronic-digital-system">ระบบดิจิทัลอิเล็กทรอนิกส์</li>
                    <li routerLink="/chapter1/digital-application">การประยุกต์ใช้งานระบบดิจิทัล</li>
                    <li routerLink="/chapter1/summary-end-chapter">สรุปท้ายบท</li>
                </ul>
            </div>
            <li routerLink="/chapter1/posttest">แบบทดสอบหลังเรียน</li>
            <li routerLink="/chapter1/workshop">ปฎิบัติการ</li>
        </ul>
    </div>
</div>