.container {
    position: relative;
    height: 100vh;
    background: url('../../assets/image/background/bg_course.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

