<div class="content">
    <h2>ความสัมพันธ์ระหว่างเลขฐานสอง ฐานแปด และฐานสิบหก (Relation of Numbers)</h2>
    <div>
        <pre>
            Thomas, L. Floyd. (2014 : 142) ได้กล่าวว่า เลขฐานสองเป็นเลขฐานเข้ากันได้กับระบบ
        ดิจิทัล และการใช้เลขฐานอื่นสร้างความยุ่งยากให้กับระบบดิจิทัลเป็นอย่างมาก เนื่องจากสถานะของ
        เครื่องจักรมีเพียง 2 สถานะ คือ ปิด และ เปิด ซึ่งโดยทั่วไปเรานิยมใช้เลขฐานสิบ จึงมีความ
        จ าเป็นต้องแปลงเป็นเลขฐานสองเพื่อให้คอมพิวเตอร์สามารถประมวลผลได้ง่าย แต่ด้วยความข้อจ ากัด
        หลายอย่างท าให้การใช้งานเลขฐานสองโดยตรงเป็นเรื่องยาก ในระบบดิจิทัลจึงมีการใช้งานเลขฐาน
        แปดและฐานสิบหก เพื่อแทนเลขฐานสองท าให้จ านวนบิตสั้นลง
        </pre>
        <pre>
            ตาราง 2.2 ตัวอย่างค่าของเลขฐานสอง และฐานสิบ 
        </pre>
        <img src="assets/image/c2/t2_2.PNG">
        <pre>
            ที่มา : Thomas, L. Floyd. (2014 : 142) 
        </pre>
        <pre>
            เลขฐานสิบหก มีความสัมพันธ์กับเลขฐานสอง คือ เลขฐานสองจ านวน 4 หลัก แทนด้วย
        เลขฐานสิบหก 1 หลัก ดังนั้นเราจึงสามารถเขียนเลขฐานสอง 6 บิต แทนด้วยเลขฐานแปด 2 หลัก
        เลขฐานแปด มีความสัมพันธ์กับเลขฐานสอง คือ เลขฐานสองจ านวน 3 หลัก แทนด้วยเลข
        ฐานแปด 1 หลัก ดังนั้นจึงสามารถเขียนเลขฐานสอง 10 บิต แทนด้วยเลขฐานแปด 2 หลัก การใช้เลข
        ฐานแปด
        </pre>
        <pre>
            ตาราง 2.3 ตัวอย่างค่าของเลขฐานสอง และฐานแปด 
        </pre>
        <img src="assets/image/c2/t2_3.PNG">
        <pre>
            ที่มา : Thomas, L. Floyd. (2014 : 142) 
        </pre>
        <pre>
            เลขฐานแปด มีความสัมพันธ์กับเลขฐานสิบหก คือ เลขฐานแปดจ านวน 2 หลัก แทนด้วย
        เลขฐานสิบหก 1 หลัก ดังนั้นเราจึงสามารถเขียนเลขฐานแปด 4 บิต แทนด้วยเลขฐานสิบหก 2 หลัก 
        </pre>
        <pre>
            ตาราง 2.4 ตัวอย่างค่าของเลขฐานแปด และฐานสิบหก
        </pre>
        <img src="assets/image/c2/t2_4.PNG">
        <pre>
            ที่มา : Thomas, L. Floyd. (2014 : 143)
        </pre>
    </div>
</div>
