<div class="content" style="height: 100vh;">
    <div class="paper">
        <div class="box-head-title">
            <h2>แบบทดสอบก่อนเรียน</h2>
        </div>
        <form [formGroup]="myForm" class="form_question">

            <div class="examination">
                <div class="question">
                  <p>1. กฎของนอต (NOT) ถ้า Α = 0 แล้ว <ng-katex [equation]="'\\overline{Α} '"></ng-katex>เท่ากับเท่าใด</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c4_q1_1" value="1" formControlName="c4_q1">
                        <label for="c4_q1_1">1</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q1_2" value="2" formControlName="c4_q1">
                        <label for="c4_q1_2">0</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q1_3" value="3" formControlName="c4_q1">
                        <label for="c4_q1_3">A</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q1_4" value="4" formControlName="c4_q1">
                        <label for="c4_q1_4">B</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>2. กฎของการกระจ่าย (Distributive Law) Α ( B + C ) เท่ากับเท่าใด</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c4_q2_1" value="1" formControlName="c4_q2">
                        <label for="c4_q2_1">( ΑB ) + ( AC )</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q2_2" value="2" formControlName="c4_q2">
                        <label for="c4_q2_2">(A+B)(A+C)</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q2_3" value="3" formControlName="c4_q2">
                        <label for="c4_q2_3">(A+B+C)</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q2_4" value="4" formControlName="c4_q2">
                        <label for="c4_q2_4">ABC</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>3. คำสั่งตรรกะสำหรับ Y2</p>
                    <img src="../../assets/image/data4/3.png">
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c4_q3_1" value="1" formControlName="c4_q3">
                        <label for="c4_q3_1">A⋅B</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q3_2" value="2" formControlName="c4_q3">
                        <label for="c4_q3_2">A+B</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q3_3" value="3" formControlName="c4_q3">
                        <label for="c4_q3_3">A⋅B⋅C⋅D</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q3_4" value="4" formControlName="c4_q3">
                        <label for="c4_q3_4">C⋅D</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>4. คำสั่งตรรกะสำหรับ Y</p>
                    <img src="../../assets/image/data4/3.png">
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c4_q4_1" value="1" formControlName="c4_q4">
                        <label for="c4_q4_1">A⋅B</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q4_2" value="2" formControlName="c4_q4">
                        <label for="c4_q4_2">A+B</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q4_3" value="3" formControlName="c4_q4">
                        <label for="c4_q4_3">A⋅B⋅C⋅D</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q4_4" value="4" formControlName="c4_q4">
                        <label for="c4_q4_4">C⋅D</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>5. คำสั่งตรรกะสำหรับ Q</p>
                    <img src="../../assets/image/data4/6.jpg">
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c4_q5_1" value="1" formControlName="c4_q5">
                        <label for="c4_q5_1">A AND B</label>  
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q5_2" value="2" formControlName="c4_q5">
                        <label for="c4_q5_2">A OR B</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q5_3" value="3" formControlName="c4_q5">
                        <label for="c4_q5_3">B OR C</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q5_4" value="4" formControlName="c4_q5">
                        <label for="c4_q5_4">B AND C</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>6. เอาต์พุต Y ของวงจรลอจิกนี้คืออะไรถ้า A = 1, B = 1 และ C = 1</p>
                    <img src="../../assets/image/data4/1.png">
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c4_q6_1" value="1" formControlName="c4_q6">
                        <label for="c4_q6_1">0</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q6_2" value="2" formControlName="c4_q6">
                        <label for="c4_q6_2">1</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q6_3" value="3" formControlName="c4_q6">
                        <label for="c4_q6_3">2</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q6_4" value="4" formControlName="c4_q6">
                        <label for="c4_q6_4">3</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>7. เอาต์พุต Z ของวงจรลอจิกนี้คืออะไรถ้า A = 1 และ B = 1</p>
                    <img src="../../assets/image/data4/2.png">
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c4_q7_1" value="1" formControlName="c4_q7">
                        <label for="c4_q7_1">0</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q7_2" value="2" formControlName="c4_q7">
                        <label for="c4_q7_2">1</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q7_3" value="3" formControlName="c4_q7">
                        <label for="c4_q7_3">2</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q7_4" value="4" formControlName="c4_q7">
                        <label for="c4_q7_4">3</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>8. คำสั่งตรรกะสำหรับ Y1</p>
                    <img src="../../assets/image/data4/3.jpg">
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c4_q8_1" value="1" formControlName="c4_q8">
                        <label for="c4_q8_1">A⋅B</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q8_2" value="2" formControlName="c4_q8">
                        <label for="c4_q8_2">A+B</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q8_3" value="3" formControlName="c4_q8">
                        <label for="c4_q8_3">A⋅B⋅C⋅D</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q8_4" value="4" formControlName="c4_q8">
                        <label for="c4_q8_4">C⋅D</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>9. คำสั่งตรรกะสำหรับ Y</p>
                    <img src="../../assets/image/data4/9.jpg">
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c4_q9_1" value="1" formControlName="c4_q9">
                        <label for="c4_q9_1"><ng-katex [equation]="'\\overline{(A⋅B)+\\overline{C}}'"></ng-katex></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q9_2" value="2" formControlName="c4_q9">
                        <label for="c4_q9_2"><ng-katex [equation]="'\\overline{(A⋅B)}+\\overline{C}'"></ng-katex></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q9_3" value="3" formControlName="c4_q9">
                        <label for="c4_q9_3"><ng-katex [equation]="'\\overline{(A⋅B)}+\\overline{\\overline{C}}'"></ng-katex></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q9_4" value="4" formControlName="c4_q9">
                        <label for="c4_q9_4"><ng-katex [equation]="'(A\\overline{⋅B)+\\overline{C}}'"></ng-katex></label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>10. ค่าของ Y คืออะไรถ้า A = 1, B = 1, C = 0</p>
                    <img src="../../assets/image/data4/9.jpg">
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c4_q10_1" value="1" formControlName="c4_q10">
                        <label for="c4_q10_1">0</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q10_2" value="2" formControlName="c4_q10">
                        <label for="c4_q10_2">1</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q10_3" value="3" formControlName="c4_q10">
                        <label for="c4_q10_3">2</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q10_4" value="4" formControlName="c4_q10">
                        <label for="c4_q10_4">3</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>11. Product of Sum Expression : POS คืออะไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c4_q11_1" value="1" formControlName="c4_q11">
                        <label for="c4_q11_1">ผลบวกของผลคูณ</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q11_2" value="2" formControlName="c4_q11">
                        <label for="c4_q11_2">ผลคูณของผลบวก</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q11_3" value="3" formControlName="c4_q11">
                        <label for="c4_q11_3">ผลบวกของผลลบ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q11_4" value="4" formControlName="c4_q11">
                        <label for="c4_q11_4">ผลคูณของผลหาร</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>12. ในทฤษฎีของ ดี มอร์แกน (De’morgan Theorem)กับสมการ<ng-katex [equation]="'Y=\\overline{AB} '"></ng-katex> เปลี่ยนสมการให้อยู่ในรูปของ OR </p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c4_q12_1" value="1" formControlName="c4_q12">
                        <label for="c4_q12_1"><ng-katex [equation]="'\\overline{\\overline{AB}}'"></ng-katex></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q12_2" value="2" formControlName="c4_q12">
                        <label for="c4_q12_2"><ng-katex [equation]="'\\overline{AB} '"></ng-katex></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q12_3" value="3" formControlName="c4_q12">
                        <label for="c4_q12_3"><ng-katex [equation]="'\\overline{A+B}'"></ng-katex></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q12_4" value="4" formControlName="c4_q12">
                        <label for="c4_q12_4"><ng-katex [equation]="'A+B'"></ng-katex></label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>13. ในทฤษฎีของ ดี มอร์แกน (De’morgan Theorem)กับสมการ<ng-katex [equation]="'Y=\\overline{A+B} '"></ng-katex> เปลี่ยนสมการให้อยู่ในรูปของ AND </p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c4_q13_1" value="1" formControlName="c4_q13">
                        <label for="c4_q13_1"><ng-katex [equation]="'AB'"></ng-katex></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q13_2" value="2" formControlName="c4_q13">
                        <label for="c4_q13_2"><ng-katex [equation]="'\\overline{AB}'"></ng-katex></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q13_3" value="3" formControlName="c4_q13">
                        <label for="c4_q13_3"><ng-katex [equation]="'\\overline{A+B}'"></ng-katex></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q13_4" value="4" formControlName="c4_q13">
                        <label for="c4_q13_4"><ng-katex [equation]="'A+B'"></ng-katex></label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>14. จงลดรูปลอจิก (<ng-katex [equation]="'f(A ,B) = (\\overline{A}+B)(A+B) '"></ng-katex>โดยให้ได้ค่าตัวแปรที่น้อยที่สุดคือข้อใด</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c4_q14_1" value="1" formControlName="c4_q14">
                        <label for="c4_q14_1">A</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q14_2" value="2" formControlName="c4_q14">
                        <label for="c4_q14_2">B</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q14_3" value="3" formControlName="c4_q14">
                        <label for="c4_q14_3">C</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q14_4" value="4" formControlName="c4_q14">
                        <label for="c4_q14_4">D</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>15. จงลดรูปลอจิก (<ng-katex [equation]="'f(A ,B) = (A+B)(A+\\overline{B})'"></ng-katex>โดยให้ได้ค่าตัวแปรที่น้อยที่สุดคือข้อใด</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c4_q15_1" value="1" formControlName="c4_q15">
                        <label for="c4_q15_1">A</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q15_2" value="2" formControlName="c4_q15">
                        <label for="c4_q15_2">B</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q15_3" value="3" formControlName="c4_q15">
                        <label for="c4_q15_3">C</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q15_4" value="4" formControlName="c4_q15">
                        <label for="c4_q15_4">D</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>16. จงลดรูปลอจิก <ng-katex [equation]="'f(A ,B) = (A+B)(\\overline{A}+B)(\\overline{A}+\\overline{B})'"></ng-katex>โดยให้ได้ค่าตัวแปรที่น้อยที่สุดคือข้อใด</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c4_q16_1" value="1" formControlName="c4_q16">
                        <label for="c4_q16_1"><ng-katex [equation]="'\\overline{A} \\overline{B}'"></ng-katex></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q16_2" value="2" formControlName="c4_q16">
                        <label for="c4_q16_2"><ng-katex [equation]="'A  \\overline{B}'"></ng-katex></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q16_3" value="3" formControlName="c4_q16">
                        <label for="c4_q16_3"><ng-katex [equation]="'\\overline{A} B'"></ng-katex></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q16_4" value="4" formControlName="c4_q16">
                        <label for="c4_q16_4"><ng-katex [equation]="'AB'"></ng-katex></label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>17. ค่า D เป็น TRUE ถ้า ...</p>
                    <img src="../../assets/image/data4/10.jpg">
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c4_q17_1" value="1" formControlName="c4_q17">
                        <label id="c34q17_1">>A = 0, B = 0</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q17_2" value="2" formControlName="c4_q17">
                        <label id="c34q17_2">>A = 0, B = 1</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q17_3" value="3" formControlName="c4_q17">
                        <label id="c34q17_3">>A = 1, B = 2</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q17_4" value="4" formControlName="c4_q17">
                        <label id="c34q17_4">>A = 1, B = 1</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>18. Sum of Products Expression : SOP คืออะไร</p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c4_q18_1" value="1" formControlName="c4_q18">
                        <label id="c34q18_1">>ผลบวกของผลคูณ</label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q18_2" value="2" formControlName="c4_q18">
                        <label id="c34q18_2">>ผลคูณของผลบวก</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q18_3" value="3" formControlName="c4_q18">
                        <label id="c34q18_3">>ผลบวกของผลลบ</label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q18_4" value="4" formControlName="c4_q18">
                        <label id="c34q18_4">>ผลคูณของผลหาร</label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>19. สมการใดต่อไปนี้เป็นสมการ SOP แบบ Canonical sum <ng-katex [equation]="'f(A,B,C,D)=AB+ABC+AB\\overline{C}\\overline{D}'"></ng-katex></p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c4_q19_1" value="1" formControlName="c4_q19">
                        <label for="c4_q19_1"><ng-katex [equation]="'=AB+ABC+ABCD+\\overline{C}\\overline{D}'"></ng-katex></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q19_2" value="2" formControlName="c4_q19">
                        <label for="c4_q19_2"><ng-katex [equation]="'=ABCD+ABC+ABCD+\\overline{C}\\overline{D}'"></ng-katex></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q19_3" value="3" formControlName="c4_q19">
                        <label for="c4_q19_3"><ng-katex [equation]="'=ABCD+ABCD+ABCD+ABCD'"></ng-katex></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q19_4" value="4" formControlName="c4_q19">
                        <label for="c4_q19_4"><ng-katex [equation]="'=ABCD+ABC\\overline{D}+AB\\overline{C}D+AB\\overline{C}\\overline{D}'"></ng-katex></label>
                    </div>
                </div>
            </div>
            
            <div class="examination">
                <div class="question">
                    <p>20. สมการใดต่อไปนี้เป็นสมการ POS แบบ Canonical product <ng-katex [equation]="'f(A,B,C)=(A+B)(A+\\overline{B}+C)'"></ng-katex></p>
                </div>
                <div class="answer">
                    <div class="choose">
                        <input type="radio" id="c4_q20_1" value="1" formControlName="c4_q20">
                        <label for="c4_q20_1"><ng-katex [equation]="'(A+B+C)(A+\\overline{B}+C)'"></ng-katex></label> 
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q20_2" value="2" formControlName="c4_q20">
                        <label for="c4_q20_2"><ng-katex [equation]="'(A+B+C)(A+\\overline{B}+)(A+B+C)(A+\\overline{B}+C)'"></ng-katex></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q20_3" value="3" formControlName="c4_q20">
                        <label for="c4_q20_3"><ng-katex [equation]="'(A+B+C\\overline{C})(A+\\overline{B}+C)'"></ng-katex></label>
                    </div>
                    <div class="choose">
                        <input type="radio" id="c4_q20_4" value="4" formControlName="c4_q20">
                        <label for="c4_q20_4"><ng-katex [equation]="'(A+B+C)(A+B+\\overline{C})(A+\\overline{B})+C'"></ng-katex></label>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
</div>