<div class="content">
    <div>
        <h2>ลอจิกเกต</h2>
        <pre>
            เครื่องคอมพิวเตอร์ เครื่องคำนวณทางอิเล็กทรอนิกส์ และอื่น ๆ ที่ทำงานด้วยระบบดิจิตอล
        โดยทั่งไปที่ใช้งานกันอยู่อย่างแพร่หลายในขณะนี้ โครงสร้างของวงจรพื้นฐานในการออกแบบวงจร
        ดังกล่าว คือ ลอจิกเกต ลอจิกเกตที่ต้องใช้ในการปฏิบัติงานในงานดิจิตอลอิเล็กทรอนิกส์ ทำงานด้วย
        สัญญาณลอจิกในระบบเลขฐานสอง จึงเรียกว่า ลอจิกเกตฐานสอง ในการออกแบบวงจรดิจิทัลซึ่งต้อง
        มีความเข้าใจถึงการทำงานและการใช้งานลอจิกเกตฐานสอง สัญลักษณ์และลักษณะพิเศษของลอจิก
        เกตแบบต่าง ๆ เป็นอย่างดี เพื่อให้วงจรทำงานตามที่ออกแบบไว้ ลอจิกเกตสามารถสร้างได้โดยการใช้
        สวิตซ์แต่การใช้งานจริงวงจรดิจิทัลจะมีความซับซ้อนมากและอยู่ในรูปแบบของวงจรรวม ซึ่งมีราคา
        ถูกกว่า ใช้พลังงานน้อยกว่า และมีขนาดเล็กกว่า ในปัจจุบันมีเกตกว่า 1,400 ล้านตัวอยู่บนชิปเพียงตัว
        เดียว และอุปกรณ์อิเล็กทรอนิกส์แทบทุกชนิดมีเกตเหล่านี้ควบคุมการทำงาน ดังนั้นการศึกษาลอจิก
        เกตจึงมีความจำเป็นอย่างยิ่ง สำหรับบทนี้ แบ่งเป็น 9 เรื่องได้แก่ อินเวอร์เตอร์เกตและบัฟเฟอร์
        แอนด์เกต แนนด์เกต ออร์เกต นอร์เกต เอกซ์คลูซีฟออร์เกต เอกซ์คลูซีฟนอร์เกต เกตที่มีมากกว่า
        สองอินพุต และวงจรรวมลอจิกเกตดังต่อไปนี้                 
        </pre>
    </div>
    <div>
        <h2>แผนบริหารการสอนประจำบทที่ 3</h2>
    </div>
    <div>
        <h3>หัวข้อเนื้อหา</h3>
        <pre>
            1. อินเวอร์เตอร์เกตและบัฟเฟอร์
            2. แอนด์เกต
            3. แนนด์เกต
            4. ออร์เกต
            5. นอร์เกต
            6. เอกซ์คลูซีฟออร์เกต
            7. เอกซ์คลูซีฟนอร์เกต
            8. เกตที่มีมากกว่าสองอินพุต
            9. วงจรรวมลอจิกเกต            
        </pre>
    </div>
    <div>
        <h3>วัตถุประสงค์เชิงพฤติกรรม</h3>
        <pre>
            1. อธิบายอินเวอร์เตอร์เกตและบัฟเฟอร์ แอนด์เกต แนนด์เกต ออร์เกต นอร์เกต เอกซ์คลู
        ซีฟออร์เกต และเอกซ์คลูซีฟนอร์เกตได้
            2. อธิบายการทำงานของอุปกรณ์ที่ใช้กระทำทางตรรกะได้
            3. สามารถใช้งานเกตที่มีมากกว่าสองอินพุต
            4. สามารถประยุกต์ใช้วงจรรวมลอจิกเกต            
        </pre>
    </div>
    <div>
        <h3>วิธีสอนและกิจกรรมการเรียนการสอน</h3>
        <pre>
                1. ใช้การบรรยายในห้องเรียน โดยอาจารย์ผู้สอน หรือจัดการเรียนการสอนในลักษณะการ
            สอนเป็นทีม มีการกำหนดกิจกรรมให้มีการทำงานเป็นกลุ่ม หรือการทำงานที่ต้องประสานงานกับผู้อื่น
            ข้ามหลักสูตร หรือต้องค้นคว้าหาข้อมูลจากการสัมภาษณ์บุคคลอื่น หรือผู้มีประสบการณ์ โดยมีความ
            คาดหวังในผลการเรียนรู้ด้านทักษะความสัมพันธ์ระหว่างตัวบุคคลและความสามารถในการรับผิดชอบ
            มีการแลกเปลี่ยนความคิดเห็นวิเคราะห์ และอภิปรายร่วมกัน แทรกเสริมประสบการณ์หรือความรู้ที่
            ทันสมัย หรือใช้เทคโนโลยีที่ทันสมัยและแปลกใหม่
                2. ให้การฝึกปฏิบัติการแก่นักศึกษา
                3. ให้แบบฝึกหัด
                4. ให้นักศึกษามีการศึกษาค้นคว้าด้วยตนเอง สรุปประเด็นจากการศึกษา
                5. จัดอภิปรายกลุ่ม และนำเสนอหน้าชั้น โดยอธิบายถึงข้อจำกัด เหตุผลในการเลือกใช้
            เครื่องมือหรือทฤษฎีต่างๆ และการอภิปรายกรณีศึกษาต่าง ๆ
        </pre>
    </div>
    <div>
        <h3>สื่อการเรียนการสอน</h3>
        <pre>
            1. เอกสารประกอบการสอน
            2. สื่ออิเล็กทรอนิกส์
            3. ใบงาน / แบบฝึกหัด
        </pre>
    </div>
    <div>
        <h3>การวัดผลและประเมินผล</h3>
        <pre>
            1. การวัดโดยวิธีการสังเกต
                1.1 การแต่งกาย
                1.2 การตรงต่อเวลา
                1.3 การมีส่วนร่วมในชั้นเรียน
                1.4 ความสนใจและความตั้งใจ
            2. การประเมินผล
                2.1 ตรวจรายงาน
                2.2 ตรวจแบบฝึกหัด
                2.3 ตรวจผลงานภาคปฏิบัติ
                2.4 ตรวจผลงานต่าง ๆ ที่ให้ทำ
                2.5 การนำเสนอรายงานในชั้นเรียน
                2.6 ทดสอบโดยใช้ข้อสอบข้อเขียน
        </pre>
    </div>
</div>
