<div class="content">
    <div class="paper">
        <div>
            <h2 class="box-head-title">อินเวอร์เตอร์เกตและบัฟเฟอร์ (The Inverter Gate and Buffer)
            </h2>
            <p class="abs">
                Tertulien, Ndjountche (2016 : 51) ได้กล่าวว่า นอตฟังก์ชัน (NOT Function) จะให้
                ลอจิกเอาต์พุตตรงกันข้ามกับลอจิกอินพุตที่ป้อนเข้าไป เกตที่ทำหน้าที่นี้เรียกว่า อินเวอร์เตอร์เกต
                (Inverter Gate) หรือ นอตเกต (NOT Gate)
            </p>
            <div class="box-img">

                <img src="assets/image/c3/3_1.PNG">
            </div>
            <p class="abs">
                ภาพประกอบ 3.1 วงจรนอตเกตที่ใช้สวิตซ์
                ที่มา : Dale, R. Patrick (2008 : 33)
            </p>
            <p class="abs">
                วงจรพื้นฐานโดยใช้สวิตซ์แสดงการทำงานเป็นนอตเกต โดยอินพุตของวงจรประกอบไปด้วย
                สวิตซ์A การควบคุมอินพุตเพื่อให้หลอดไฟติดสว่างได้ คือ ควบคุมสวิตซ์A ให้เปิด ในทางกลับกันเมื่อ
                สวิตซ์A อยู่ในสถานะปิด หลอดไฟจะดับ แสดงในภาพประกอบ 3.1
            </p>
            <div class="box-img">

                <img src="assets/image/c3/3_2.PNG">
            </div>
            <p class="abs">
                ภาพประกอบ 3.2 สัญลักษณ์ลอจิกของนอตเกตและสมการพีชคณิตบูลีน
                ที่มา : Ronald, J. Tocci, Neal, S.Widmer and Gregory, L. Moss (2007 : 65)
            </p>
            <p class="abs">
                นอตเกต เป็นลอจิกเกตที่มี 1 อินพุต และ 1 เอาต์พุต บางครั้งเรียกว่า วงจรอินเวอร์เตอร์
                (Logic Inverter) เขียนเป็นสมการทางพีชคณิตบูลีน สัญลักษณ์ (-) คือบาร์ (Bar) หรือนอต (NOT)
                อ่านว่า Y เท่ากับนอต A สัญลักษณ์ของอินเวอร์เตอร์เกตแสดงในภาพประกอบ 3.2
                หากลอจิกอินพุต A ของนอตเกต เป็น “1” ที่ จะได้ค่าลอจิกเอาต์พุตออกมาตรงกันข้ามกับที่
                ป้อนเข้าไป คือเอาต์พุต Y เป็น “0” ตารางความจริงของนอตเกต แสดงในตาราง 3.1 จะเห็นว่า X จะ
                ได้ลอจิก “1” เมื่อป้อนลอจิกอินพุต “0” และ X จะได้ “0” เมื่อป้อนลอจิกอินพุต “1”
            </p>
            <p class="abs">
                ตาราง 3.1 ตารางความจริงของนอตเกต
            </p>
            <div class="box-img">

                <img src="assets/image/c3/t3_1.PNG">
            </div>
            <p class="abs">
                ที่มา : Tertulien, Ndjountche. (2016 : 51)
            </p>
            <p class="abs">
                สำหรับวงจรนอตเกต 2 ตัว เมื่ออินพุต A ของเกตตัวแรกมีค่าลอจิกเป็น “1” เอาต์พุตจะ
                แสดง ลอจิก “0” หรือ “Low” จากนั้นเอาต์พุตของเกตตัวที่สองจะแสดงลอจิก “1” หรือ “High”
                นั้นแสดงว่ามีค่าเท่ากับอินพุต ดังแสดงในภาพประกอบ 3.3
            </p>
            <div class="box-img">

                <img src="assets/image/c3/3_3.PNG">
            </div>
            <p class="abs">
                ภาพประกอบ 3.3 แสดงวงจรนอตเกต ตัว 2
                ที่มา : Brian, Holdsworth and Clive, Woods (2002 : 34)
            </p>
            <p class="abs">
                เกตไม่กลับทาง (Non-Inverting Gate) ถูกสร้างขั้นเพื่อต่อระหว่างวงจรลอจิกเกต 2 วงจร
                หรือเมื่อต้องการต่อเอาต์พุตของวงจรลอจิกเข้ากับวงจรอื่น ๆ เรียกว่าเป็น วงจรบัฟเฟอร์ (Buffer) ใน
                มุมมองของดิจิทัลจะไม่เห็นความแตกต่าง แต่มองในมุมของแอนะล๊อก วงจรนี้ทำหน้าที่ในการขยาย
                กระแส โดยไม่กลับสัญญาณลอจิกดังนั้นสัญลักษณ์จึงไม่มี NOT (°) เมื่อป้อนลอจิก “1” เข้าที่อินพุต
                A ของวงจร ภาพประกอบ 3.4 เอาต์พุตของจะมีค่าเป็น “1” เช่นกัน (David, Money Harris and
                Sarah, L. Harris, 2007 : 20)
            </p>
            <div class="box-img">

                <img src="assets/image/c3/3_4.PNG">
            </div>
            <p class="abs">
                ภาพประกอบ 3.4 แสดงวงจรบัฟเฟอร์
                ที่มา : Jean-Pierre, Deschamps, Elena, Valderrama and Lluís, Terés (2017 : 17)
            </p>
        </div>
    </div>
</div>