<div class="content">
    <div class="paper">
        <div>
            <h2 class="box-head-title">นอร์เกต (The NOR Gate)</h2>
            <p class="abs">
                Bohdan, Borowik et al. (2013 : 57) ได้กล่าวว่า นอร์เกต คือ นอตออร์เกต (NOT OR
                gate) การแสดงผลลัพธ์ทางด้านเอาต์พุตของออร์เกต (OR) จะตรงกันข้ามกับนอร์เกต (NOR)
            </p>
            <div class="box-img">

                <img src="assets/image/c3/3_11.PNG">
            </div>
            <p class="abs">
                ภาพประกอบ 3.11 วงจรนอร์เกตที่ใช้สวิตซ์
                ที่มา : Dale, R. Patrick (2008 : 37)
            </p>
            <p class="abs">
                สัญลักษณ์ของนอร์เกตและโครงสร้างภายในแสดงในภาพประกอบ 3.12 ประกอบไปด้วย
                ออร์เกตต่อร่วมกับนอตเกต โดยสมการพีชคณิตบูลีนของออร์เกต คือ A + B และสำหรับนอร์เกต คือ
                <ng-katex [equation]="'X = \\overline{A+B}'"></ng-katex> (Brian, Holdsworth and Clive, Woods, 2002 : 32)
            </p>
            <div class="box-img">

                <img src="assets/image/c3/3_12.PNG">
            </div>
            <p class="abs">
                ภาพประกอบ 3.12 สัญลักษณ์ของนอร์เกตและสมการพีชคณิตบูลีน
                ที่มา : Ronald, J. Tocci, Neal, S.Widmer and Gregory, L. Moss (2007 : 73)
            </p>
            <p class="abs">
                ตารางความจริงของนอร์เกต 2 อินพุต แสดงในตาราง 3.5 แสดงการเปรียบเทียบทั้งผลลัพธ์
                ของออร์เกตและนอร์เกต
            </p>
            <p class="abs">
                ตาราง 3.5 ตารางความจริงของนอร์เกต 2 อินพุต
            </p>
            <div class="box-img">

                <img src="assets/image/c3/t3_5.PNG">
            </div>
            <p class="abs">
                ที่มา : Brian, Holdsworth and Clive, Woods. (2002 : 32)
            </p>
        </div>
    </div>
</div>