<div class="content">
    <h2>นอร์เกต (The NOR Gate)</h2>
    <div>
        <pre>
            Bohdan, Borowik et al. (2013 : 57) ได้กล่าวว่า นอร์เกต คือ นอตออร์เกต (NOT OR
        gate) การแสดงผลลัพธ์ทางด้านเอาต์พุตของออร์เกต (OR) จะตรงกันข้ามกับนอร์เกต (NOR)
        </pre>
        <img src="assets/image/c3/3_11.PNG">
        <pre>
            ภาพประกอบ 3.11 วงจรนอร์เกตที่ใช้สวิตซ์
            ที่มา : Dale, R. Patrick (2008 : 37)
        </pre>
        <pre>
            สัญลักษณ์ของนอร์เกตและโครงสร้างภายในแสดงในภาพประกอบ 3.12 ประกอบไปด้วย
        ออร์เกตต่อร่วมกับนอตเกต โดยสมการพีชคณิตบูลีนของออร์เกต คือ A + B และสำหรับนอร์เกต คือ 
        <ng-katex [equation]="'X = \\overline{A+B}'"></ng-katex> (Brian, Holdsworth and Clive, Woods, 2002 : 32)            
        </pre>
        <img src="assets/image/c3/3_12.PNG">
        <pre>
            ภาพประกอบ 3.12 สัญลักษณ์ของนอร์เกตและสมการพีชคณิตบูลีน
            ที่มา : Ronald, J. Tocci, Neal, S.Widmer and Gregory, L. Moss (2007 : 73)
        </pre>
        <pre>
            ตารางความจริงของนอร์เกต 2 อินพุต แสดงในตาราง 3.5 แสดงการเปรียบเทียบทั้งผลลัพธ์
        ของออร์เกตและนอร์เกต
        </pre>
        <pre>
            ตาราง 3.5 ตารางความจริงของนอร์เกต 2 อินพุต
        </pre>
        <img src="assets/image/c3/t3_5.PNG">
        <pre>
            ที่มา : Brian, Holdsworth and Clive, Woods. (2002 : 32)
        </pre>
    </div>
</div>
