<div class="content">
    <div class="paper">
        <div>
            <h2 class="box-head-title">สรุปท้ายบท</h2>
            <p class="abs">
                วงจรพื้นฐานโดยใช้สวิตซ์แสดงการทำงานของเกตต่าง ๆ ซึ่งประกอบด้วย อินเวอร์เตอร์เกต
                และบัฟเฟอร์ แอนด์เกต แนนด์เกต ออร์เกต นอร์เกต เอกซ์คลูซีฟออร์เกต และเอกซ์คลูซีฟนอร์เกต
                อินพุตของวงจรประกอบไปด้วย สวิตซ์ เพื่อง่ายต่อการอธิบายการทำงานของอุปกรณ์ที่ใช้กระทำทาง
                ตรรกะ ในการควบคุมอินพุตเพื่อให้เอาท์พุต ซึ่งแทนด้วยหลอดไฟแสดงผลลัพธ์ด้วยสถานะ
                “ติดสว่าง” หรือ “ดับ” หรือความต่างศักย์ไฟฟ้า “สูง” และ “ต่ำ” ตามลำดับ เกตต่าง ๆ สามารถ
                แทนด้วยสมการ และสัญลักษณ์ในวงจรหนึ่ง อาจมีความซับซ้อน หรือประกอบขึ้นจากเกตหลายตัว
                และการใช้งานมีหลายอินพุต หรือหลายเอาท์พุต ในระดับอุตสาหกรรมการผลิตวงจรรวมซึ่งบรรจุเกต
                ที่หลากนั้นเป็นเรื่องยาก เพื่อให้ง่ายแก่การออกแบบและผลิตอุปกรณ์ดิจิทัลที่สามารถทำงานได้ตามที่
                วิศวกรออกแบบไว้นั้น จะต้องทำการเปลี่ยนรูปวงจรให้ให้งานเกตเพียงตัวเดียว จึงสามารถที่จะนำ
                วงจรที่มีความซับซ้อนนั้นมาอยู่ในวงจรรวมเพียงตัวเดียวได้
            </p>
        </div>
    </div>
</div>