<div class="content">
    <h2>การลบเลขฐานสอง (Binary Subtraction)</h2>
    <div>
        <pre>
            Thomas, L. Floyd (2014 : 75-76) ได้กล่าวว่า การลบเลขฐานสองเป็นวิธีซึ่งตรงกันข้ามกับ
        การบวก ดังนั้นการลบก็จำเป็นต้องมีการยืมจากหลักที่สูงว่าในกรณีตัวตั้งน้อยกว่าตัวลบโดยใช้กฏดังนี้
                    1) 0 – 0 = 0
                    2) 1 – 0 = 1
                    3) 1 – 1 = 0
                    4) 10 – 1 = 1 ต้องยืมจากหลักที่สูงกว่า
        </pre>
        <img src="assets/image/c2/ex2__22.PNG">
        <pre>
            สำหรับเลขฐานใด ๆ ให้ใช้หลักการเดียวกัน เช่น การลบเลขฐาน 8 ให้ใช้หลักการเดียวกับเลข
        ฐาน 10 แต่ถ้าตัวตั้งมีค่าน้อยกว่าตัวเลขต้องยืมหลักข้างหน้ามา 1 ซึ่งเท่ากับ 8 แล้วจึงลบได้ (John,
        Crisp, 2000 : 21)
        </pre>
        <img src="assets/image/c2/ex2__23.PNG">
        <pre>
            เราสามารถนำ 1’s Complement และ 2’s Complement มาใช้ในการลบเลขฐาน 2 ได้
        โดยวิธีการบวก โดยเปรียบเทียบตัวอย่างต่อไปนี้
        </pre>
        <img src="assets/image/c2/ex2__24.PNG">
        <pre>
            เปรียบเทียบ 2 ตัวอย่างจะเห็นได้ว่า ได้คำตอบ 101101 เท่ากัน
        </pre>
        <img src="assets/image/c2/ex2__26.PNG">
        <pre>
            การลบโดยใช้ 1’s Complement ทำได้โดยเปลี่ยนตัวลบเป็น 1’s Complement แล้ว
        นำไปบวกกับตัวตั้ง ถ้าบวกแล้วมีตัวทดให้นำตัวทดมาบวกกับผลลัพธ์ที่ได้ ผลลัพธ์ครั้งสุดท้ายคือ
        คำตอบ แต่ถ้านำ 1’s Complement ของตัวลบไปบวกกับตัวตั้งแล้วไม่มีตัวทด เกินค่าหลักของตัวตั้ง
        ต้องแปลงผลลัพธ์ที่ได้เป็น 1’s Complement อีกครั้งหนึ่งก่อนจึงจะได้คำตอบที่แท้จริง และค่าที่ได้
        ต้องตัดเครื่องหมายลบพิจารณาตัวอย่างต่อไปนี้(Bohdan, Borowik et al., 2013 : 23)
        </pre>
        <img src="assets/image/c2/ex2__27.PNG">
    </div>
</div>
