<div class="content">
    <h2>การหารเลขฐานสอง (Binary Division)</h2>
    <div>
        <pre>
            การหารใช้หลักการเดียวกับการหารเลขฐานสิบ แต่การหารเลขฐานสองใช้กฎ 2 ข้อดังนี้
        (David, Money Harris and Sarah, L. Harris, 2007 : 247)
                    1) 0 หาร 1 = 0
                    2) 1 หาร 1 = 1
        </pre>
        <img src="assets/image/c2/ex2__30.PNG">
        <pre>
            จากผลลัพธ์ของการหารเลขฐานสอง ทดลองเปลี่ยนเป็นเลขฐานสิบ การทดสอบจะต้องได้
        ค่าที่ใกล้เคียงกับ 2.416...
        ทดสอบ
        1.11101110 = <ng-katex [equation]="'1x2^0 + 1x2^{-1} + 1x2^{-2} + 1x2^{-3} + 0x2^{-4} + 1x2^{-5} + 1x2^{-6}'"></ng-katex>
                      <ng-katex [equation]="'1x2^{-7} + 1x2^{-8} + 1x2^{-9}'"></ng-katex>
                   = 1+ 0.5 + 0.25 + 0.125 + 0 + 0.03125 + 0.015625 + 0.007812
                      + 0.001953125
                   = 2.416

            ตัวอย่าง 2.30 นี้จะเห็นได้ว่า 10.0110101 .. มีค่าใกล้เคียงกับ 2.416 ซึ่งถ้าหากเป็นทศนิยม
        ไม่รู้จบ จะต้องมีการกำหนดจำนวนหลักหลังจุดทศนิยม เช่นเดียวกับการหารเลขฐานสิบ

            ตัวอย่าง 2.30 นี้จะเห็นได้ว่า 10.0110101 .. มีค่าใกล้เคียงกับ 2.416 ซึ่งถ้าหากเป็นทศนิยม
        ไม่รู้จบ จะต้องมีการกำหนดจำนวนหลักหลังจุดทศนิยม เช่นเดียวกับการหารเลขฐานสิบ

        </pre>
        <img src="assets/image/c2/ex2__21.PNG">
    </div>
</div>
