<div class="content">
    <div>
        <h2>ข้อมูลแอนะล็อกและดิจิทัล (Analog and Digital Data)</h2>
        <pre>
            Ronald, J. Tocci, Neal, S. Widmer and Gregory, L. Moss. (2007 : 4-7) ได้กล่าวว่า
            ในทางวิทยาศาสตร์ธุรกิจ และในทั่วไปแล้วปริมาณที่ใช้ในการการวัด การบันทึก การสำรวจ นิยม
            แสดงผลเป็นปริมาณตัวเลข ซึ่งแบ่งออกเป็น 2 แบบคือ แอนะล็อก และ ดิจิทัล
            1. แอนะล็อก เป็น วิธีการเก็บข้อมูลที่ได้จากการวัดในลักษณะต่อเนื่อง (Continuous) เช่น
            วัดความเร็วในการหมุนของวงล้อ ข้อมูลที่ได้เป็น 26.44 รอบ/วินาที หรือ ความยาวของดินสอเป็น
            5.6 เซนติเมตร เป็นต้น
            2. ดิจิทัล เป็น วิธีการเก็บข้อมูลที่ได้จากการวัดในลักษณะไม่ต่อเนื่อง (Discrete) การ
            เปลี่ยนแปลงข้อมูลเป็นขั้น (Step-By-Step) เช่น การเดินของเข็มนาฬิกา จาก 7 นาฬิกา เป็น
            8 นาฬิกา หรือ จ านวนดินสอ 10 แท่ง เป็นต้น
            เมื่อพิจารณาแล้วจะเห็นว่าโดยธรรมชาติของปริมาณดิจิทัลสามารถอ่านค่าได้อย่างชัดเจน
            และใช้งานง่าย แต่ปริมาณแอนะล็อกจะเกิดจากการตีความ ในทางปฏิบัติเมื่ออ่านค่าอุณหภูมิจาก
            เทอร์โมมิเตอร์ จะอ่านค่าใกล้เคียงปริมาณที่น่าจะเป็นมากที่สุด เช่น 28.4 องศาเซลเซียส ข้อมูล
            แอนะล็อกจะเป็น 28.4 และข้อมูลดิจิทัลจะเป็น 28 เนื่องจากระดับอุณหภูมิยังไม่ถึง 29 องศา
            เซลเซียส (เทอร์โมมิเตอร์ทั่วไปมีเพียงขีด 28 และ 29 องศาเซลเซียสเท่านั้น อ่านค่าแบบดิจิทัลจะได้
            เพียง 28 หรือ 29 เท่านั้น) ในปัจจุบันปริมาณดิจิทัลสามารถใช้งานทศนิยมได้ และมีความละเอียดสูง
            มากขึ้นอยู่กับความต้องการและการออกแบบระบบนั้น ๆ ดังภาพประกอบที่ 1.1            
        </pre>
        <img src="assets/image/c1/1_1.PNG">
        <pre>
            ภาพประกอบ 1.1 เปรียบเทียบระบบแอนะล็อกและระบบดิจิทัล (ก) แอนะล็อก (ข) ดิจิทัล
            ที่มา : Jimbolm [pseud.] Retrieved from https://learn.sparkfun.com

        </pre>
    </div>
</div>