<div class="content">
    <div class="paper">
        <div>
            <h2 class="box-head-title">ความรู้พื้นฐานด้านระบบดิจิทัล</h2>
            <p class="abs">
                ระบบดิจิทัลได้เข้ามาเป็นปัจจัยหนึ่งในชีวิตของเรา เช่น โทรศัพท์มือถือ โทรทัศน์ การ
                คมนาคม การสื่อสาร การดำเนินธุรกิจ แม้กระทั้งการศึกษา ภายในระบบดิจิทัลมีการดำเนินการ การ
                เข้ารหัส การแปลงข้อมูลต่าง ๆ มากมาย ข้อมูลเหล่านั้นล้วนเป็นข้อมูลแบบดิจิทัล นอกจากตัวข้อมูล
                ที่อยู่ในรูปแบบดิจิทัลแล้ว อุปกรณ์ที่ใช้ระบบนี้จะต้องถูกออกแบบบนระบบตัวเลขดิจิทัลเพื่อทำงานให้
                ได้อย่างสอดคล้องกันด้วย ระบบตัวเลขดิจิทัลประกอบไปด้วยเลขฐานที่หลากหลาย สามารถเลือกใช้
                งานได้ตามความเหมาะสมของของสถาณะการณ์ หรือภาวะปัญหานั้น ๆ จะเห็นได้ว่าระบบเลขฐานถือ
                ว่าเป็นพื้นฐานที่สำคัญที่ช่วยให้เข้าใจกระบวนการแก้ปัญหา การเลือกใช้วิธีการแก้ปัญหา และ
                ข้อจำกัดของระบบดิจิทัล ซึ่งโดยหลักการพื้นฐานของดิจิทัลมีเพียงสถานะเปิด-ปิด ของสวิตซ์เท่านั้น
                แต่เมื่อเข้าใจอย่างลึกซึ้งแล้ว จะสามารถวิเคราะห์ปัญหาต่าง ๆ และใช้ระบบดิจิทัลที่มีอยู่อย่าง
                เพรียบพร้อมในปัจจุบันแก้ปัญหาเหล่านั้นได้ดังนั้นความรู้พื้นฐานด้านระบบดิจิทัลจึงมีความจำเป็น
                อย่างยิ่ง สำหรับบทนี้ แบ่งเป็น 7 เรื่องได้แก่ตัวเลขแอนะล็อกและดิจิทัล ตัวเลขแอนะล็อกและดิจิทัล
                ข้อดีของระบบดิจิทัล ข้อจำกัดของระบบดิจิทัล กระบวนการแปลงข้อมูลแอนะล็อกเป็นดิจิทัล
                สัญญาณดิจิทัล ระบบดิจิทัลอิเล็กทรอนิกส์การประยุกต์ใช้งานระบบดิจิทัล            
            </p>
        </div>
        <div>
            <h2 class="box-head-title2">แผนบริหารการสอนประจำบทที่ 1</h2>
        </div>
        <div>
            <h3 class="box-label-title">หัวข้อเนื้อหา 1</h3>
            <pre>
        1. ข้อมูลแอนะล็อกและดิจิทัล
        2. ข้อดีของระบบดิจิทัล
        3. ข้อจำกัดของระบบดิจิทัล
        4. กระบวนการแปลงข้อมูลแอนะล็อกเป็นดิจิทัล
        5. สัญญาณดิจิทัล
        6. ระบบดิจิทัลอิเล็กทรอนิกส์
        7. การประยุกต์ใช้งานระบบดิจิทัล
            </pre>
        </div>
        <div>
            <h3 class="box-label-title">วัตถุประสงค์เชิงพฤติกรรม</h3>
            <pre>
        1. อธิบายความหมายและความแตกต่างของข้อมูลแอนะล็อกและดิจิทัลได้
        2. อธิบายข้อดีและข้อจ ากัดของระบบดิจิทัลได้
        3. อธิบายกระบวนการแปลงข้อมูลแอนะล็อกเป็นดิจิทัลได้
        4. อธิบายสัญญาณดิจิทัลและระบบดิจิทัลอิเล็กทรอนิกส์ได้
        5. อธิบายการประยุกต์ใช้งานระบบดิจิทัลได้
            </pre>
        </div>
        <div>
            <h3 class="box-label-title">วิธีสอนและกิจกรรมการเรียนการสอน</h3>
            <pre>
        1. ใช้การบรรยายในห้องเรียน โดยอาจารย์ผู้สอน หรือจัดการเรียนการสอนในลักษณะการ
    สอนเป็นทีม มีการก าหนดกิจกรรมให้มีการท างานเป็นกลุ่ม หรือการท างานที่ต้องประสานงานกับผู้อื่น
    ข้ามหลักสูตร หรือต้องค้นคว้าหาข้อมูลจากการสัมภาษณ์บุคคลอื่น หรือผู้มีประสบการณ์ โดยมีความ
    คาดหวังในผลการเรียนรู้ด้านทักษะความสัมพันธ์ระหว่างตัวบุคคลและความสามารถในการรับผิดชอบ
    มีการแลกเปลี่ยนความคิดเห็นวิเคราะห์ และอภิปรายร่วมกัน แทรกเสริมประสบการณ์หรือความรู้ที่
    ทันสมัย หรือใช้เทคโนโลยีที่ทันสมัยและแปลกใหม่
        2. ให้การฝึกปฏิบัติการแก่นักศึกษา
        3. ให้แบบฝึกหัด
        4. ให้นักศึกษามีการศึกษาค้นคว้าด้วยตนเอง สรุปประเด็นจากการศึกษา
        5. จัดอภิปรายกลุ่ม และน าเสนอหน้าชั้น โดยอธิบายถึงข้อจ ากัด เหตุผลในการเลือกใช้
    เครื่องมือหรือทฤษฎีต่างๆ และการอภิปรายกรณีศึกษาต่าง ๆ 
            </pre>
        </div>
        <div>
            <h3 class="box-label-title">สื่อการเรียนการสอน</h3>
            <pre>
        1. เอกสารประกอบการสอน
        2. สื่ออิเล็กทรอนิกส์
        3. ใบงาน / แบบฝึกหัด
            </pre>
        </div>
        <div>
            <h3 class="box-label-title">การวัดผลและประเมินผล</h3>
            <pre>
        1. การวัดโดยวิธีการสังเกต
            1.1 การแต่งกาย
            1.2 การตรงต่อเวลา
            1.3 การมีส่วนร่วมในชั้นเรียน
            1.4 ความสนใจและความตั้งใจ
        2. การประเมินผล
            2.1 ตรวจรายงาน
            2.2 ตรวจแบบฝึกหัด
            2.3 ตรวจผลงานภาคปฏิบัติ
            2.4 ตรวจผลงานต่าง ๆ ที่ให้ท า
            2.5 การน าเสนอรายงานในชั้นเรียน
            2.6 ทดสอบโดยใช้ข้อสอบข้อเขียน
            </pre>
        </div>
    </div>
</div>