<div class="content">
    <div class="paper">
        <h2 class="box-head-title">การลดรูปสมการพีชคณิตบูลีน (Simplifying Boolean Expressions)</h2>
        <p class="abs">
            เนื่องจากเราสามารถใช้กฎของพีชคณิตบูลีนลดรูปสมการพีชคณิตบูลีนหรือสมการตรรกะที่มี
            ความยาวมากให้สั้นลงได้ John, Crisp. (2000 : 87) ได้กล่าวถึงข้อดีเกี่ยวกับการออกแบบวงจรลอจิก
            หลายประการ อาทิ ลดจำนวนอุปกรณ์ในการต่อวงจร แผ่นวงจรพิมพ์ (Circuit Board) มีขนาดที่
            เล็กลงและทำให้ประหยัดค่าใช้จ่าย ใช้พลังงานน้อยลง ลดความร้อน ลดการบำรุงรักษา ดังนั้นโดย
            ภาพรวมแล้วการลดรูปสมการพีชคณิตบูลีนช่วยให้การออกแบบวงจรลอจิกมีประสิทธิภาพสูงขึ้น
        </p>
        <div class="box-img">

            <img src="assets/image/c4/ex4_9.PNG">
        </div>
        <p class="abs">
            ภาพประกอบ 4.2 การเท่ากันของสมการตรรกะ
            ที่มา : Tony, R. Kuphaldt. (2004 : 186)
        </p>
        <p class="abs">
            จากภาพประกอบ 4.2 จากสมการ A + AB ซี่งประกอบด้วย 2 พจน์ และ 2 ตัวแปร ซึ่งมี
            ผลลัพธ์เท่ากับ A เราสามารถพิสูจน์โดยใช้กฎของพีชคณิตบูลีนลดรูปสมการดังนี้ (Tony, R.
            Kuphaldt, 2004 : 186-187)
        </p>
        <div class="box-img">

            <img src="assets/image/c4/p4_1.PNG">
        </div>
        <p class="abs">
            เมื่อทำการลดรูปแล้วจะเห็นว่าสมการลดการใช้ตัวแปรจาก 2 ตัวเหลือเพียงตัวแปรเดียว และ
            ลดตัวดำเนินการลงทั้ง 2 ตัว
        </p>
        <div class="box-img">

            <img src="assets/image/c4/ex4_9.PNG"><br>
        </div>
        <div class="box-img">

            <img src="assets/image/c4/ex4_10.PNG">
        </div>
    </div>
</div>