<div class="content">
    <div class="paper">
        <div>
            <h2 class="box-head-title">การแปลงเลขฐานแปดเป็นฐานสิบหก (Octal to Hexadecimal Conversion)</h2>
            <p class="abs">
                สามารถคำนวณได้จากการบ่งเลขฐานแปดทีละหลัก แปลงเลขฐานแปดให้เป็นเลขฐานสอง
                ด้วยการเปรียบเทียบจากตารางเลขฐาน แล้วนำเลขฐานสองที่ได้แปลงให้เป็น เลขฐานสิบหกอีกครั้ง
                หนึ่ง
            </p>
            <div class="box-img">
                <img src="assets/image/c2/ex2__15.PNG">

            </div>
        </div>
    </div>
</div>