<div class="content">
    <div class="paper">
        <h2 class="box-head-title">การเขียนสมการตรรกะจากตารางความจริง (Converting Truth Tables into Boolean Expressions)
        </h2>
        <p class="abs">
            Stephen, D. Brown. (2005 : 40) ได้กล่าวว่า เราสามารถการเขียนสมการตรรกะจาก
            ตารางความจริง ในรูปของ minter ได้โดยพิจารณาค่าของอินพุตที่เป็น “1” แทนด้วย x สำหรับค่า
            อินพุตที่เป็น “0” แทนด้วย <ng-katex [equation]="'\\overline{x}'"></ng-katex>
            ในทำนองเดียวกันค่าของอินพุตที่เป็น “0” แทนด้วย x สำหรับค่า
            อินพุตที่เป็น “1” แทนด้วย <ng-katex [equation]="'\\overline{x}'"></ng-katex> สำหรับ Maxterm ดังตาราง 4.2
        </p>
        <p class="abs">
            ตาราง 4.4 สมการตรรกะจากตารางความจริง
        </p>
        <div class="box-img">

            <img src="assets/image/c4/ex4_6.PNG">
        </div>
        <p class="abs">
            ที่มา : Stephen, D. Brown. (2005 : 40)
        </p>
        <p class="abs">
            การแทนสมการตรรกะของ minterm ใช้สัญลักษณ์ m (ตัวพิมพ์เล็ก) และสมการในรูปแบบ
            Maxterm จะใช้สัญลักษณ์ M (ตัวพิมพ์ใหญ่)

            ตัวอย่าง 4.6 จงเขียนสมการตรรกะรูปของ Minterm และ Maxterm จากตารางความ
            จริงต่อไปนี้
        </p>
        <div class="box-img">

            <img src="assets/image/c4/ex4_7.PNG">
        </div>
        <p class="abs">
            Enoch, O. Hwang. (2005 : 40-41) ได้กล่าวว่า สามารถเขียนรูปสมการตรกรระของ
            Minterm และ Maxterm ด้วยรูปแบบมาตรฐานของพีชคณิตโดยสัญกรณ์แบบสั้น (Shorthand
            Notation) สำหรับ Minterm แทนด้วยสัญลักษณ์ <ng-katex [equation]="'\\sum'"></ng-katex> และสำหรับ Maxterm
            แทนด้วยสัญลักษณ <ng-katex [equation]="'\\Pi'"></ng-katex>
        </p>
        <p class="abs">
            รูปสมการของ Minterm สามารถเขียนในรูปของฟังก์ชันได้นี้

            <ng-katex [equation]="'f(x_1,x_2,x_3)=\\sum(m_3,m_4,m_6)'"></ng-katex>

            หรือ

            <ng-katex [equation]="'f(x_1,x_2,x_3)=\\sum M(3,4,6)'"></ng-katex>

            และรูปสมการของ Maxterm สามารถเขียนในรูปของฟังก์ชันได้ดังนี้

            <ng-katex [equation]="'f(x_1,x_2,x_3)=\\Pi(m_0,m_1,2m_6,m_7)'"></ng-katex>

            หรือ

            <ng-katex [equation]="'f(x_1,x_2,x_3)=\\sum M(0,1,2,5,7)'"></ng-katex>
        </p>
        <div class="box-img">

            <img src="assets/image/c4/ex4_8.PNG">
        </div>
    </div>
</div>