<div class="content">
    <h2>ระบบอิเล็กทรอนิกส์แบบดิจิทัล (Digital Electronic System)</h2>
    <pre>
        Jean, Pierre Deschamps, Elena Valderrama and Lluís, Terés. (2017 : 5) ได้กล่าว
    ว่า ระบบดิจิทัลถูกใช้งานอยู่ในวงจรอิเล็กทรอนิกส์ที่ถูกสร้างด้วยทรานซิสเตอร์เป็นองค์ประกอบหลัก
    ทรานซิสเตอร์เป็นอุปกรณ์ที่มีขนาดเล็กมาก ทำหน้าที่เป็นสวิตซ์ และยังเป็นองค์ประกอบดิจิทัลที่
    สำคัญใน ไมโครโปรเซสเซอร์ ซึ่งเป็นวงจรขนาดใหญ่มากที่สามารถดำเนินการคำสั่งที่มีความซับซ้อน
    เป็นอย่างมาก และเป็นส่วนประกอบของคอมพิวเตอร์ หุ่นยนต์ เครื่องจักร เครื่องบิน เป็นต้น
    Jean, Pierre Deschamps, Elena Valderrama and Lluís, Terés. (2017 : 10-14) ได้
    กล่าวว่า ระบบดิจิทัลโดยทั่วไปประกอบด้วยอินพุต และเอาท์พุตจำนวนจำกัด การออกแบบและสร้าง 
    วงจรอิเล็กทรอนิกส์เพื่อใช้งานระบบดิจิทัลจะใช้ทรานซิสเตอร์ประกอบเป็นวงจรเพื่อควบคุมการ
    ดำเนินการข้อมูลดิจิทัล โดยมี 3 องค์ประกอบดังนี้
        1. โครงสร้างของระบบดิจิทัล
    โดยทั่วไประบบดิจิทัลประกอบไปด้วยส่วนการนำข้อมูลเข้า หรือ อินพุต ส่วนประมวลผล
    และส่วนนำข้อมูลออก หรือ เอาท์พุต ดังภาพประกอบ 1.10
    </pre>
    <img src="assets/image/c1/1_10.PNG">
    <pre>
        ภาพประกอบ 1.10 โครงสร้างของระบบดิจิทัล
        ที่มา : Jean, Pierre Deschamps, Elena Valderrama and Lluís, Terés. (2017 : 10)                       
    </pre>
    <pre>
        จากภาพที่ 1.8 ระบบดิจิทัลสามารถเชื่อมต่อกับอุปกรณ์อินพุตและเอาท์พุตได้หลากหลาย
    โดยอุปกรณ์แต่ละตัวจะต้องมีส่วนติดต่อกับระบบดิจิทัลเป็นของตนเอง ซึ่งทำหน้าที่ในการแปลงข้อมูล
    หรือสัญญาณให้อยู่ในรูปของสัญญาณดิจิทัล รวมไปถึงการเข้ารหัสและถอดรหัสในแบบต่าง ๆ ส่วน
    ของระบบดิจิทัลจะถูกสร้างโดยอุปกรณ์อิเล็กทรอนิกส์ซึ่งเปรียบได้กับ สมองของระบบ ทำหน้าที่ใน
    การประมวลผลข้อมูลอินพุตและส่งข้อมูลเอาท์พุตไปยังอุปกรณ์ขาออกต่าง ๆ
        2. ส่วนประกอบอิเล็กทรอนิกส์
    การสร้างระบบดิจิทัลอิเล็กทรอนิกส์ตัววงจรอิเล็กทรอนิกส์เกิดจากการนำชิ้นส่วน
    อิเล็กทรอนิกส์ เช่น ทรานซิสเตอร์ ตัวต้านทานไฟฟ้า ตัวเก็บประจุไฟฟ้า วงจรรวม แผ่นวงจรพิมพ์
    เป็นต้น มาประกอบกันเพื่อทำหน้าที่ในการควบคุมสัญญาณดิจิทัล และถูกนำไปใช้ในวงจร ลอจิกเกต
    ซึ่งเป็นส่วนสำคัญหลักในระบบคอมพิวเตอร์John E. Ayers. (2003 : 5) ได้กล่าวว่า ในปัจจุบันวงจร
    พื้นฐานได้ถูกรวมไว้ใน วงจรรวม เพื่อลดระยะเวลา ลดต้นทุนในการพัฒนางานที่มีความซับซ้อนไม่
    มาก และเป็นที่นิยมในการใช้งาน เนื่องจากมีความเร็วสูง มีขนาดเล็ก ใช้พลังงานต่ำ และปล่อยความ
    ร้อนน้อยมาก แม้กระทั้งในหน่วยประมวลผลที่มีความซับซ้อนมาก เช่น หน่วยประมวลกลางของ
    คอมพิวเตอร์ หรือหน่วยประมวลผลด้านกราฟิก ซึ่งมีจำนวนทรานซิสเตอร์กว่า 800 ล้านตัว และ
    1,400 ล้านตัว ตามลำดับ วงจรรวมได้ถูกแบ่งออกเป็น 4 ระดับ ดังตาราง 1.1
    </pre>
   
    <pre>
        ตาราง 1.1 ระดับของวงจรรวม
    </pre>
    <table style="width:20%">
        <tr>
          <th>Level of Integration</th>
          <th></th>
          <th>Gates/Chip</th>
        </tr>
        <tr>
          <td>Small-scale integration</td>
          <td>SSI </td>
          <td>1-10</td>
        </tr>
        <tr>
          <td>Medium-scale integration </td>
          <td>MSI  </td>
          <td>10-100</td>
        </tr>
        <tr>
          <td>Large-scale integration </td>
          <td>LSI </td>
          <td>100-104</td>
        </tr>
        <tr>
          <td>Very large-scale integration </td>
          <td>VLSI </td>
          <td>>10</td>
        </tr>
      </table>
      <pre>
        ที่มา : John E. Ayers. (2003 : 10)
    </pre>
    <pre>
        จากตารางที่ 1.1 จ านวนของทรานซิสเตอร์ที่อยู่ในวงจรรวมมีมากขึ้น แต่ขนาดของแผ่น
    ซิลิกอน (Silicon Wafer) ที่ใช้ผลิตนั้นมีขนาดเท่าเดิม (200 - 300 มิลิเมตร) นั้นหมายความว่า
    ทรานซิสเตอร์จะต้องมีขนาดเล็กลง จึงสามารถบรรจุอยู่ในแผ่นซิลิกอนที่มีขนาดเท่าเดิมได้ และในปี
    พ.ศ. 2560 ได้มีการเริ่มสายการผลิตทรานซิสเตอร์ที่มีขนาดเพียง 5 นาโนเมตรแล้ว ทำให้แผ่นซิลิกอน
    สามารถบรรจุทรานซิสเตอร์ได้มากกว่า 2 พันล้านตัว
    มอสทรานซิสเตอร์ (MOS Transistor) หรือ มอสเฟต (MOSFET) เป็นทรานซิสเตอร์ ที่ใช้
    อิทธิพลสนามไฟฟ้าในการควบคุมสัญญาณไฟฟ้า นิยมใช้ในวงจรดิจิตอล โดยนำไปสร้างลอจิกเกตต่าง ๆ 
    เพราะมีขนาดเล็ก มอสเฟตมี 2 ประเภท คือ
    1. nMOS (negative MOSFET) เป็นทรานซิสเตอร์ประเภท NPN เมื่อมีความต่างศักย์เป็น
    บวก (สนามไฟฟ้าแรง) สัญญาณไฟฟ้าจึงจะไหลจาก Source ไป Drain ได้
    2. pMOS (positive MOSFET) เป็นทรานซิสเตอร์ประเภท PNP เมื่อมีความต่างศักย์ต่ำหรือ
    เป็นลบ (สนามไฟฟ้าอ่อน) สัญญาณไฟฟ้าจึงจะไหลจาก Source ไป Drain ได้
    มอสเฟตในทางดิจิตอลถูกมองว่าเป็นสวิตซ์ โดย nMOS จะเป็นสวิตซ์ที่เมื่อสัญญาณเข้าเป็น
    "1" สวิตซ์ก็จะปิด ถ้าไม่สวิตซ์ก็ยังเปิดอยู่ (Normal Opened Switch) ส่วน pMOS จะเป็นสวิตซ์ที่
    เมื่อสัญญาณเข้าเป็น "1" สวิตซ์ก็จะเปิด ถ้าไม่สวิตซ์ก็จะปิดอยู่ (Normal Closed Switch) โดย Gate
    (G) เป็นส่วนที่ทำมาจากออกไซด์ของโลหะ โดยสร้างให้เกิดความต่างศักย์ตกคร่อมระหว่างแผ่นสอง
    แผ่นเพื่อ สร้างสนามไฟฟ้าเพื่อควบคุมการเข้าออกของสัญญาณไฟฟ้า Source (S) เป็นส่วนขาเข้าของ
    สัญญาณ และ Drain (D) เป็นส่วนขาออกของสัญญาณ ดังภาพประกอบ 1.11
    </pre>
    <img src="assets/image/c1/1_11.PNG">
    <pre>
        ภาพประกอบ 1.11 มอสเฟต (ก) nMOS (ข) pMOS
        ที่มา : Jean, Pierre Deschamps, Elena Valderrama and Lluís, Terés. (2017 : 11)                       
    </pre>
    <pre>
        3. การสังเคราะห์ระบบอิเล็กทรอนิกส์แบบดิจิตอล
    ปัญหาอาจเป็นได้ของระบบอิเล็กทรอนิกส์แบบดิจิตอล คือ นักออกแบบระบบมีการกำหนด
    ระบบที่จะพัฒนาขึ้นที่หลากหลาย และในทางกลับกันผู้ออกแบบระบบจะมีรายการของส่วนประกอบ
    อิเล็กทรอนิกส์ที่มีอยู่แล้ว เช่น วงจรรวม ลอจิเกต หน่วยความจำ และอื่น ๆ รวมไปถึงวงจรที่พัฒนามา
    ก่อนหน้า เพื่อเป็นการลดระยะเวลาในการพัฒนาอาจมีการนำวงจร หรือส่วนประกอบนั้น ๆ นำมาใช้
    ใหม่แต่ถือว่าเป็นข้อจำกัดของการพัฒนาระบบใหม่ เนื่องจากต้องอยู่ภายใต้ข้อจำกัดของอุปกรณ์ที่มี
    อยู่ หรือไม่สามารถออกแบบระบบได้ตามที่ต้องการเนื่องจากไม่มีส่วนประกอบอิเล็กทรอนิกส์มีใน
    รายการ ดังนั้นผู้พัฒนาระบบอิเล็กทรอนิกส์แบบดิจิตอลจะต้องคำนึงถึงความเป็นไปได้ของ
    ส่วนประกอบอิเล็กทรอนิกส์ที่มีด้วย

    </pre>


</div>